@use "scss/variables";

.codeCopyButton {
  position: absolute;
  opacity: 0;
  right: variables.$spacing-md;
  top: variables.$spacing-md;
}

.codeBlock {
  position: relative;

  &:hover .codeCopyButton {
    opacity: 1;
  }
}
