@use "scss/variables";
@use "scss/colors";

.container {
  background-color: colors.$foreground;
  min-width: fit-content;
}

.section {
  border-bottom: variables.$border-thin solid colors.$grey-100;
}

.breadcrumbs {
  height: variables.$height-breadcrumb;
  display: flex;
  align-items: center;
}
