form#kc-reset-password-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xl);
}

#kc-reset-password-form .ab-form-group {
    grid-column: span 2;
    margin-top: 0;
}

#kc-reset-password-form .ab-form-group:has(label[for="firstName"]),
#kc-reset-password-form .ab-form-group:has(label[for="lastName"]) {
    grid-column: span 1;
    margin-top: 0;
}

#kc-reset-password-form .ab-form-group:has(#kc-form-buttons) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-xl);
}

#kc-info-wrapper {
    margin-top: var(--spacing-xl);
    font-size: var(--font-size-lg);
}

#kc-reset-password-form .ab-form-group:has(#kc-form-buttons) .ab-form-options-wrapper a {
    color: var(--color-grey-400);
    font-size: var(--font-size-lg);
}