@use "scss/colors";
@use "scss/variables";

.connectionEventsList {
  &__connectionTitle {
    background-color: colors.$grey-50;
    padding: variables.$spacing-md variables.$spacing-xl;
    font-weight: 500;
    border-radius: variables.$border-radius-sm;
  }

  &__eventLink {
    display: flex;
    align-items: center;
    border-radius: variables.$border-radius-sm;
    color: inherit;
    text-decoration: none;
    gap: variables.$spacing-md;
    padding: variables.$spacing-md variables.$spacing-xl;

    &:hover,
    &:focus-visible {
      background-color: colors.$blue-30;
    }
  }
}
