@use "scss/variables";
@use "scss/colors";

.container {
  width: 100%;

  &--full {
    height: 260px;
    padding: variables.$spacing-md;
  }
}

.tooltipWrapper {
  background-color: colors.$foreground !important;
  color: colors.$dark-blue span {
    color: colors.$dark-blue;
  }
}

:export {
  white: colors.$foreground;
  green: colors.$green;
  grey: colors.$grey-500;
  grey100: colors.$grey-100;
  darkBlue: colors.$dark-blue;
}
