@use "scss/variables";
@use "scss/colors";

.content {
  padding: 0 variables.$spacing-lg;

  a {
    text-decoration: none;
  }
}

// can be removed after KC's PR is merged
th.header {
  padding-left: variables.$spacing-sm;

  &:first-child {
    padding-left: variables.$spacing-sm;
  }

  &:last-child {
    padding-left: variables.$spacing-sm;
  }

  &--light {
    background-color: colors.$white !important;
  }
}

.header {
  &--nonSortable {
    margin-left: variables.$spacing-sm;
  }

  &--sorted {
    color: colors.$grey-600 !important;
  }
}

.usageValue {
  padding-right: variables.$spacing-md;
  min-width: 53px;
  text-align: right;

  &--green {
    color: colors.$green;
  }
}

.cellText {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
