@use "scss/colors";
@use "scss/variables";

$sidebar-workspace-font-size: 9px;
$sidebar-workspace-font-weight: 400;

.mainContainer {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 680px;

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .dataBlock {
      overflow-y: auto;
      flex-grow: 1;
    }
  }
}

.workspaceButton {
  overflow: hidden;
  cursor: pointer;
  display: block;
  height: 21px;
  width: 85px;
  border: variables.$border-thin solid colors.$grey-100;
  border-radius: variables.$border-radius-lg;
  background-color: rgba(255, 255, 255, 20%);
  padding: 0 variables.$spacing-md;
  font-size: $sidebar-workspace-font-size;
  font-weight: $sidebar-workspace-font-weight;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  outline: none;

  &:focus-visible {
    outline: 1px solid colors.$white;
  }
}
