@use "scss/variables";

.fieldMapping {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 30px 1fr 20px 1fr;
  gap: variables.$spacing-md;

  &__leftGutter {
    grid-column: 1;
    height: variables.$form-input-height;
  }

  &__source {
    grid-column: 2;
  }

  &__arrow {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: variables.$form-input-height;
  }

  &__destination {
    grid-column: 4;
  }

  &__destinationField {
    display: block;
  }

  &__addField {
    grid-column: 1 / -1;
  }

  &__removeField {
    height: variables.$form-input-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__additionalMappers {
    grid-column: 2 / 3;
  }
}
