@use "scss/colors";
@use "scss/variables";

.text {
  font-weight: 500;
  font-size: variables.$font-size-lg;
  line-height: 1.2;
  margin: 0;

  .launch {
    color: colors.$blue-400;
  }

  .sum {
    font-weight: 700;
  }
}
