@use "scss/colors";
@use "scss/mixins";
@use "scss/variables";

.button {
  @include mixins.shadow;

  background: colors.$foreground;
  border-radius: variables.$border-radius-lg;
  border: none;
  padding: variables.$spacing-xl variables.$spacing-xl;
  width: 100%;
  min-height: 100px;
}

.orgPill {
  background: colors.$green-30;
  border-radius: variables.$border-radius-pill;
  color: colors.$green-500;
  border: variables.$border-thin solid colors.$green-50;
  width: fit-content;
}

.orgPillAlso {
  background: colors.$blue-30;
  border-radius: variables.$border-radius-pill;
  color: colors.$green-500;
  border: variables.$border-thin solid colors.$blue-50;
  width: fit-content;
}
