@use "scss/colors";
@use "scss/mixins";
@use "scss/variables";

.workspaceItem__button {
  background: colors.$foreground;
  border-radius: variables.$border-radius-lg;
  border: variables.$border-thin solid colors.$border-color;
  padding: variables.$spacing-xl variables.$spacing-xl;
  width: 100%;
  min-height: 100px;
  overflow-wrap: break-word;

  &:hover,
  &:focus-visible {
    background: colors.$grey-50;
  }
}

.workspaceItem__workspaceButtonTextContent {
  width: 100%;
  flex: 1;
  min-width: 0;
}

.workspaceItem__workspaceName {
  flex: 1;
  overflow-wrap: break-word;
}

.workspaceItem__workspaceButtonCaret {
  flex-shrink: 0;
}
