@use "scss/colors";
@use "scss/variables";

.newJobItem {
  border: variables.$border-thick solid transparent;
  border-bottom: variables.$border-thin solid colors.$grey-100;
  padding: variables.$spacing-xl;
  display: flex;
  align-items: center;

  &--linked {
    border: variables.$border-thick solid colors.$yellow-200;
  }

  &__modalLoading {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__timestamp {
    text-align: right;
    white-space: nowrap;
  }
}
