@use "scss/variables";
@use "scss/mixins";
@use "scss/colors";

.leftPanel {
  > *:last-child {
    padding-bottom: variables.$spacing-page-bottom-cloud;
  }
}

.rightPanel {
  @include mixins.left-shadow;

  background-color: colors.$foreground;
  border-top-left-radius: variables.$border-radius-lg;
  border-bottom-left-radius: variables.$border-radius-lg;
}
