@use "scss/colors";
@use "scss/variables";

.container {
  min-height: 100vh;
  padding-bottom: 40px;
  background-color: colors.$foreground;
}

.content {
  padding: 0 variables.$spacing-2xl variables.$spacing-2xl;
}
