@use "scss/colors";
@use "scss/variables";

.container {
  min-height: 100vh;
  padding-bottom: 40px;
  background-color: colors.$white;
}

.content {
  padding: 0 variables.$spacing-2xl;
}

// can be removed with new connection flow flag being turned on
.stepsContainer {
  padding-top: variables.$spacing-lg;
  padding-left: variables.$spacing-lg;
}
