@use "scss/colors";
@use "scss/variables";

.container {
  min-height: 100vh;
  background-color: colors.$foreground;
}

.header {
  margin: 0 variables.$spacing-xl;
  padding: variables.$spacing-lg variables.$spacing-xl;
  border-bottom: 1px solid colors.$grey-100;
}

.content {
  padding: variables.$spacing-md variables.$spacing-2xl;
}

.focusable {
  scroll-margin-top: variables.$spacing-2xl;
  transition: background-color 1s, box-shadow 1s ease;

  &--focused {
    background-color: colors.$yellow-50;
    box-shadow: 0 0 0 variables.$spacing-md colors.$yellow-50;
  }
}
