@use "scss/variables";
@use "scss/colors";

$min-width-card-row: 650px;

.subscribe {
  border: variables.$border-thin solid colors.$grey-100;
  border-radius: variables.$border-radius-lg;
  container-type: inline-size;

  &__cards {
    @container (max-width: #{$min-width-card-row}) {
      flex-direction: column;
    }
  }

  &__card {
    flex: 1 1 0;
    border: variables.$border-thin solid colors.$grey-100;
    border-radius: variables.$border-radius-sm;

    ul {
      padding-inline-start: variables.$spacing-xl;
      line-height: 1.5;
    }

    &--primary {
      border-color: colors.$blue-400;
      background-color: colors.$blue-30;
    }
  }

  &__cardText {
    font-weight: 400;
  }
}
