@use "scss/variables";
@use "scss/colors";

.table {
  padding-bottom: variables.$spacing-md;
}

.content {
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.button {
  padding: 0 !important;
  height: 16px !important;
  opacity: 0;
}

.cell:hover .button {
  opacity: 1;
}
