@use "scss/variables";
@use "scss/colors";

.button {
  padding: variables.$spacing-sm variables.$spacing-md;
  background-color: transparent;
  border: variables.$border-thin solid colors.$grey-200;
  border-radius: variables.$border-radius-xs;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: auto;
  font-size: 10px;
}

.sliceDescriptor {
  background-color: colors.$grey-50;
  border-radius: variables.$border-radius-md;
  display: grid;
  grid-template-columns: minmax(auto, max-content) auto;
  column-gap: variables.$spacing-md;
  row-gap: variables.$spacing-md;
  padding: variables.$spacing-md;
}

.overflowText {
  text-overflow: ellipsis;
  overflow: hidden;
}
