@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

/*
* This eliminates flickering scrollbars when resizing using the reflex splitter.
* Class names need to be repeated so that it overrides default reflex styles.
* See more details in https://github.com/airbytehq/airbyte/pull/15996#issuecomment-1229019827
*/
.panelStyle.panelStyle {
  overflow: hidden;
}

.panelContainer {
  overflow: auto;
  height: 100%;
}

.lightOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: colors.$foreground;
  overflow: hidden;
  padding-top: variables.$spacing-2xl;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.rotatedHeader {
  // this causes header to be rotated clockwise by default
  writing-mode: vertical-lr;
  white-space: nowrap;
}

.counterClockwise {
  transform: rotate(180deg);
}

.panelGrabberVertical {
  height: 100%;
  width: 20px;
  display: flex;
  flex-direction: row;
}

.panelGrabberHorizontal {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: column;
}

.handleIcon {
  background-color: colors.$grey-100;
  border-radius: variables.$border-radius-md;
  margin: auto;
}

.handleIconVertical {
  height: 30px;
  width: 3px;
}

.handleIconHorizontal {
  width: 30px;
  height: 3px;
}

.fullWidth {
  // Overwrite the flex-grow set by the react-reflex to stretch a container to full width
  flex-grow: 1 !important;
}

.splitter {
  // !important is necessary to override the default reflex styles
  border: 0 !important;
  background-color: transparent !important;
  height: auto !important;
  z-index: z-indices.$panelSplitter !important;
}

.hidden {
  display: none;
}
