@use "scss/variables";
@use "scss/colors";

.scimIdpProviderSelector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  border: variables.$border-thin solid colors.$grey-100;
  border-radius: variables.$border-radius-md;
  overflow: hidden;

  &--disabled {
    border-color: colors.$grey-50;
  }

  &__segment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: variables.$spacing-sm variables.$spacing-md;
    font-size: variables.$font-size-sm;
    font-weight: 500;
    color: colors.$grey-400;
    background-color: colors.$foreground;
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
      border-right: variables.$border-thin solid colors.$grey-100;
    }

    &[data-checked] {
      color: colors.$dark-blue;
      background-color: colors.$blue-50;
    }

    &[data-disabled] {
      color: colors.$grey-300;
      background-color: colors.$grey-50;
      cursor: not-allowed;

      &[data-checked] {
        color: colors.$blue-300;
        background-color: colors.$blue-30;
      }
    }

    &:focus-visible {
      outline: variables.$border-thick solid colors.$blue-900;
      outline-offset: -#{variables.$border-thick};
    }
  }
}
