@use "scss/colors";
@use "scss/variables";

.card {
  width: auto;
  background: colors.$foreground;
  border: variables.$border-thin solid colors.$border-color;
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-xl;

  &__header {
    cursor: pointer;
  }

  &__header-link {
    margin-left: auto;
  }

  &__header-button {
    color: colors.$blue-400;
  }
}

.step {
  border: variables.$border-thin solid colors.$border-color;
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-lg;
  transition:
    border-color 0.2s ease,
    opacity 0.2s ease;

  &--active {
    border-color: colors.$blue-200;
  }

  &--inactive {
    opacity: 0.5;
  }
}

.stepContent {
  &--disabled {
    opacity: 0.5;
  }
}

.uriText {
  font-family: monospace;
  word-break: break-all;
  display: block;
}
