@use "scss/colors";
@use "scss/variables";

.versionItem {
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-md;
  border: none;
  background: none;
  display: block;
  text-align: left;

  &:hover {
    cursor: pointer;
    background: colors.$grey-50;
  }
}
