@use "scss/colors";
@use "scss/variables";

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: colors.$dark-blue-900;
  font-weight: 500;
  font-size: variables.$font-size-lg;
  line-height: 1.2;
  margin: 5px 0 10px;
}
