[bumpversion]
commit = False
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-[a-z]+)?
serialize = 
	{major}.{minor}.{patch}

[bumpversion:file:.version]
search = VERSION=dev
replace = VERSION={new_version}

[bumpversion:file:airbyte-container-orchestrator/Dockerfile]
search = ARG VERSION=dev
replace = ARG VERSION={new_version}

[bumpversion:file:airbyte-server/Dockerfile]
search = ARG VERSION=dev
replace = ARG VERSION={new_version}

[bumpversion:file:airbyte-connector-builder-server/Dockerfile]
search = ARG VERSION=dev
replace = ARG VERSION={new_version}
