.gradle
.idea
*.iml
*.swp
build
out
.DS_Store
data
!oss/airbyte-data/src/main/java/io/airbyte/data/*
.dockerversions
.classpath
.project
.settings
.vscode
**/gmon.out
static_checker_reports/

# Logs
acceptance_tests_logs/

# Secrets
secrets
!airbyte-config/config-secrets/src/main/kotlin/secrets
updated_configurations
!airbyte-integrations/connector-templates/**/secrets

# include airbyte-data
!airbyte-data/src/**/data

# Test logs
acceptance_tests_logs

# Python
*.egg-info
__pycache__
.eggs
.venv
.mypy_cache
.ipynb_checkpoints
.pytest_

# Python unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# dbt
profiles.yml

# Terraform
.terraform/
crash.log
*.tfstate
*.tfstate.backup
*.lock.hcl

# Airflow Demo
resources/examples/airflow/logs/*
!resources/examples/airflow/logs/.gitkeep

# Ignore docs folder, since we're using it to temporarily copy files into on CI
/docs

# Ignore downloaded connector registry
**/specs_secrets_mask.yaml
**/oss_registry.json
**/local_oss_registry.json

# Files generated for uploading to GCS
airbyte-config/**/resources/seed/oss_catalog.json

# Helm charts .tgz dependencies
charts/**/charts

# Snyk
.dccache

# Datadog
dd-java-agent.jar

# Ignore airbyte.yml since this file contains user-provided information that is sensitive and should not be committed
# See airbyte.sample.yml for an example of the expected file structure.
/configs/airbyte.yml

# ignore local gradle build log
build.log
