@use "scss/variables";
@use "scss/colors";
@use "scss/z-indices";

.popoverPanel {
  background-color: colors.$foreground;
  z-index: z-indices.$modal;
  border-radius: variables.$border-radius-md;
  box-shadow: variables.$box-shadow-popup;
  border: 1px solid colors.$yellow-600;
}

.assistConfigPanel {
  width: variables.$width-modal-md;
  max-width: 100%;
  padding: variables.$spacing-xl;
}

.assistForm {
  margin-top: variables.$spacing-md;
}

.assistTitle {
  line-height: 1;
}
