@use "scss/variables";
@use "scss/colors";

.container {
  height: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: variables.$spacing-lg;
  width: 100%;
  min-width: 600px;
}

.streamViewText {
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.emptyStreamViewText {
  color: colors.$grey-300;
}

.streamsHeader {
  width: 100%;
  padding: 0 variables.$spacing-sm 0 variables.$spacing-md;
}

.streamsHeading {
  color: colors.$blue;
  text-align: center;
  text-transform: uppercase;

  // Set line-height to 1 to make this centered with the info tooltip icon, and because this is a single line anyway
  line-height: 1;
  padding-top: 2px;
}

$buttonWidth: 26px;

.addStreamButton {
  width: $buttonWidth;
  height: $buttonWidth !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
  z-index: 3;
  position: relative;
}

.card {
  & > div {
    padding-bottom: 0;
  }
}

.streamNameInput {
  & input {
    font-weight: bold;
    font-size: 15px;

    &::placeholder {
      font-weight: normal;
      font-size: 13px;
    }
  }

  width: auto;
}
