@use "scss/colors";
@use "scss/variables";

.roleManagementMenu__rolesList,
.roleManagementMenu__role {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.roleManagementMenu__menuTitle {
  border-bottom: variables.$border-thin solid colors.$grey-100;
}
