@use "scss/variables";
@use "scss/colors";

$buttonWidth: 26px;

.body {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xl;
  overflow: visible;
}

.buttonContainer {
  position: relative;
}

.addButton {
  width: $buttonWidth;
  height: $buttonWidth !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px !important;
  z-index: 3;
  position: relative;
}

$animation-length: 3s;
$animation-size: -20px;

.buttonContainer--pulse::before {
  content: "";
  position: absolute;
  top: $animation-size;
  left: $animation-size;
  right: $animation-size;
  bottom: $animation-size;
  background-color: colors.$blue-300;
  border-radius: 50%;
  z-index: 2;
  transform: scale(0.5);
  opacity: 0.3;
  animation: pulsate $animation-length infinite;
}

.buttonContainer--pulse::after {
  content: "";
  position: absolute;
  top: $animation-size;
  left: $animation-size;
  right: $animation-size;
  bottom: $animation-size;
  background-color: colors.$blue-300;
  border-radius: 50%;
  z-index: 1;
  transform: scale(0.1);
  opacity: 0.3;
  animation: pulsate $animation-length infinite calc($animation-length/2);
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.3;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
