@use "scss/variables";
@use "scss/colors";

.card {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xl;
  position: relative;
  flex-grow: 1;
}

.copyButtonContainer {
  position: absolute;
  right: -50px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
}

.modalStreamListContainer {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  align-items: stretch;
}

.streamItem {
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-md;
  border: none;
  background: none;
  display: block;
  text-align: left;

  &:hover {
    cursor: pointer;
    background: colors.$grey-50;
  }
}

.docLink {
  color: colors.$blue-400;
}

.label {
  max-width: fit-content;
}

.toggleContainer {
  display: flex;
  gap: variables.$spacing-md;
  align-items: center;
}

.toggleLabel {
  & label {
    cursor: pointer;
  }
}

.toggleLabelHeader {
  margin-bottom: 0;
}

.yamlEditor {
  min-height: 50px;
  height: 200px;
  overflow: hidden;
  resize: vertical;
}

.yamlEditorToggle {
  align-self: flex-end;
}

.discardYamlError {
  overflow-x: auto;
  background-color: colors.$grey-100;
  padding: variables.$spacing-md;
  border-radius: variables.$border-radius-xs;
}

.yamlError {
  white-space: pre-wrap;
}

.hiddenCopyOption {
  display: none;
}
