@use "scss/variables";
@use "scss/colors";
@use "scss/mixins";
@use "../builderVariables.scss";

.container {
  height: 100%;
  display: flex;
}

.builderView {
  flex: 1;
  padding: variables.$spacing-xl;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}
