@use "scss/variables";
@use "scss/colors";

.error {
  margin-top: variables.$spacing-sm;
  color: colors.$red;
}

.draghandle {
  overflow: hidden;
}

.draghandle::before,
.draghandle::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 1px;
  background-color: colors.$grey-400;
}

.draghandle::before {
  transform: translate(3px, 0) rotate(-45deg);
}

.draghandle::after {
  transform: translate(7px, 0) rotate(-45deg);
}

.switchLabel {
  label {
    padding-bottom: 0;
  }
}

.jsonEditor,
.graphqlEditor {
  min-height: 50px;
  height: 200px;
  overflow: hidden;
  resize: vertical;
}

.inputPreview {
  color: colors.$grey-300;
  font-size: variables.$font-size-sm;
  margin-top: variables.$spacing-sm;
}
