@use "scss/variables";
@use "scss/colors";

.inputForm {
  overflow-y: scroll;
}

.inputFormBody {
  gap: variables.$spacing-lg;
  display: flex;
  flex-direction: column;
}

.deleteButtonContainer {
  flex-grow: 1;
}
