@use "scss/variables";
@use "scss/colors";
@use "../builderVariables.scss";

.button {
  cursor: pointer;
  border: variables.$border-thin solid colors.$dark-blue;
  background-color: colors.$dark-blue;
  border-radius: variables.$border-radius-sm;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-self: center;
  width: builderVariables.$toggleButtonWidth;
  flex-basis: auto;
  flex-shrink: 0;
}

.text {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  padding: 4px 8px;
}

.selected {
  background-color: transparent;
  color: colors.$foreground;
}

.unselected {
  background-color: colors.$foreground;
  color: colors.$dark-blue;
}
