@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";
@use "scss/mixins";

$message-icon-size: 18px;
$message-icon-container-size: 32px;

@mixin type($name, $color, $background) {
  &.#{$name} {
    --message-color: #{$color};

    background-color: $background;
    border-color: var(--message-color);

    .iconContainer {
      background-color: var(--message-color);
    }
  }
}

.messageContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: variables.$spacing-sm;
  box-sizing: border-box;
  padding: variables.$spacing-md;
  border-radius: variables.$border-radius-md;

  @include type("info", colors.$blue-400, colors.$blue-50);
  @include type("warning", colors.$yellow-500, colors.$yellow-50);
  @include type("success", colors.$green-200, colors.$green-50);
  @include type("error", colors.$red-300, colors.$red-50);
}

.messageContainerWithChildren {
  border-radius: variables.$border-radius-md variables.$border-radius-md 0 0;
}

@mixin children-type($name, $color, $background) {
  @include type($name, $color, $background);
  &.#{$name} {
    color: $color;
  }
}

.childrenContainer {
  border-radius: 0 0 variables.$border-radius-md variables.$border-radius-md;

  @include children-type("info", colors.$blue-400, colors.$blue-30);
  @include children-type("warning", colors.$yellow-500, colors.$yellow-50);
  @include children-type("success", colors.$green-200, colors.$green-30);
  @include children-type("error", colors.$red-300, colors.$red-30);
}

.iconContainer {
  width: $message-icon-container-size;
  height: $message-icon-container-size;
  max-height: $message-icon-container-size;
  min-width: $message-icon-container-size;
  padding: variables.$border-radius-sm;
  border-radius: variables.$border-radius-md;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageIcon {
  width: $message-icon-size;
  height: $message-icon-size;
  color: colors.$foreground;
  border-radius: 50%;
  padding: 1px;
}

.textContainer {
  align-self: center;
  flex-grow: 1;
  overflow-wrap: anywhere;
}

.text {
  line-height: 1.3;
  font-size: variables.$font-size-lg;
  text-align: left;
}

.secondaryText {
  line-height: 17px;
  text-align: left;
  margin-top: variables.$spacing-md;
}

.closeButton {
  svg {
    color: colors.$dark-blue-900;
  }
}
