@use "scss/colors";
@use "scss/variables";

.existingConnectors {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    background: colors.$foreground;
    border-bottom: variables.$border-thin solid colors.$grey-50;

    &:first-child {
      border-top-left-radius: variables.$border-radius-lg;
      border-top-right-radius: variables.$border-radius-lg;
    }

    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: variables.$border-radius-lg;
      border-bottom-right-radius: variables.$border-radius-lg;
    }

    &:hover {
      background: colors.$grey-50;
    }
  }
}
