@use "scss/colors";

.versionCell {
  width: 340px;
}

.inputField {
  display: inline-block;
  position: relative;
  background: colors.$foreground;

  .inputContainer {
    padding-bottom: 0; // overwrite default FormControl style

    .versionInput {
      max-width: 145px;
      margin-right: 19px;
    }
  }

  &::after {
    position: absolute;
    display: block;
    pointer-events: none;
    content: attr(data-before);
    color: colors.$grey-400;
    top: 10px;
    right: 22px;
  }

  &:focus-within::after {
    display: none;
  }
}
