@use "scss/colors";
@use "scss/variables";

.content {
  display: flex;
  flex-direction: row;
  padding: variables.$spacing-xl;
  margin-bottom: variables.$spacing-lg;
  align-items: center;
  justify-content: space-between;
  gap: variables.$spacing-lg;
}

.arrow {
  font-size: 29px;
  line-height: 29px;
  color: colors.$blue-500;
}
