@use "sass:math";
@use "scss/colors";
@use "scss/variables";

$line-height: 17px;
$icon-size: 14px;
$icon-padding: 5px;

.container {
  display: inline-block;
  color: colors.$grey;
  padding-left: $icon-padding;
}

.icon {
  position: relative;
  vertical-align: middle;
}
