@use "src/scss/variables";
@use "src/scss/colors";

.speedyConnectionbanner {
  &__container {
    width: calc(100% - 93px);
    position: fixed;
    top: 0;
    left: 93px;
    z-index: 3;
    padding: variables.$spacing-md;
    background-color: colors.$blue;
    color: colors.$white;
  }

  &__message {
    margin: auto;
    color: colors.$white;
    text-align: center;
  }

  &__cta {
    display: inline;
    color: colors.$white;
    font-weight: 700;
  }
}
