@use "src/scss/variables";
@use "src/scss/colors";

.speedyConnectionbanner {
  &__container {
    padding: variables.$spacing-md;
    background-color: colors.$blue;
    color: colors.$foreground;
  }

  &__message {
    margin: auto;
    color: colors.$foreground;
    text-align: center;
  }

  &__cta {
    display: inline;
    color: colors.$foreground;
    font-weight: 700;
  }
}
