@use "scss/colors";
@use "scss/variables";

.alertBannerContainer {
  height: 30px;
  width: 100%;
  text-align: center;
  top: 0;
  z-index: 3;
  font-size: variables.$font-size-sm;
  line-height: 30px;

  & a {
    color: inherit;
  }
}

.default {
  background-color: colors.$blue;
  color: colors.$white;
}

.red {
  background-color: colors.$red-400;
  color: colors.$white;
}
