# This file contains helm value overrides that should be applied for Airbyte Pro deployments.

global:
  edition: "pro"

keycloak:
  enabled: true
  bypassInit: false

keycloak-setup:
  enabled: true

server:
  env_vars:
    API_AUTHORIZATION_ENABLED: "true"

worker:
  env_vars:
    DISCOVER_REFRESH_WINDOW_MINUTES: "0"
