@use "scss/colors";
@use "scss/variables";
@use "scss/mixins";

.container {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: colors.$grey-50;
}

.header {
  padding: variables.$spacing-xl;
  background-color: colors.$foreground;
  border-bottom: variables.$border-thin solid colors.$grey-100;
}

.headerTitle {
  margin: 0;
}

.headerDescription {
  margin-top: variables.$spacing-sm;
}

.chatContainer {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0; // Allows flex items to shrink
  overflow: hidden;
}

.disabledContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: colors.$grey-50;
  color: colors.$grey-600;
  padding: variables.$spacing-xl;
  text-align: center;
  gap: variables.$spacing-md;
}

.disabledMessage {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
}
