@use "scss/colors";
@use "scss/variables";

.icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: block;
}

.background {
  width: 100%;
  height: 100%;
  background-color: colors.$inverse;
  border-radius: 12%;
  padding: 5%;
}
