@use "scss/variables";

.error {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error__octavia {
  image-rendering: pixelated;
  width: 29px;
  height: fit-content;
  flex-shrink: 0;
}

.error__card {
  width: 100%;
  max-width: variables.$width-modal-md;
  overflow: auto;
}

.error__cardBody {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
}

.error__collapsible {
  margin-bottom: 0 !important;
}
