@use "scss/colors";
@use "scss/variables";
@use "scss/connection/stream-status-colors";

.status {
  position: relative;
  transform: scale(1.2);

  @each $name, $color, $bg-color in stream-status-colors.$by-stream-status {
    &--#{$name} {
      .icon {
        position: relative;
        width: 24px;
        height: 24px;
        color: $color;
      }
    }
  }
}

.circleLoader {
  width: 20px;
  height: 20px;
}
