@use "scss/colors";
@use "scss/variables";

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: variables.$min-width-wide-table-container;

  // need to stretch to have scrollable container
  form,
  fieldset {
    height: 100%;
  }
}

.syncCatalogCard {
  margin-bottom: variables.$spacing-xl;
}
