@use "scss/colors";
@use "scss/variables";

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-width: variables.$min-width-wide-table-container;

  // need to stretch to have scrollable container
  form,
  fieldset {
    height: 100%;
  }
}

.formContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.editControlsContainer {
  background-color: colors.$foreground;
  border-top: variables.$border-thin solid colors.$grey-100;
}

// Catalog v2
.scrollableContainer {
  height: 100%;
  padding: variables.$spacing-xl;
}
