@use "scss/colors";
@use "scss/variables";

$container-padding-bottom: 28px; // (margins (88px) - button height (32px)) / 2

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-width: variables.$min-width-wide-table-container;

  > form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.editControlsContainer {
  position: sticky;
  z-index: 1;
  bottom: 0;
  margin-left: -#{variables.$spacing-xl};
  padding: variables.$height-soft-edge variables.$spacing-xl $container-padding-bottom;
  width: calc(100% + variables.$spacing-xl * 2);
  overflow: hidden;
}
