@use "scss/variables";

th.width30 {
  width: 30%;
}

th.width20 {
  width: 20%;
}

.thEnabled {
  width: 1%;
}

.thConnectionSettings {
  width: 1%;
}

.connectionsTable {
  min-width: variables.$min-width-wide-table-container;

  th:nth-child(1) {
    padding-left: 45px;
  }
}

.cellContent {
  padding: variables.$spacing-md variables.$spacing-lg;
  display: block;
}
