@use "scss/mixins";
@use "scss/colors";
@use "scss/variables";

.inviteUserRow {
  border-bottom: variables.$border-thin solid colors.$grey-50;

  &__label {
    display: inline-block;
    width: 100%;
    cursor: pointer;
  }

  &__dot {
    flex: 0 0 auto;
  }

  &__hiddenInput {
    @include mixins.visually-hidden;

    &:checked {
      + .radioButtonTiles__toggle {
        border-color: colors.$blue;
      }
    }

    &:focus-visible {
      + .radioButtonTiles__toggle {
        outline: 2px solid colors.$blue-900;
      }
    }
  }
}
