@use "scss/variables";
@use "scss/colors";

.button {
  min-width: 17px;
  font-size: 17px;
  border: none;
  background: none;
  padding: 0;
}

.link {
  color: transparent;
  padding: variables.$spacing-xs variables.$spacing-sm;

  &:focus,
  &:hover {
    color: colors.$grey-600 !important;
  }

  tr:hover & {
    color: colors.$grey-400;
  }
}

.icon {
  color: inherit;
}
