@use "scss/variables";
@use "scss/colors";

.content {
  color: inherit;
}

.disabled {
  color: colors.$grey-300;
}

.connectors {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.connectorsContainer {
  min-width: 0;
}
