@use "scss/colors";
@use "scss/variables";

.bar {
  width: 100%;
  max-width: 370px;
  height: 19px;
  border: variables.$border-thin solid colors.$grey;
  border-radius: variables.$border-radius-xs;
  overflow: hidden;
  position: relative;
  display: flex;

  .filling {
    width: 100%;
    height: 100%;

    &.onTrack {
      background: colors.$green;
    }

    &.behind {
      background: colors.$blue;
    }

    &.error {
      background: colors.$red;
    }

    &.disabled {
      background: colors.$grey;
    }
  }
}

$contentWidth: 75%;

.tooltipContainer {
  width: 248px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bar {
    width: $contentWidth;
    margin-bottom: variables.$spacing-md;
  }

  .tooltipContent {
    display: flex;
    align-items: center;
    width: $contentWidth;

    .streamsDetail {
      display: flex;
      align-items: center;
      gap: variables.$spacing-sm;
      flex: 1;
    }

    .syncContainer {
      display: flex;
      align-items: center;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.syncing {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
