@use "scss/colors";
@use "scss/variables";

.container {
  border-bottom: variables.$border-thin solid colors.$grey-100;
}

.leftActions,
.rightActions {
  flex: 1 1 130px;
}

.leftActions {
  padding-left: variables.$spacing-lg;
}

.rightActions {
  padding-right: variables.$spacing-md;
}

.properties {
  flex: 1 0 auto;
}

.streamPropLabel {
  display: inline;
  color: colors.$grey-300;

  &::after {
    content: ":";
  }
}

.streamPropValue {
  display: inline;
  margin-left: variables.$spacing-sm;
}

.crossIcon {
  svg {
    color: colors.$dark-blue;
  }
}

.syncModeProperty {
  flex-basis: variables.$width-sync-mode-dropdown;
}
