@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

$container-left-space: variables.$spacing-xl;
$container-right-space: variables.$spacing-xl * 2;

.dialog {
  z-index: z-indices.$modal;
}

.container {
  position: fixed;
  bottom: 0;
  left: variables.$width-size-menu + $container-left-space;
  width: calc(100% - (variables.$width-size-menu + $container-right-space));
  min-width: 736px;
  z-index: 1000;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  background: colors.$foreground;
  border-radius: variables.$border-radius-2xl variables.$border-radius-2xl 0 0;
  box-shadow: variables.$box-shadow-popup;
}

.tableContainer {
  flex: 1;
  overflow: auto;
  padding-bottom: variables.$spacing-xl;
}
