@use "scss/variables";

.connectorGrid {
  --grid-columns: 3;

  grid-column: 2 / 3;
  max-width: variables.$page-width;
  margin-top: variables.$spacing-xl;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-auto-rows: 68px;
  gap: variables.$spacing-xl;

  &__noMatches {
    grid-column: span var(--grid-columns);
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-lg;
  }
}
