@use "scss/colors";
@use "scss/mixins";
@use "scss/variables";
@use "scss/z-indices";

.selectConnector {
  position: relative;
  z-index: z-indices.$base;
  display: grid;
  container-type: inline-size;

  // The width of the center column includes horizontal page padding on both sides.
  grid-template-columns: 1fr min(100%, variables.$page-width) 1fr;

  &__header {
    grid-column: 2 / 3;
    padding-top: variables.$spacing-md;
  }

  &__tabs {
    border-bottom: 2px solid colors.$grey-100;
  }

  &__stickied {
    position: sticky;
    top: 0;
    background-color: colors.$backdrop;
    z-index: 1;
  }

  &__gutter--left {
    grid-column: 1 / 2;

    // extend over the left padding to cover suggested sources
    margin-left: -1 * variables.$spacing-xl;
  }

  &__gutter--right {
    grid-column: 3 / 4;

    // extend over the right padding to cover suggested sources
    margin-right: -1 * variables.$spacing-xl;
  }

  &__grid {
    grid-column: 2 / 3;
  }

  &__seeMore {
    grid-column: 2 / 3;
    padding-top: variables.$spacing-xl;
  }
}

.checkboxLabel {
  &:hover {
    cursor: pointer;
  }
}

.disabledCheckboxLabel {
  &:hover {
    cursor: not-allowed;
  }
}

.countAndSort {
  padding-top: variables.$spacing-md;
  padding-bottom: variables.$spacing-xl;
}

.sortHeader {
  font-size: variables.$font-size-sm;
  color: colors.$grey-400;
}

.sortButton {
  padding: 0;
  height: 16px;
}

.activeSortColumn {
  color: colors.$blue;
}

.seeMoreIcon {
  margin-right: -10px;
  border-radius: 50%;
  background-color: colors.$backdrop;
  border: 1px solid colors.$grey-200;
  padding: 3px;

  &.seeMoreIconDarkTheme {
    background-color: colors.$inverse;
    border-color: colors.$backdrop;
    padding: 2px;
  }
}
