@use "scss/variables";

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.headerWrapper {
  flex-shrink: 0;
  position: relative;
}

.contentWrapper {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.toggleWrapper {
  position: absolute;
  top: 0;
  right: variables.$spacing-xl;
  height: variables.$height-breadcrumb;
  display: flex;
  align-items: center;
  z-index: 1;
}
