@use "scss/variables";
@use "scss/colors";

.footer {
  padding-top: variables.$spacing-xl;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusFilter {
  min-width: 160px;
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-sm;
  color: colors.$grey-400;
  border: variables.$border-thin solid colors.$grey-300;
  min-height: auto;
  height: variables.$button-height-xs;
}

.dateFilter {
  width: 160px;
}

.jobCount {
  margin-left: auto;
}
