@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
}

$side-margin: variables.$spacing-xl + variables.$spacing-md;
$spacing-left: variables.$width-size-menu + $side-margin;

.container {
  position: fixed;
  left: $spacing-left;
  width: calc(100% - $spacing-left - $side-margin);
  bottom: 0;
  display: none;
  z-index: z-indices.$bulkEdit;
  background: colors.$blue;
  border-radius: variables.$border-radius-md variables.$border-radius-md 0 0;
  padding: variables.$spacing-md;

  &.active {
    display: flex;
    animation: variables.$transition slide-up;
  }

  &.cloud {
    width: calc(100% - $spacing-left - variables.$spacing-intercom);
  }
}

.headerCell {
  margin-right: variables.$spacing-xl;
  padding-right: 0 !important;
  display: flex;
  min-width: unset !important;
  flex-direction: column;

  &.streamsCounterCell {
    background-color: colors.$blue-500;
    border-radius: 9px;
    align-items: center;
    height: 50px;
    padding: 0 variables.$spacing-sm !important;
    justify-content: center;
    flex: 0 !important;
  }

  &.syncCell {
    align-items: center;
    justify-content: center;
  }
}

.syncCellContent {
  height: 25px;
}

.text {
  color: colors.$white;
  margin: 0;
  white-space: nowrap;

  &.streamsCountNumber {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
  }

  &.streamsCountText {
    font-size: 9px;
    font-weight: 500;
    line-height: 17px;
  }

  &.headerText {
    font-size: variables.$font-size-sm;
    font-weight: 400;
    margin-bottom: 5px;
  }
}

.cancelButton {
  border-color: colors.$white !important;
  color: colors.$white !important;
  margin-right: variables.$spacing-md;
  white-space: nowrap;
}

.applyButton {
  box-shadow: none !important;
  background-color: colors.$white !important;
  color: colors.$blue-500 !important;
  white-space: nowrap;
}

.buttonCell {
  min-width: unset !important;
  display: flex;
  justify-content: flex-end;
}

.syncModeSelect {
  width: 100%;
}
