@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

.orgPicker {
  position: relative;
  width: 100%;
  border-bottom: variables.$border-thin solid colors.$grey-100;
  height: variables.$height-org-picker;
}

.orgPicker__button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0 variables.$spacing-sm 0 variables.$spacing-lg;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: variables.$border-radius-sm;

  &:focus-visible {
    outline: none;
  }

  .orgPicker__logo {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }

  .orgPicker__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    flex: 1;
    margin: 0 variables.$spacing-sm;
    cursor: pointer;
  }

  .orgPicker__workspaceName,
  .orgPicker__orgName {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
    font-weight: 500;
    font-size: variables.$font-size-sm;
    cursor: pointer;
  }
}

.orgPicker__popoverPanel {
  width: variables.$width-org-picker-popover;
  background: colors.$foreground;
  border-radius: variables.$border-radius-sm;
  overflow: hidden;
  box-shadow: variables.$box-shadow-raised;
  z-index: z-indices.$dropdownMenu;
}
