@use "scss/colors";
@use "scss/variables";

.organizationNameContainer:hover {
  background-color: colors.$blue-40;
}

.organizationName {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: colors.$dark-blue;
  padding: variables.$spacing-sm variables.$spacing-sm variables.$spacing-sm variables.$spacing-md;
  min-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  &:focus-visible {
    outline-offset: -1px;
    background-color: colors.$blue-40;
  }
}

.orgTextBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.orgTitle {
  line-height: variables.$spacing-xl;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(variables.$width-org-picker-popover - variables.$spacing-2xl);
}

.orgMeta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: variables.$spacing-xl;
  max-width: calc(variables.$width-org-picker-popover - variables.$spacing-2xl);
}

.gearIconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  align-self: stretch;

  &:focus-visible {
    outline-offset: -1px;
    background-color: colors.$blue-40;
  }
}

.gearIcon {
  color: colors.$grey-400;
}

.gearIcon:hover,
.gearIconLink:focus-visible .gearIcon {
  color: colors.$dark-blue;
}

.workspaces {
  box-sizing: border-box;
  border-bottom: 1px solid colors.$grey-200;

  &.lastItem {
    border-bottom: none;
  }
}

.workspaceItem {
  display: block;
  padding-left: calc(variables.$spacing-md * 2);
  padding-right: variables.$spacing-md;
  cursor: pointer;
  color: colors.$grey-600;
  text-decoration: none;
  font-size: variables.$font-size-sm;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 32px;
  line-height: 32px;
  text-align: left;
  min-width: 0;

  &:hover {
    background-color: colors.$blue-40;
    color: colors.$dark-blue;
  }

  &:focus-visible {
    outline-offset: -1px;
    background-color: colors.$blue-40;
    color: colors.$dark-blue;
  }
}
