@use "scss/colors";
@use "scss/variables";

.jobSummary {
  &--open {
    border-bottom: variables.$border-thin solid colors.$grey-100;
  }

  &__button {
    padding: variables.$spacing-lg;
    padding-right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background: none;
    border: none;
    flex: 1;
    cursor: pointer;
    height: unset !important;
    min-height: 70px;
    gap: variables.$spacing-lg;
    user-select: text;
    min-width: 0;
  }

  &__justification {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
  }

  &__statusIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: variables.$spacing-lg;
  }

  &__timestamp {
    text-align: right;
    white-space: nowrap;
  }

  &__chevron {
    transition: variables.$transition;

    .jobSummary--open & {
      transform: rotate(90deg);
    }

    button:hover & {
      opacity: 1;
    }
  }

  &__chevronButton {
    height: 100%;
    border: none;
    background-color: transparent;
    padding: variables.$spacing-lg;
    padding-left: variables.$spacing-sm;
    cursor: pointer;
  }
}
