{{#isBodyParam}}{{#useBeanValidation}}@Valid {{/useBeanValidation}}@Body {{#useBeanValidation}}{{#required}}{{^isNullable}}@NotNull {{/isNullable}}{{/required}}{{/useBeanValidation}}{{paramName}}: {{{dataType}}}{{^required}}?{{/required}}{{/isBodyParam}}
