{{- if .Values.cron.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-cron
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
    {{- if .Values.cron.extraLabels }}
    {{ toYaml (mergeOverwrite .Values.cron.extraLabels .Values.global.extraLabels) | nindent 4 }}
    {{- end }}
  annotations:
    {{ toYaml .Values.cron.annotations | nindent 4 }}
spec:
  replicas: {{ .Values.cron.replicaCount }}
  selector:
    matchLabels:
      {{- include "airbyte.selectorLabels" . | nindent 6 }}
      {{- if .Values.cron.extraSelectorLabels }}
      {{ toYaml (mergeOverwrite .Values.cron.extraSelectorLabels .Values.global.extraSelectorLabels) | nindent 6 }}
      {{- end }}
  template:
    metadata:
      labels:
        {{- include "airbyte.selectorLabels" . | nindent 8 }}
        {{- if .Values.cron.extraSelectorLabels }}
        {{ toYaml (mergeOverwrite .Values.cron.extraSelectorLabels .Values.global.extraSelectorLabels) | nindent 8 }}
        {{- end }}
        {{- if .Values.cron.podLabels }}
          {{- include "airbyte.tplvalues.render" (dict "value" .Values.cron.podLabels "context" $) | nindent 8 }}
        {{- end }}
      {{- if .Values.cron.podAnnotations }}
      annotations:
        {{- include "airbyte.tplvalues.render" (dict "value" .Values.cron.podAnnotations "context" $) | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ default .Values.global.serviceAccountName .Values.cron.serviceAccountName }}
      automountServiceAccountToken: true
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
          {{- printf "- name: %s" .name | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- if .Values.cron.nodeSelector }}
      nodeSelector: {{- include "airbyte.tplvalues.render" (dict "value" .Values.cron.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.cron.tolerations }}
      tolerations: {{- include "airbyte.tplvalues.render" (dict "value" .Values.cron.tolerations "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.cron.affinity }}
      affinity: {{- include "airbyte.tplvalues.render" (dict "value" .Values.cron.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.cron.extraInitContainers }}
      initContainers:
      {{- toYaml .Values.cron.extraInitContainers | nindent 6 }}
      {{- end }}
      containers:
        - name: airbyte-cron
          image: {{ include "imageUrl" (list .Values.cron.image $) }}
          imagePullPolicy: "{{ .Values.cron.image.pullPolicy }}"
          ports:
            - name: management
              containerPort: {{ .Values.cron.management.port }}
              protocol: TCP
            {{- if .Values.cron.debug.enabled }}
            - name: debug
              containerPort: {{ .Values.cron.debug.remoteDebugPort }}
              protocol: TCP
            {{- end}}

          env:
            {{- include "airbyte.auth.jwt.envs" . | nindent 12 }}
            {{- include "airbyte.common.envs" . | nindent 12 }}
            {{- include "airbyte.connector.envs" . | nindent 12 }}
            {{- include "airbyte.cron.envs" . | nindent 12 }}
            {{- include "airbyte.database.envs" . | nindent 12 }}
            {{- include "airbyte.database.migrations.envs" . | nindent 12 }}
            {{- include "airbyte.featureFlags.envs" . | nindent 12 }}
            {{- include "airbyte.metrics.envs" . | nindent 12 }}
            {{- include "airbyte.micronaut.envs" . | nindent 12 }}
            {{- include "airbyte.secretsManager.envs" . | nindent 12 }}
            {{- include "airbyte.temporal.envs" . | nindent 12 }}
            {{- include "airbyte.tracking.envs" . | nindent 12 }}
            {{- include "airbyte.worker.envs" . | nindent 12 }}
            {{- include "airbyte.workloadApiServer.envs" . | nindent 12 }}

            {{- if .Values.global.datadog.enabled }}
            - name: DD_SERVICE 
              value: {{ include "airbyte.componentNameWithAirbytePrefix" . }}
            {{- include "airbyte.datadog.envs" . | nindent 12 }}
            {{- include "airbyte.otel.envs" . | nindent 12 }}
            {{- end}}

            {{- if (eq .Values.global.edition "enterprise") }}
            {{- include "airbyte.enterprise.envs" . | nindent 12 }}
            {{- end }}

            {{- if (eq .Values.global.edition "cloud") }}
            {{- include "airbyte.temporal.cloud.envs" . | nindent 12 }}
            {{- include "airbyte.orb.envs" . | nindent 12 }}
            {{- include "airbyte.temporal.cloud.credentials.envs" . | nindent 12 }}
            {{- include "airbyte.stigg.envs" . | nindent 12 }}
            {{- end }}

            # Values from secret
            {{- if .Values.cron.secrets }}
            {{- range $k, $v := .Values.cron.secrets }}
            - name: {{ $k }}
              valueFrom:
                secretKeyRef:
                  name: cron-secrets
                  key: {{ $k }}
            {{- end }}
            {{- end }}

            # Values from env
            {{- if or .Values.cron.env_vars .Values.global.env_vars }}
            {{- range $k, $v := mergeOverwrite .Values.cron.env_vars .Values.global.env_vars }}
            - name: {{ $k }}
              value: {{ $v | quote }}
            {{- end }}
            {{- end }}

            # Values from extraEnv for more compability(if you want to use external secret source or other stuff)
            {{- if .Values.cron.extraEnv }}
            {{- toYaml .Values.cron.extraEnv | nindent 12 }}
            {{- end }}

          {{- if .Values.cron.containerSecurityContext }}
          securityContext: {{- toYaml .Values.cron.containerSecurityContext | nindent 12 }}
          {{- end }}

          {{- if .Values.cron.resources }}
          resources: {{- toYaml .Values.cron.resources | nindent 12 }}
          {{- end }}

          {{- if .Values.cron.extraVolumeMounts }}
          volumeMounts: {{ toYaml .Values.cron.extraVolumeMounts | nindent 12 }}
          {{- end }}

        {{- if .Values.cron.extraContainers }}
          {{ toYaml .Values.cron.extraContainers | nindent 8 }}
        {{- end }}
        {{- if .Values.global.extraContainers }}
          {{ toYaml .Values.global.extraContainers | nindent 8 }}
        {{- end }}

      securityContext: {{- toYaml .Values.cron.podSecurityContext | nindent 8 }}
      {{- if .Values.cron.extraVolumes }}
      volumes: {{ toYaml .Values.cron.extraVolumes | nindent 8 }}
      {{- end }}
{{- end }}
