@use "scss/variables";
@use "scss/colors";

.settings {
  width: 100%;
  height: 100%;

  &__breadcrumbs {
    flex: 0 0 auto;
    background-color: colors.$foreground;
    border-bottom: variables.$border-thin solid colors.$grey-100;
    height: variables.$height-breadcrumb;
    display: flex;
    align-items: center;
  }

  &__main {
    overflow: hidden;
    flex: 1 1 auto;
    display: flex;
    gap: variables.$spacing-xl;
  }

  &__content {
    padding: variables.$spacing-xl;
    background: colors.$foreground;
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}
