@use "scss/variables";
@use "scss/colors";
@use "scss/mixins";

.testButton {
  width: 100%;
}

.testButtonTooltipContainer {
  width: 100%;
}

.testButtonText {
  color: colors.$white;
}

.longRequestWarning {
  color: colors.$foreground;
}

.pulsate {
  @include mixins.pulsate(variables.$spacing-lg, variables.$border-radius-sm);

  & > * {
    // keep content visible above the pulses
    display: inline-block;
    position: relative;
    z-index: 1;
  }
}
