@use "scss/variables";
@use "scss/colors";

.container {
  min-height: 0;
  min-width: 0;
  width: 100%;
}

.tabGroup {
  display: flex;
  min-height: 0;
  min-width: 0;
  height: 100%;
}

.tabList {
  flex: 0 0 auto;
  display: flex;
  overflow-x: auto;
}

.tab {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}

.tabTitle {
  border-bottom: variables.$border-thin solid colors.$grey-50;
  color: colors.$grey-300;
  font-weight: 500;
  cursor: pointer;
  padding: 3px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  border-bottom-color: colors.$grey-300;
  color: colors.$dark-blue;
}

.tabPanelContainer {
  flex: 1;
  min-height: 0;
}

.tabPanel {
  height: 100%;
  overflow-y: auto;
}
