@use "scss/colors";
@use "scss/variables";

.icon {
  color: colors.$grey-500;
}

.formContent {
  max-height: 60vh;
  min-height: 500px;
  padding: variables.$spacing-xl;
  background-color: colors.$backdrop;
  border-radius: variables.$border-radius-md;
  overflow-y: auto;
}

.inputFormModalFooter {
  border-top: variables.$border-thin solid colors.$grey-100;
  gap: variables.$spacing-md;
  padding: 0 variables.$spacing-xl;
  margin: 0 -1 * variables.$spacing-xl;
}

.inputFormModalFooter > * {
  // need to overwrite the margin of the button wrapper used within create controls
  // TODO refactor so this isn't necessary
  margin-top: variables.$spacing-lg !important;
}

.inputsErrorBadge {
  position: absolute;
  top: -1 * variables.$spacing-md;
  right: -1 * variables.$spacing-md;
}

.button {
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: variables.$spacing-md;
}
