@use "scss/colors";
@use "scss/variables";

.multiSelect {
  &__button {
    padding: variables.$spacing-sm;
    display: flex;
    align-items: center;
  }

  &__item {
    background: colors.$grey-100;
    border-radius: variables.$border-radius-sm;
  }

  &__itemText {
    padding-block: variables.$spacing-xs;
    padding-inline-start: variables.$spacing-md;
  }

  &__removeItem {
    all: unset;
    padding-block: variables.$spacing-xs;
    padding-inline-end: variables.$spacing-md;
  }
}
