@use "scss/variables";

.graphLegend {
  padding: 0 variables.$spacing-lg;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-sm;

  &__nameContainer {
    display: flex;
    align-items: center;
    gap: variables.$spacing-md;
  }

  &__dot {
    display: inline-block;
    width: 10px;
    height: 10px;
  }

  &__item {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: variables.$spacing-md;
    font-size: variables.$font-size-sm;
  }
}
