{{- if eq .Values.global.deploymentMode "oss"  }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-airbyte-secrets
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-1"
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- include "airbyte.database.secrets" . | nindent 2 }}
  {{- if or (eq .Values.global.edition "pro") (eq .Values.global.edition "enterprise") }}
  KEYCLOAK_ADMIN_USER: {{ .Values.keycloak.auth.adminUsername | quote }}
  KEYCLOAK_ADMIN_PASSWORD: {{ .Values.keycloak.auth.adminPassword | quote }}
  {{- end }}
  WORKLOAD_API_BEARER_TOKEN: {{ index ".Values.workload-api.bearerToken" | quote }}
  DEFAULT_MINIO_ACCESS_KEY: minio
  DEFAULT_MINIO_SECRET_KEY: minio123
{{- end }}
