@use "scss/_colors";
@use "scss/_variables";
@forward "./StreamsConfigTableRow.module.scss";

.headerContainer {
  margin: variables.$spacing-md variables.$spacing-xl variables.$spacing-sm 0;
  gap: variables.$spacing-md;
  scrollbar-gutter: stable;
  min-height: 33px;
}
