@use "scss/variables";

.pageHeader {
  grid-area: page-header;
  padding-bottom: variables.$spacing-lg;
}

.pageBody {
  grid-area: page-content;
  overflow-y: auto;
}

.alignSelfStart {
  align-self: flex-start;
}
