{{- if or (eq .Values.global.edition "pro") (eq .Values.global.edition "enterprise") }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "airbyte.fullname" . }}
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
    {{- if .Values.extraLabels }}
    {{ toYaml (mergeOverwrite .Values.extraLabels .Values.global.extraLabels) | nindent 4 }}
    {{- end }}
    {{- if .Values.podLabels }}
    {{- include "airbyte.tplvalues.render" (dict "value" .Values.podLabels "context" $) | nindent 4 }}
    {{- end }}
  annotations:
    "helm.sh/hook": "post-install, post-upgrade"
    "helm.sh/hook-delete-policy": "before-hook-creation"
spec:
  completions: 1
  template:
    spec:
      serviceAccountName: {{ default .Values.global.serviceAccountName .Values.serviceAccountName }}
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
          {{- printf "- name: %s" .name | nindent 8 }}
          {{- end }}
      {{- end }}
      restartPolicy: Never
      {{- if .Values.nodeSelector }}
      nodeSelector: {{- include "airbyte.tplvalues.render" (dict "value" .Values.nodeSelector "context" $) | nindent 12 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{- include "airbyte.tplvalues.render" (dict "value" .Values.tolerations "context" $) | nindent 12 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{- include "airbyte.tplvalues.render" (dict "value" .Values.affinity "context" $) | nindent 12 }}
      {{- end }}
      initContainers:
        {{- if .Values.extraInitContainers }}
        {{- toYaml .Values.extraInitContainers | nindent 8 }}
        {{- end }}
      containers:
        - name: airbyte-keycloak-setup-container
          image: {{ include "imageUrl" (list .Values.image $) }}
          imagePullPolicy: "{{ .Values.image.pullPolicy }}"
          env:
            - name: AIRBYTE_URL 
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.global.configMapName | default (printf "%s-airbyte-env" .Release.Name) }}
                  key: AIRBYTE_URL 
            - name: KEYCLOAK_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secretName | default (printf "%s-airbyte-secrets" .Release.Name) }}
                  key: KEYCLOAK_ADMIN_USER
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secretName | default (printf "%s-airbyte-secrets" .Release.Name) }}
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KEYCLOAK_INTERNAL_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.global.configMapName | default (printf "%s-airbyte-env" .Release.Name) }}
                  key: KEYCLOAK_INTERNAL_HOST

            {{- include "airbyte.database.envs" . | nindent 12 }}
            {{- include "airbyte.enterprise.instanceAdmin" . | nindent 12 }} 
            {{- include "airbyte.enterprise.identityProvider" . | nindent 12 }} 
            {{- include "airbyte.keycloak.database.envs" . | nindent 12 }}

            # Values from secret
            {{- if .Values.secrets }}
            {{- range $k, $v := .Values.secrets }}
            - name: {{ $k }}
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: {{ $k }}
            {{- end }}
            {{- end }}

            # Values from env
            {{- if .Values.env_vars }}
            {{- range $k, $v := mergeOverwrite .Values.env_vars .Values.global.env_vars }}
            - name: {{ $k }}
              value: {{ $v | quote }}
            {{- end }}
            {{- end }}

            # Values from extraEnv for more compability(if you want to use external secret source or other stuff)
            {{- if .Values.extraEnv }}
            {{- toYaml .Values.extraEnv | nindent 12 }}
            {{- end }}

          {{- if .Values.resources }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          {{- if .Values.extraVolumeMounts }}
          {{- toYaml .Values.extraVolumeMounts | nindent 12 }}
          {{- end }}
          {{- if .Values.containerSecurityContext }}
          securityContext: {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- end }}
        {{- if .Values.extraContainers }}
        {{ toYaml .Values.extraContainers | nindent 8 }}
        {{- end }}
        {{- if .Values.global.extraContainers }}
        {{ toYaml .Values.global.extraContainers | nindent 8 }}
        {{- end }}
      securityContext: {{- toYaml .Values.podSecurityContext | nindent 10 }}
      volumes:
        {{- if .Values.extraVolumes }}
        {{- toYaml .Values.extraVolumes | nindent 8 }}
        {{- end }}
{{- end }}
