@use "scss/colors";
@use "scss/mixins";
@use "scss/variables";

.error {
  margin-left: variables.$spacing-lg;
  color: colors.$red;
}

.accented__container {
  @include mixins.pulsate(variables.$spacing-lg, variables.$border-radius-sm);
}

.accented__button {
  // show above the pulses
  position: relative;
  z-index: 1;
}
