@use "scss/variables";
@use "scss/colors";

.workspacesPickerList__list,
.workspacesPickerList__list li {
  margin: 0;
  padding: 0;
}

.workspacesPickerList__item {
  border-bottom: variables.$border-thin colors.$grey-100 solid;
  overflow-wrap: break-word;

  &:hover,
  &:focus-visible {
    background: colors.$grey-50;
  }
}
