@use "scss/variables";
@use "scss/colors";

.workspacesPickerList__scrollbox {
  overflow-y: auto;
  margin: 0;
  max-height: variables.$height-workspace-picker;
  background-color: colors.$foreground;

  ul,
  li {
    margin: 0;
    padding: 0;
  }
}

.workspacesPickerList__item {
  border-bottom: variables.$border-thin colors.$grey-100 solid;
  overflow-wrap: break-word;

  &:hover,
  &:focus-visible {
    background: colors.$grey-50;
  }
}

.workspacesPickerList__orgPill {
  background: colors.$green-30;
  border-radius: variables.$border-radius-pill;
  color: colors.$green-500;
  border: variables.$border-thin solid colors.$green-50;
  width: fit-content;
}
