@use "scss/colors";
@use "scss/z-indices";

:export {
  tooltipZindex: z-indices.$tooltip;
  labelColor: colors.$grey-400;
  greenVar: colors.$green;
  darkBlueVar: colors.$dark-blue-300;
  redVar: colors.$red;
  blackVar: colors.$dark-blue;
  emptyVar: colors.$white;
}
