@use "scss/variables";

.connectionFormContainer {
  width: 100%;
  min-width: variables.$min-width-wide-table-container;

  > form {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-md;
  }
}
