---
apiVersion: v1
kind: Pod
metadata:
  name: {{ include "airbyte.fullname" . }}
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
    {{- if .Values.extraLabels }}
    {{ toYaml (mergeOverwrite .Values.extraLabels .Values.global.extraLabels) | nindent 4 }}
    {{- end }}
    {{- if .Values.podLabels }}
      {{- include "airbyte.tplvalues.render" (dict "value" .Values.podLabels "context" $) | nindent 4 }}
    {{- end }}
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "0"
    {{- if .Values.podAnnotations }}
      {{- include "airbyte.tplvalues.render" (dict "value" .Values.podAnnotations "context" $) | nindent 4 }}
    {{- end }}
spec:
  serviceAccountName: {{ default .Values.global.serviceAccountName .Values.serviceAccountName }}
  {{- if .Values.global.imagePullSecrets }}
  imagePullSecrets:
    {{- range .Values.global.imagePullSecrets }}
      {{- printf "- name: %s" .name | nindent 2 }}
    {{- end }}
  {{- end }}
  restartPolicy: Never
  {{- if .Values.nodeSelector }}
  nodeSelector: {{- include "airbyte.tplvalues.render" (dict "value" .Values.nodeSelector "context" $) | nindent 8 }}
  {{- end }}
  {{- if .Values.tolerations }}
  tolerations: {{- include "airbyte.tplvalues.render" (dict "value" .Values.tolerations "context" $) | nindent 8 }}
  {{- end }}
  {{- if .Values.affinity }}
  affinity: {{- include "airbyte.tplvalues.render" (dict "value" .Values.affinity "context" $) | nindent 8 }}
  {{- end }}
  {{- if .Values.extraInitContainers }}
  initContainers:
  {{- toYaml .Values.extraInitContainers | nindent 4 }}
  {{- end }}
  containers:
    - name: airbyte-bootloader-container
      image: {{ include "imageUrl" (list .Values.image $) }}
      imagePullPolicy: "{{ .Values.image.pullPolicy }}"
      env:
        {{- if or (eq .Values.global.edition "community") (eq .Values.global.edition "pro") (eq .Values.global.edition "enterprise") }}
        - name: AIRBYTE_VERSION
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.global.configMapName | default (printf "%s-airbyte-env" .Release.Name) }}
              key: AIRBYTE_VERSION
        - name: AIRBYTE_EDITION
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: AIRBYTE_EDITION
        - name: MICROMETER_METRICS_ENABLED
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: MICROMETER_METRICS_ENABLED
        - name: MICROMETER_METRICS_STEP
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: MICROMETER_METRICS_STEP
        - name: MICROMETER_METRICS_OTLP_ENABLED
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: MICROMETER_METRICS_OTLP_ENABLED
        - name: OTEL_COLLECTOR_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: OTEL_COLLECTOR_ENDPOINT
        - name: MICROMETER_METRICS_STATSD_ENABLED
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: MICROMETER_METRICS_STATSD_ENABLED
        - name: MICROMETER_METRICS_STATSD_FLAVOR
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: MICROMETER_METRICS_STATSD_FLAVOR
        - name: RUN_DATABASE_MIGRATION_ON_STARTUP
          valueFrom:
            configMapKeyRef:
              name: {{ .Values.global.configMapName | default (printf "%s-airbyte-env" .Release.Name) }}
              key: RUN_DATABASE_MIGRATION_ON_STARTUP
        - name: SEGMENT_WRITE_KEY
          valueFrom:
           configMapKeyRef:
             name: {{ .Release.Name }}-airbyte-env
             key: SEGMENT_WRITE_KEY
        - name: STATSD_HOST
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: STATSD_HOST
        - name: STATSD_PORT
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: STATSD_PORT
        - name: TRACKING_STRATEGY
          valueFrom:
            configMapKeyRef:
              name: {{ .Release.Name }}-airbyte-env
              key: TRACKING_STRATEGY

        # Airbyte auth secret keys and values
        {{- if and (eq .Values.global.edition "community") .Values.global.auth.enabled }}
        - name: AB_AUTH_SECRET_CREATION_ENABLED
          value: "true"
        - name: AB_KUBERNETES_SECRET_NAME
          value: {{ .Values.global.auth.secretName | default "airbyte-auth-secrets" | quote }}
        - name: AB_INSTANCE_ADMIN_PASSWORD_SECRET_KEY
          value: {{ .Values.global.auth.instanceAdmin.passwordSecretKey | default "instance-admin-password" | quote }}
        - name: AB_INSTANCE_ADMIN_CLIENT_ID_SECRET_KEY
          value: {{ .Values.global.auth.instanceAdmin.clientIdSecretKey | default "instance-admin-client-id" | quote }}
        - name: AB_INSTANCE_ADMIN_CLIENT_SECRET_SECRET_KEY
          value: {{ .Values.global.auth.instanceAdmin.clientSecretSecretKey | default "instance-admin-client-secret" | quote }}
        - name: AB_JWT_SIGNATURE_SECRET_KEY
          value: {{ .Values.global.auth.jwtSignatureSecretKey | default "jwt-signature-secret" | quote }}
        - name: AB_INSTANCE_ADMIN_PASSWORD
          value: {{ .Values.global.auth.instanceAdmin.password | quote }}
        - name: AB_INSTANCE_ADMIN_CLIENT_ID
          value: {{ .Values.global.auth.instanceAdmin.clientId | quote }}
        - name: AB_INSTANCE_ADMIN_CLIENT_SECRET
          value: {{ .Values.global.auth.instanceAdmin.clientSecret | quote }}
        - name: AB_JWT_SIGNATURE_SECRET
          value: {{ .Values.global.auth.jwtSignatureSecret | quote }}
        {{- end }}
        - name: DATAPLANE_CLIENT_ID_SECRET_KEY
          value: dataplane-client-id
        - name: DATAPLANE_CLIENT_SECRET_SECRET_KEY
          value: dataplane-client-secret

        {{- include "airbyte.database.envs" . | nindent 8 }}

        {{- end }}
        # Values from secret
        {{- if .Values.secrets }}
        {{- range $k, $v := .Values.secrets }}
        - name: {{ $k }}
          valueFrom:
            secretKeyRef:
              name: bootloader-secrets
              key: {{ $k }}
        {{- end }}
        {{- end }}

        # Values from env
        {{- if or .Values.env_vars .Values.global.env_vars }}
        {{- range $k, $v := mergeOverwrite .Values.env_vars .Values.global.env_vars }}
        - name: {{ $k }}
          value: {{ $v | quote }}
        {{- end }}
        {{- end }}

        # Values from extraEnv for more compability(if you want to use external secret source or other stuff)
        {{- if .Values.extraEnv }}
        {{- toYaml .Values.extraEnv | nindent 8 }}
        {{- end }}

      {{- if .Values.resources }}
      resources: {{- toYaml .Values.resources | nindent 8 }}
      {{- end }}
      {{- if .Values.extraVolumeMounts }}
      volumeMounts:
        {{- toYaml .Values.extraVolumeMounts | nindent 8 }}
      {{- end }}
      {{- if .Values.containerSecurityContext }}
      securityContext: {{- toYaml .Values.containerSecurityContext | nindent 8 }}
      {{- end }}
    {{- if .Values.extraContainers }}
    {{ toYaml .Values.extraContainers | nindent 4 }}
    {{- end }}
    {{- if .Values.global.extraContainers }}
    {{ toYaml .Values.global.extraContainers | nindent 4 }}
    {{- end }}
  securityContext: {{- toYaml .Values.podSecurityContext | nindent 6 }}
  {{- if .Values.extraVolumes }}
  volumes:
    {{- toYaml .Values.extraVolumes | nindent 4 }}
  {{- end }}
