@use "scss/variables";
@use "scss/colors";

.button {
  padding: variables.$spacing-lg;
}

.iconContainer {
  position: absolute;
}

.success {
  position: absolute;
  width: 13px;
  height: 13px;
  top: -20px;
  right: -15px;
  background-color: colors.$foreground;
  border-radius: 50%;
}
