@use "scss/variables";
@use "scss/colors";

.button {
  padding: variables.$spacing-lg;
  position: relative;
}

.success {
  position: absolute;
  width: 13px;
  height: 13px;
  top: -6px;
  right: -6px;
  background-color: colors.$foreground;
  border-radius: 50%;
}
