@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-direction: column;
}

.details {
  white-space: pre-wrap;
}

.failedMessage {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.secondaryMessage {
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expandedMessage {
  border-radius: variables.$border-radius-md;
  padding-top: variables.$spacing-sm;
  padding-bottom: variables.$spacing-sm;
}

.seeMore {
  color: colors.$grey-500;
  min-width: fit-content;
}

.seeMoreIcon {
  vertical-align: middle;
}

.errorMessage {
  padding: variables.$spacing-sm;
  border-radius: variables.$border-radius-md;
  background-color: colors.$red-50;
}

.warningMessage {
  padding: variables.$spacing-sm;
  border-radius: variables.$border-radius-md;
  background-color: colors.$yellow-50;
}
