@use "scss/colors";
@use "scss/variables";

$iconWidth: 38px;

.button {
  border: 1px solid transparent;
  display: flex;
  gap: variables.$spacing-lg;
  align-items: center;
  justify-content: space-between;
  padding: variables.$spacing-lg;
  box-shadow: variables.$box-shadow;
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-md;
  cursor: pointer;
  transition: box-shadow variables.$transition ease;
  text-align: left;
  color: colors.$dark-blue;

  &:hover {
    box-shadow: variables.$box-shadow-raised;
    border-color: colors.$blue-100;
  }
}

.iconAndName {
  min-width: $iconWidth;
}
