@use "scss/colors";
@use "scss/variables";

.iconContainer {
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectorName {
  font-size: variables.$font-size-lg;
  font-weight: 500;
}

.content {
  height: 100%;
}

.successView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
}

.successContainer {
  height: 100%;
}

.buttonContainer {
  width: 100%;
  justify-self: end;
}
