@use "scss/colors";
@use "scss/variables";

.homeLink {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: variables.$spacing-sm;
  border-bottom: 1px solid colors.$grey-100;
  padding: variables.$spacing-sm variables.$spacing-md;
  height: variables.$height-breadcrumb;

  &__link {
    display: flex;
  }

  &__logo {
    color: colors.$dark-blue-900;
  }
}
