@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

.sidebar {
  z-index: z-indices.$sidebar;
  position: relative;
  height: 100%;
  width: variables.$width-side-menu;
  flex: 0 0 variables.$width-side-menu;
  background-color: colors.$foreground;
  padding: 0 0 variables.$spacing-md 0;
  text-align: center;
  border-right: variables.$border-thin solid colors.$grey-100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  ul {
    width: 100%;
    padding: 0 variables.$spacing-sm;

    li {
      list-style-type: none;
      width: 100%;
    }
  }

  &__menuItems {
    width: 100%;
    margin-top: variables.$spacing-sm;
    flex: 1 1 auto;
  }

  &__menuContentSeparator {
    width: 100%;
    height: variables.$border-thin;
    background-color: colors.$grey-100;
    margin: variables.$spacing-sm 0;
  }

  &__logoutButton * {
    color: colors.$red-900;
  }
}

.sidebar__tooltip {
  display: block;
}

.hidden {
  display: none;
}
