@use "scss/_colors";
@use "scss/_variables";
@forward "./CatalogTreeTableRow.module.scss";

.headerCellText {
  color: colors.$grey;
}

.headerContainer {
  margin: variables.$spacing-md variables.$spacing-xl variables.$spacing-sm 0;
  gap: variables.$spacing-sm;
  scrollbar-gutter: stable;
  min-height: 33px;
}

.checkboxCell {
  @extend %streamRowCheckboxCell;
}
