@use "scss/colors";
@use "scss/variables";

$circleSize: 120px;

.circle {
  width: $circleSize;
  height: $circleSize;
  border-radius: 50%;
  background-color: colors.$blue-40;
}

.icon {
  width: $circleSize * 0.6;
  height: auto;
  color: colors.$grey-400;
}
