@use "scss/variables";
@use "scss/colors";

.empty {
  height: 100%;
  padding-bottom: variables.$spacing-xl;
}

.container {
  width: 100%;
  height: 260px;
  padding: 0 variables.$spacing-2xl variables.$spacing-xl 0;
}

:export {
  green: colors.$green;
  grey: colors.$grey-500;
  darkBlue: colors.$dark-blue-900;
}
