@use "scss/colors";
@use "scss/variables";
@use "scss/mixins";

.nextLink {
  @include mixins.base-button;

  // primary
  color: colors.$white;
  background-color: colors.$blue-400;
  border: 0;

  &:hover {
    background-color: colors.$blue-500;
    color: colors.$white;
  }

  &:active {
    background-color: colors.$blue-600;
  }
}

.fixedBottomNav {
  padding: variables.$spacing-lg variables.$spacing-xl variables.$spacing-xl;
  background-color: colors.$foreground;
  border-top: variables.$border-thin solid colors.$grey-100;
}
