@use "scss/colors";
@use "scss/variables";

.linkText {
  // base "button"
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: variables.$border-radius-sm;
  font-weight: 600;
  cursor: pointer;
  background-color: colors.$white;

  // secondary
  color: colors.$grey-400;
  border: 1px solid colors.$grey-300;

  // sizeXS
  height: variables.$button-height-xs;
  font-size: variables.$font-size-sm;
  line-height: 15px;
  padding: 10px;
}
