micronaut:
  application:
    name: connector-builder-server
  caches:
    # used by the analytics tracking client to cache calls to resolve the deployment and identity (workspace) for
    # track events
    analytics-tracking-deployments:
      charset: "UTF-8"
      expire-after-access: 10m
    analytics-tracking-identity:
      charset: "UTF-8"
      expire-after-access: 10m
  metrics:
    enabled: ${MICROMETER_METRICS_ENABLED:false}
    export:
      otlp:
        enabled: ${MICROMETER_METRICS_OTLP_ENABLED:false}
        step: ${MICROMETER_METRICS_STEP:PT30S}
        url: ${OTEL_COLLECTOR_ENDPOINT:`http://localhost:4318/v1/metrics`}
      statsd:
        enabled: ${MICROMETER_METRICS_STATSD_ENABLED:false}
        flavor: ${MICROMETER_METRICS_STATSD_FLAVOR:datadog}
        step: ${MICROMETER_METRICS_STEP:PT30S}
        host: ${STATSD_HOST:localhost}
        port: ${STATSD_PORT:8125}
  security:
    authentication-provider-strategy: ALL
    enabled: ${API_AUTHORIZATION_ENABLED:false}
    token:
      enabled: ${API_AUTHORIZATION_ENABLED:false}
      jwt:
        enabled: ${API_AUTHORIZATION_ENABLED:false}
        signatures:
          secret:
            generator:
              secret: ${AB_JWT_SIGNATURE_SECRET:}
  server:
    port: 8080
    cors:
      enabled: true
    netty:
      access-logger:
        enabled: ${HTTP_ACCESS_LOG_ENABLED:false}
      aggregator:
        max-content-length: 52428800 # 50MB
      max-header-size: ${NETTY_MAX_HEADER_SIZE:32768}
    max-request-size: 10485760 # 10MB the micronaut default. If we want to bump, double check it works for nginx.
  endpoints:
    v1/manifest_template:
      enable: true
      sensitive: false
    v1/manifest/resolve:
      enable: true
      sensitive: false
    v1/manifest/full_resolve:
      enable: true
      sensitive: false
    v1/stream/read:
      enable: true
      sensitive: false
    v1/health:
      enable: true
      sensitive: false

airbyte:
  license-key: ${AIRBYTE_LICENSE_KEY:empty}
  connector-builder-server:
    github:
      airbyte-pat-token: ${BUILDER_GITHUB_AIRBYTE_PAT_TOKEN:}
    ai-assist:
      url-base: ${AI_ASSIST_URL_BASE:}
    capabilities:
      enable-unsafe-code: ${AIRBYTE_ENABLE_UNSAFE_CODE:false}
  acceptance:
    test:
      enabled: ${ACCEPTANCE_TEST_ENABLED:false}
  control:
    plane:
      auth-endpoint: ${CONTROL_PLANE_AUTH_ENDPOINT:}
  data:
    plane:
      service-account:
        credentials-path: ${DATA_PLANE_SERVICE_ACCOUNT_CREDENTIALS_PATH:}
        email: ${DATA_PLANE_SERVICE_ACCOUNT_EMAIL:}
  edition: ${AIRBYTE_EDITION:COMMUNITY}
  role: ${AIRBYTE_ROLE:}
  tracking:
    strategy: ${TRACKING_STRATEGY:LOGGING}
    write-key: ${SEGMENT_WRITE_KEY:}
  version: ${AIRBYTE_VERSION}
  workflow:
    failure:
      restart-delay: ${WORKFLOW_FAILURE_RESTART_DELAY_SECONDS:600}
  workspace:
    docker-mount: ${WORKSPACE_DOCKER_MOUNT:}
    root: ${WORKSPACE_ROOT}

  # minimal configuration to authenticate internal service accounts w/ keycloak
  keycloak:
    host: ${KEYCLOAK_HOST:}
    protocol: ${KEYCLOAK_PROTOCOL:http}
    base-path: ${KEYCLOAK_BASE_PATH:`/auth`}
    internal-realm: ${KEYCLOAK_INTERNAL_REALM:_airbyte-internal}

endpoints:
  beans:
    enabled: true
    sensitive: false
  caches:
    enabled: true
    sensitive: false
  env:
    enabled: true
    sensitive: false
  health:
    enabled: false
    jdbc:
      enabled: false
    sensitive: false
  info:
    enabled: true
    sensitive: true
  loggers:
    enabled: true
    sensitive: true
  metrics:
    enabled: ${MICROMETER_METRICS_ENABLED:false}
    sensitive: false
  refresh:
    enabled: false
    sensitive: true
  routes:
    enabled: true
    sensitive: false
  threaddump:
    enabled: true
    sensitive: true

jackson:
  mapper:
    ACCEPT_CASE_INSENSITIVE_ENUMS: true

logger:
  levels:
    com.zaxxer.hikari: ERROR
    com.zaxxer.hikari.pool: ERROR
    io.grpc: INFO
    io.fabric8.kubernetes.client: INFO
    io.netty: INFO
    io.temporal: INFO
#   Uncomment to help resolve issues with conditional beans
#      io.micronaut.context.condition: DEBUG
