apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-airbyte-data-plane-secrets
  labels:
    {{- include "airbyte-data-plane.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- include "airbyte-data-plane.dataPlane.secrets" . | nindent 2 }}
  {{- include "airbyte-data-plane.enterprise.secrets" . | nindent 2 }}
  {{- include "airbyte-data-plane.secretsManager.secrets" . | nindent 2 }}
  {{- include "airbyte-data-plane.storage.secrets" . | nindent 2 }}
  {{- include "airbyte-data-plane.temporal.cloud.secrets" . | nindent 2 }}
  {{- include "airbyte-data-plane.workloadApiServer.secrets" . | nindent 2 }}
