@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

.notifications {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-xl;
  position: fixed;
  bottom: variables.$spacing-xl;
  max-width: 600px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: z-indices.$notification;
}
