@use "scss/colors";
@use "scss/variables";
@use "scss/z-indices";

$border-radius: variables.$border-radius-lg;

// ------- <table/> --------
.table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px colors.$cardShadowColor;

  &.light {
    box-shadow: none;
  }
}

.thead {
  position: sticky;
  top: 0;
  z-index: z-indices.$tableScroll;
}

// --------- <th/> ---------
.th {
  background: colors.$grey-30;
  color: colors.$grey-500;
  text-transform: uppercase;
  border-bottom: none;
  text-align: left;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  width: auto;
  padding: variables.$spacing-md variables.$spacing-lg;

  &.sorted,
  &.light.sorted {
    color: colors.$blue;
  }

  &.light {
    color: colors.$grey;
    background-color: colors.$grey-50;
    text-transform: capitalize;
    border-bottom: none;
    text-align: left;
    font-size: 11px;
    line-height: 12px;
    font-weight: 400;
  }

  &:first-child {
    border-radius: $border-radius 0 0;
  }

  &:last-child {
    padding-left: variables.$spacing-lg;
    border-radius: 0 $border-radius 0 0;
  }

  > button {
    padding: 0;
  }
}

// --------- <tr/> ---------
.tr {
  background: colors.$white;
  cursor: auto;

  &.clickable {
    cursor: pointer;
  }

  &:hover {
    background-color: colors.$grey-50;
  }
}

// --------- <td/> ---------

.td {
  padding: variables.$spacing-md variables.$spacing-lg;
  font-size: variables.$font-size-sm;
  line-height: 1.2;
  font-weight: normal;
  color: colors.$dark-blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: variables.$border-thin solid colors.$grey-50;
  width: auto;

  &.responsive {
    max-width: 0;
  }

  tr:last-child > & {
    border-bottom: none;

    &:first-child {
      border-radius: 0 0 0 $border-radius;
    }

    &:last-child {
      border-radius: 0 0 $border-radius;
    }
  }
}
