@use "scss/variables";

.formContainer {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  position: relative;
  flex: 1;
}

.tryArrow {
  margin: 0 variables.$spacing-md -1px 0;

  // used to control svg size
  font-size: variables.$font-size-lg;
}
