@use "scss/variables";

.header {
  margin: variables.$spacing-md 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  font-size: variables.$font-size-lg;
  line-height: 1.2;
  padding: variables.$spacing-md variables.$spacing-xl;
}
