micronaut:
  application:
    name: airbyte-workload-launcher
  server:
    port: 8016
    netty:
      access-logger:
        enabled: ${HTTP_ACCESS_LOG_ENABLED:true}
    idle-timeout: ${HTTP_IDLE_TIMEOUT:10m}

airbyte:
  feature-flag:
    client: ${FEATURE_FLAG_CLIENT:}
    path: ${FEATURE_FLAG_PATH:/flags}
    api-key: ${LAUNCHDARKLY_KEY:}
  workload-api:
    basepath: ${WORKLOAD_API_BASE_PATH:}
    auth-header:
      name: ${AIRBYTE_API_AUTH_HEADER_NAME:}
    service-account:
      credentials-path: ${DATA_PLANE_SERVICE_ACCOUNT_CREDENTIALS_PATH:}
      email: ${DATA_PLANE_SERVICE_ACCOUNT_EMAIL:}
  data-plane-id: ${DATA_PLANE_ID:}
  control-plane-auth-endpoint: ${CONTROL_PLANE_AUTH_ENDPOINT:}
  secret:
    persistence: ${SECRET_PERSISTENCE}
    store:
      aws:
        access-key: ${AWS_ACCESS_KEY:}
        secret-key: ${AWS_SECRET_ACCESS_KEY:}
      gcp:
        credentials: ${SECRET_STORE_GCP_CREDENTIALS:}
        project-id: ${SECRET_STORE_GCP_PROJECT_ID:}
      vault:
        address: ${VAULT_ADDRESS:}
        prefix: ${VAULT_PREFIX:}
        token: ${VAULT_AUTH_TOKEN:}
  version: ${AIRBYTE_VERSION}
  container.orchestrator:
    data-plane-creds:
      secret-mount-path: ${CONTAINER_ORCHESTRATOR_DATA_PLANE_CREDS_SECRET_MOUNT_PATH:}
      secret-name: ${CONTAINER_ORCHESTRATOR_DATA_PLANE_CREDS_SECRET_NAME:}
    image: ${CONTAINER_ORCHESTRATOR_IMAGE:}
    java-opts: ${CONTAINER_ORCHESTRATOR_JAVA_OPTS:}
    secret-mount-path: ${CONTAINER_ORCHESTRATOR_SECRET_MOUNT_PATH:}
    secret-name: ${CONTAINER_ORCHESTRATOR_SECRET_NAME:}
  role: ${AIRBYTE_ROLE:}
  worker:
    job:
      error-reporting:
        sentry:
          dsn: ${JOB_ERROR_REPORTING_SENTRY_DSN}
        strategy: ${JOB_ERROR_REPORTING_STRATEGY:LOGGING}
      kube:
        images:
          busybox: ${JOB_KUBE_BUSYBOX_IMAGE:`busybox:1.28`}
          curl: ${JOB_KUBE_CURL_IMAGE:`curlimages/curl:7.83.1`}
          socat: ${JOB_KUBE_SOCAT_IMAGE:`alpine/socat:1.7.4.3-r0`}
        main:
          container:
            image-pull-policy: ${JOB_KUBE_MAIN_CONTAINER_IMAGE_PULL_POLICY:IfNotPresent}
            image-pull-secret: ${JOB_KUBE_MAIN_CONTAINER_IMAGE_PULL_SECRET:}
        namespace: ${JOB_KUBE_NAMESPACE:default}
        serviceAccount: ${JOB_KUBE_SERVICEACCOUNT:airbyte-admin} # by default, Airbyte on Kube ships with the `airbyte-admin` service account. If that ever changes, this default should change with it
        tolerations: ${JOB_KUBE_TOLERATIONS:}
        sidecar:
          container:
            image-pull-policy: ${JOB_KUBE_SIDECAR_CONTAINER_IMAGE_PULL_POLICY:IfNotPresent}
    kube-job-configs:
      default:
        annotations: ${JOB_KUBE_ANNOTATIONS:}
        labels: ${JOB_KUBE_LABELS:}
        node-selectors: ${JOB_KUBE_NODE_SELECTORS:}
        cpu-limit: ${JOB_MAIN_CONTAINER_CPU_LIMIT:}
        cpu-request: ${JOB_MAIN_CONTAINER_CPU_REQUEST:}
        memory-limit: ${JOB_MAIN_CONTAINER_MEMORY_LIMIT:}
        memory-request: ${JOB_MAIN_CONTAINER_MEMORY_REQUEST:}
    isolated:
      kube:
        use-custom-node-selector: ${USE_CUSTOM_NODE_SELECTOR:false}
        node-selectors: ${JOB_ISOLATED_KUBE_NODE_SELECTORS:}
  metric:
    client: ${METRIC_CLIENT:}
    should-publish: ${PUBLISH_METRICS:false}
  internal.api:
    host: ${INTERNAL_API_HOST}
    auth-header:
      name: ${AIRBYTE_API_AUTH_HEADER_NAME:}
      value: ${AIRBYTE_API_AUTH_HEADER_VALUE:}
  data.plane.service-account:
    credentials-path: ${DATA_PLANE_SERVICE_ACCOUNT_CREDENTIALS_PATH:}
    email: ${DATA_PLANE_SERVICE_ACCOUNT_EMAIL:}
  control.plane.auth-endpoint: ${CONTROL_PLANE_AUTH_ENDPOINT:}
  acceptance.test.enabled: ${ACCEPTANCE_TEST_ENABLED:false}
  cloud:
    storage:
      # TODO: do we need any of this logs stuff
      #      logs:
      #        type: ${WORKER_LOGS_STORAGE_TYPE:}
      #        gcs:
      #          application-credentials: ${GOOGLE_APPLICATION_CREDENTIALS:}
      #          bucket: ${GCS_LOG_BUCKET:}
      #        minio:
      #          access-key: ${AWS_ACCESS_KEY_ID:}
      #          bucket: ${S3_LOG_BUCKET:}
      #          endpoint: ${S3_MINIO_ENDPOINT:}
      #          secret-access-key: ${AWS_SECRET_ACCESS_KEY:}
      #        s3:
      #          access-key: ${AWS_ACCESS_KEY_ID:}
      #          bucket: ${S3_LOG_BUCKET:}
      #          region: ${S3_LOG_BUCKET_REGION:}
      #          secret-access-key: ${AWS_SECRET_ACCESS_KEY:}
      state:
        type: ${WORKER_STATE_STORAGE_TYPE:}
        gcs:
          application-credentials: ${STATE_STORAGE_GCS_APPLICATION_CREDENTIALS:}
          bucket: ${STATE_STORAGE_GCS_BUCKET_NAME:}
        minio:
          access-key: ${STATE_STORAGE_MINIO_ACCESS_KEY:}
          bucket: ${STATE_STORAGE_MINIO_BUCKET_NAME:}
          endpoint: ${STATE_STORAGE_MINIO_ENDPOINT:}
          secret-access-key: ${STATE_STORAGE_MINIO_SECRET_ACCESS_KEY:}
        s3:
          access-key: ${STATE_STORAGE_S3_ACCESS_KEY:}
          bucket: ${STATE_STORAGE_S3_BUCKET_NAME:}
          region: ${STATE_STORAGE_S3_REGION:}
          secret-access-key: ${STATE_STORAGE_S3_SECRET_ACCESS_KEY:}
  workspace:
    docker-mount: ${WORKSPACE_DOCKER_MOUNT:}
    root: ${WORKSPACE_ROOT}
datadog:
  agent:
    host: ${DD_AGENT_HOST:}
    port: ${DD_DOGSTATSD_PORT:}
  orchestrator.disabled.integrations: ${DD_ORCHESTRATOR_DISABLED_INTEGRATIONS:GRPC,GRPC_CLIENT,GRPC_SERVER,NETTY,NETTY_4_1,GOOGLE_HTTP_CLIENT,HTTPURLCONNECTION,URLCONNECTION}
google.application.credentials: ${GOOGLE_APPLICATION_CREDENTIALS:}

endpoints:
  beans:
    enabled: true
    sensitive: false
  env:
    enabled: true
    sensitive: false
  health:
    enabled: true
    jdbc:
      enabled: false
    sensitive: false
  info:
    enabled: true
    sensitive: true
  loggers:
    enabled: true
    sensitive: false
  refresh:
    enabled: false
    sensitive: true
  routes:
    enabled: true
    sensitive: false
  threaddump:
    enabled: true
    sensitive: true

logger:
  levels:
#   Uncomment to help resolve issues with conditional beans
#      io.micronaut.context.condition: DEBUG

