@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
  height: 100%;
}

.pageDisplay {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-sm;
  position: relative;
}

.paginator {
  display: flex;
  gap: 2px;
  align-self: center;
  justify-self: flex-end;
  margin-top: auto;
  margin-bottom: 0;
  flex: 0 0 auto;
  background-color: colors.$foreground;
}

.pageLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
}
