$page-width: 1200px;

$transition: 0.3s;
$transition-out: $transition ease-out;

$border-thin: 1px;
$border-thick: 2px;

$border-radius-2xs: 3px;
$border-radius-xs: 4px;
$border-radius-sm: 6px;
$border-radius-md: 8px;
$border-radius-lg: 10px;
$border-radius-xl: 12px;
$border-radius-2xl: 15px;
$border-radius-pill: 500px;
$card-border-radius: $border-radius-lg;

$box-shadow: var(--box-shadow);
$box-shadow-left: var(--box-shadow-left);
$box-shadow-right: var(--box-shadow-right);
$box-shadow-raised: var(--box-shadow-raised);
$box-shadow-popup: var(--box-shadow-popup);
$box-shadow-sidebar: var(--box-shadow-sidebar);
$box-shadow-inset: var(--box-shadow-inset);
$box-shadow-menu: var(--box-shadow-menu);
$box-shadow-highlight: 0 0 47px -5px;

$spacing-xs: 3px;
$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 15px;
$spacing-xl: 20px;
$spacing-2xl: 40px;

$width-side-menu: 200px;
$width-wide-menu: 200px;
$width-sync-mode-dropdown: 225px;
$width-extra-wide-menu: 300px;
$width-search-bar: 400px;
$width-max-notification: 600px;
$width-connection-header: 680px;
$width-connector-name-placeholder: 120px;
$width-login-form: 409px;

$width-modal-sm: 492px;
$width-modal-md: 585px;
$width-modal-lg: 940px;
$width-modal-xl: 1008px;

// large total width - sidebar width - main layout padding-left - main layout padding-right
$min-width-wide-table-container: 1280px - $width-side-menu - $spacing-xl - $spacing-xl;
$height-empty-sync-catalog: 300px;
$height-connection-header: 167px;
$height-long-listbox-options-list: 300px;
$min-width-listbox-options-list: 250px;

$height-breadcrumb: 45px;

$height-soft-edge: 15px;

$button-height-xs: 32px;
$button-height-sm: 36px;
$button-height-lg: 44px;

$form-input-height: 38px;

$font-size-xs: var(--font-size-xs);
$font-size-sm: var(--font-size-sm);
$font-size-md: var(--font-size-md);
$font-size-lg: var(--font-size-lg);

// Nothing special, just the default from normalize.css
$default-line-height: 1.15;
