$intercom: 2147483001; // Liable to change if intercom updates their CSS

$base: 0;
$bulkEdit: 1000;
$tooltip: $intercom + 4;
$notification: $intercom + 3;
$datepicker: $intercom + 2;
$mainPageWithScrollEdge: 1;
$modal: $intercom + 1;
$overlay: 2;
$pageHeader: 2;
$sidebar: $intercom;
$schemaChangesBackdropContent: 4;
$schemaChangesBackdrop: 3;
$dropdownMenu: 2;
$listBox: 2;
$tableScroll: 1;
$panelSplitter: 0;
