@use "scss/variables";

.text {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-sm;
}

.title,
.description {
  margin: 0;
}

.setup {
  gap: variables.$spacing-md;

  .title {
    font-weight: 500;
  }
}
