@use "scss/colors";
@use "scss/variables";

.page {
  width: 100%;
  padding: variables.$spacing-2xl;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-sm;
}

.card {
  border: variables.$border-thin solid colors.$border-color;
}

.divider {
  width: 100%;
}

.dividerLine {
  flex: 1;
  height: variables.$border-thin;
  background: colors.$border-color;
}

.codeBlock {
  position: relative;
  overflow: hidden;
  padding: variables.$spacing-lg;
  border-radius: variables.$border-radius-xs;
  background: colors.$grey-50;
  color: colors.$dark-blue;
}

.codeBlock pre {
  padding-right: 90px;
  overflow-x: auto;
  color: colors.$dark-blue;
  font-size: variables.$font-size-sm;
}

.codeBlock .codeCopyButton {
  position: absolute;
  top: 50%;
  right: variables.$spacing-md;
  transform: translateY(-50%);
}
