@use "scss/colors";
@use "scss/variables";

.cards {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-lg;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: variables.$spacing-lg;
  padding: variables.$spacing-xl;
  border: 1px solid colors.$grey-100;
  border-radius: variables.$border-radius-xs;
  background: colors.$foreground;
}

.control {
  flex-shrink: 0;
}

.unsupported {
  margin: 0;
}
