@use "scss/variables";
@use "scss/colors";

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

$colorMap: (
  "primary": colors.$blue,
  "disabled": colors.$grey,
  "action": colors.$grey,
  "success": colors.$green,
  "error": colors.$red,
  "warning": colors.$yellow,
  "affordance": colors.$dark-blue,
);

$baseIconSize: 12px;
$iconClassname: "icon";

.#{$iconClassname} {
  display: inline-block;
  height: $baseIconSize;
  width: $baseIconSize;
  vertical-align: -6%;

  &.#{$iconClassname}--spinning {
    animation: spinning 1.5s linear 0s infinite;
  }

  &.#{$iconClassname}--withBackground {
    color: colors.$foreground;
    box-sizing: content-box;
    border-radius: variables.$border-radius-pill;
    padding: 4px;
    background-color: colors.$inverse; // default if color isn't specified
  }

  @each $name, $color in $colorMap {
    &--#{$name} {
      color: $color;

      &.#{$iconClassname}--withBackground {
        background-color: $color;
      }
    }
  }
}

$sizes:
  "xs" calc(1 / 1.618) 3% -13%,
  "sm" 1 -6% -30%,
  "md" 1.618 -27% -41%,
  "lg" 2.618 -60% -73%,
  "xl" 3.618 -90% -93%;

@each $name, $sizeModifier, $verticalAlign, $verticalAlignWithBackground in $sizes {
  .#{$name} {
    height: $baseIconSize * $sizeModifier;
    width: $baseIconSize * $sizeModifier;
    vertical-align: #{$verticalAlign};

    &.#{$iconClassname}--withBackground {
      vertical-align: #{$verticalAlignWithBackground};
    }
  }
}
