@use "scss/colors";
@use "scss/variables";

.eventList {
  > * {
    position: relative;

    &:not(:last-child)::before {
      content: "";
      position: absolute;
      top: variables.$spacing-lg;
      left: 30px;
      height: 100%;
      width: variables.$border-thick;
      background-color: colors.$grey-100;
      transform: translateX(-50%);
    }
  }
}
