@use "scss/variables";

.modalLoading {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: variables.$spacing-lg;
}
