@use "scss/colors";

.text {
  margin: 0;
  padding: 0;

  &.inverse {
    color: colors.$white;
  }
}

.sm,
.md {
  font-weight: 400;
  line-height: 1.2;
}

.xs {
  font-size: 11px;
}

.sm {
  font-size: variables.$font-size-sm;
}

.md {
  font-size: variables.$font-size-md;
}

.lg {
  font-size: variables.$font-size-lg;
  font-weight: 500;
  line-height: 1.3;
}

.darkBlue {
  color: colors.$dark-blue;
}

.grey {
  color: colors.$grey;
}

.grey300 {
  color: colors.$grey-300;
}

.centered {
  text-align: center;
}

.bold,
.text > strong {
  font-weight: 600;
}

.gradient {
  background-image: linear-gradient(to right, colors.$blue-400, colors.$orange-300);

  // disable no-vendor-prefix check, because without -webkit-background-clip, the text gradient is not properly rendered in Chrome
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
