@use "scss/colors";
@use "scss/variables";

.filterButton {
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-sm;
  color: colors.$grey-400;
}

.filterOption {
  white-space: nowrap;
}

.tagListboxOptions {
  max-height: variables.$height-long-listbox-options-list;
  overflow-y: auto;
}
