@use "scss/variables";
@use "scss/colors";

.proFeaturesModal {
  padding: 0;

  & > * {
    height: 100%;
  }
}

.proFeaturesModal__layout {
  height: 100%;
}

.proFeaturesModal__content {
  width: 50%;
  padding: variables.$spacing-2xl;
}

.proFeaturesModal__featuresList {
  margin-top: variables.$spacing-sm;
  padding-left: variables.$spacing-xl;
  font-size: variables.$font-size-lg;
  line-height: 1.5;
}

.proFeaturesModal__image {
  width: 50%;
  overflow: hidden;
}

.proFeaturesModal__imageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
