@use "scss/variables";

.container {
  height: 100%;
  overflow-y: auto;
  padding: variables.$spacing-xl;
  scrollbar-gutter: stable;
}

.supportAgentBotPadding {
  // Reserve space for Support Agent Bot floating button on the right
  padding-right: 25px;
}
