@use "scss/colors";
@use "scss/variables";

.internalFailureContainer {
  border-radius: variables.$border-radius-md;
  background-color: colors.$red-50;
  padding-bottom: variables.$spacing-md;
}

.internalFailureReason {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  background: colors.$red-30;
  padding: variables.$spacing-sm variables.$spacing-md;
  font-family: monospace;
}
