.attemptDropdown {
  white-space: nowrap;

  &__listbox {
    min-width: 134px; /** So the box does not change width when switching between attempt 1, 2 and 3 **/
  }
}

.downloadLogs {
  margin-left: auto;
}
