@use "scss/variables";

.attemptDropdown {
  white-space: nowrap;

  &__listbox {
    min-width: 134px; /** So the box does not change width when switching between attempt 1, 2 and 3 **/
  }
}

.downloadLogs {
  margin-left: auto;
}

.searchOptions {
  margin-left: variables.$spacing-sm;

  &__button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__chevron {
    transition: 0.2s transform;

    &--open {
      transform: rotate(90deg);
    }
  }

  &__container {
    padding-left: variables.$spacing-sm;
  }
}
