@use "scss/variables";
@use "scss/colors";
@use "scss/mixins";
@use "./builderVariables.scss";

.container {
  @include mixins.shadow;

  padding: variables.$spacing-lg;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: builderVariables.$sideBarWidth;
  flex: 0 0 auto;
  background-color: colors.$foreground;
  border-left: 1px solid colors.$grey-100;
}

.contained {
  max-width: 100%;
}

.connectorName {
  word-wrap: break-word;
  flex: 0 0 auto;
  max-width: 100%;
}

.slackLink {
  color: colors.$dark-blue;

  &:hover {
    color: colors.$blue;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

.slackIcon {
  height: 14px;
  width: 14px;
}

.modeSpecificContent {
  flex-grow: 1;
  width: 100%;
  min-height: 0;
}
