{{! Override of kotlin-server/data_class_req_var.mustache to add `override` }}
{{! prefix when this property is inherited from a parent (allOf inheritance). }}
{{! Without this, kotlin-server emits subclass data classes that redeclare }}
{{! parent properties without `override`, which is invalid Kotlin. }}
{{#description}}
    /* {{{.}}} */
{{/description}}
    {{! Note that required properties may be nullable according to the OpenAPI specification. }}
    {{#isInherited}}override {{/isInherited}}{{>modelMutable}} {{{name}}}: {{#isEnum}}{{{classname}}}.{{{nameInPascalCase}}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isNullable}}?{{/isNullable}}{{#defaultValue}} = {{^isNumber}}{{{defaultValue}}}{{/isNumber}}{{#isNumber}}{{{dataType}}}("{{{defaultValue}}}"){{/isNumber}}{{/defaultValue}}
