@use "scss/colors";
@use "scss/variables";

.badgeAlignment {
  vertical-align: middle;
}

.collapsedQuestion {
  overflow: hidden;
  height: 0;
  transition: height variables.$transition-out;
}

.expandedQuestion {
  overflow: hidden;
  height: 131px;
  transition: height variables.$transition-out;
}
