@use "scss/colors";
@use "scss/variables";

.listboxOptions {
  width: variables.$min-width-listbox-options-list;
  border-radius: variables.$border-radius-lg;
  box-shadow: variables.$box-shadow-menu;
  display: flex;
  flex-direction: column;
  gap: 0;
  background: colors.$foreground;
  max-height: variables.$height-long-listbox-options-list;
  overflow: auto;

  // remove default browser styles for ul
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  &:focus-visible {
    outline: none;
  }

  &--fullWidth {
    /** --button-width is a variable exposed by headless-ui */
    width: var(--button-width);
  }
}
