@use "scss/variables";
@use "scss/colors";
@use "scss/z-indices";

.button {
  padding: 0 variables.$spacing-md;
  width: 100%;
  cursor: pointer;
  background-color: initial;
  border: variables.$border-thin solid colors.$grey-200;
  border-radius: variables.$border-radius-sm;
  padding-inline: variables.$spacing-md;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: variables.$spacing-md;
  font-size: variables.$font-size-lg;
  height: variables.$form-input-height;

  &:disabled {
    border-color: colors.$grey-100;
    cursor: default;
  }

  &[aria-expanded="true"] {
    border-color: colors.$blue;
  }

  &:hover:not(:disabled) {
    border-color: colors.$grey-300;
  }

  &:focus:not(:disabled) {
    border-color: colors.$blue;
  }

  &:hover:not(:disabled)[aria-expanded="true"] {
    border-color: colors.$blue;
  }

  &--error {
    border-color: colors.$red-200;

    &:hover:not(:disabled) {
      border-color: colors.$red;
    }
  }

  .disabledText {
    color: colors.$grey-300;
  }
}

.defaultControlButton {
  font-weight: normal;
}

.optionsMenu {
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-lg;
  box-shadow: variables.$box-shadow-menu;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: variables.$min-width-listbox-options-list;
  max-height: variables.$height-long-listbox-options-list;
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow: auto;

  &:focus-visible {
    outline: none;
  }

  &.nonAdaptive {
    max-width: variables.$min-width-listbox-options-list;
  }
}

.option {
  list-style-type: none;
  overflow: visible;
  box-sizing: border-box;
  user-select: none;

  &:first-child > * {
    border-top-left-radius: variables.$border-radius-lg;
    border-top-right-radius: variables.$border-radius-lg;
  }

  &:last-child > * {
    border-bottom-left-radius: variables.$border-radius-lg;
    border-bottom-right-radius: variables.$border-radius-lg;
  }
}

.optionValue {
  border: variables.$border-thin solid transparent;
  padding: (variables.$spacing-xs + variables.$spacing-md) variables.$spacing-lg;
  cursor: pointer;
}

.icon {
  max-width: 18px;
  max-height: 18px;
}

.label {
  color: inherit;
  font-size: variables.$font-size-lg;
}

.focus {
  background-color: colors.$grey-50;

  &.focus {
    border-color: colors.$blue;
  }
}

.selected {
  background-color: colors.$blue-50;

  &.focus {
    border-color: colors.$blue;
  }
}

.disabled {
  color: colors.$grey-300;
}
