@use "scss/variables";
@use "scss/colors";
@use "scss/z-indices";

.button {
  width: 100%;
  cursor: pointer;
  border: 1px solid colors.$grey-50;
  background-color: colors.$grey-50;
  border-radius: variables.$border-radius-xs;
  padding: 7px 8px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: variables.$font-size-lg;
  line-height: 1.4;
  min-height: 36px;

  &:hover {
    border-color: colors.$grey-100;
  }

  &--error {
    border-color: colors.$red-100;

    &:hover {
      border-color: colors.$red;
    }
  }
}

.optionsContainer {
  position: relative;
}

.optionsMenu {
  background-color: colors.$white;
  border-radius: variables.$border-radius-lg;
  box-shadow: 0 7px 15px -5px colors.$grey;
  padding: variables.$spacing-md;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  z-index: z-indices.$listBox;
}

.caret {
  color: colors.$grey-300;
}

.option {
  list-style-type: none;
}

.icon {
  padding-right: variables.$spacing-md;

  & svg,
  & img {
    max-width: 18px;
    max-height: 18px;
  }
}

.label {
  padding: variables.$spacing-lg 0;
}

.optionValue {
  padding: 0 variables.$spacing-md;
  border-radius: variables.$border-radius-md;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.active {
  background-color: colors.$grey-50;
  height: 100%;
  width: 100%;
}

.selected {
  background-color: colors.$blue-50;
}

.disabled {
  color: colors.$grey-300;
}
