@use "scss/variables";
@use "scss/colors";

.versionInput {
  flex-basis: 0;
}

.formControl {
  flex-grow: 1;
}

.useVersion {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: variables.$spacing-sm;
  padding-bottom: 0;

  & label {
    padding-bottom: 0;
  }
}

.githubTokenLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: variables.$spacing-sm;
  font-size: variables.$font-size-lg;

  & svg {
    flex-shrink: 0;
  }
}
