@use "scss/colors";
@use "scss/variables";

.jobItem {
  &:not(:last-child) {
    border-bottom: variables.$border-thin solid colors.$grey-100;
  }

  &:hover {
    background-color: colors.$grey-50;
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors.$foreground;
    padding: 6px 0;
    min-height: 58px;
  }
}
