@use "scss/variables";
@use "scss/colors";

.streamsHeader {
  width: calc(100% - variables.$spacing-sm);
  padding: 0 0 0 variables.$spacing-md;
  box-sizing: content-box;
}

.streamsHeading {
  color: colors.$blue;
  text-align: center;
  text-transform: uppercase;

  // Set line-height to 1 to make this centered with the info tooltip icon, and because this is a single line anyway
  line-height: 1;
}

.viewButton {
  border: none;
  width: 100%;
  height: 34px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: variables.$border-radius-md;
  padding: variables.$spacing-md;
  display: flex;
  align-items: center;
  gap: variables.$spacing-md;
  overflow: hidden;
}

.unselectedViewButton {
  background-color: transparent;
  color: colors.$dark-blue;

  &:hover {
    background-color: colors.$grey-50;
  }
}

.selectedViewButton {
  background-color: colors.$blue-40;
  color: colors.$blue-600;
}

.streamListContainer {
  width: 100%;
  min-height: 30px;
  flex-shrink: 1;
}

.streamList {
  flex-shrink: 1;
  overflow-y: auto;
  min-height: 0;
}

.viewLabel {
  flex: 1;
  overflow: hidden;
  display: flex;
  gap: variables.$spacing-sm;
  align-items: center;
}

.indicator {
  flex: 0 0 auto;
  margin-right: variables.$spacing-xs;
}

.warningIndicator {
  background-color: colors.$yellow;
}

%streamViewText,
.streamViewText {
  color: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.generatedStreamViewContainer {
  margin-left: variables.$spacing-2xl; // indent from dynamic stream's name
  min-height: 0;
  flex-shrink: 1;
}

.emptyStreamViewText {
  color: colors.$grey-300;
}

.streamViewButtonContent {
  width: 100%;
}

.asyncBadge {
  background-color: colors.$grey-50;
  color: colors.$grey-400;
  padding: variables.$spacing-xs variables.$spacing-sm;
  border-radius: variables.$border-radius-md;
}

$buttonWidth: 26px;

.addStreamButton {
  width: $buttonWidth;
  height: $buttonWidth !important;
  border-radius: 50%;
}

.streamTemplateList {
  min-height: 70px;
}
