@use "scss/colors";
@use "scss/variables";

.table {
  td {
    padding-top: variables.$spacing-sm;
    padding-bottom: variables.$spacing-sm;
  }
}

.draft {
  color: colors.$grey-800;
}

.versionCell {
  padding-left: variables.$spacing-sm;
}

.versionItem {
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-md;
  border: none;
  background: none;
  display: block;
  text-align: left;

  &:hover {
    cursor: pointer;
    background: colors.$grey-50;
  }

  &--active:hover {
    cursor: initial;
    background: none;
  }
}

.activeVersion {
  background: colors.$grey-50;
  color: colors.$dark-blue;
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-sm;
  text-transform: uppercase;
}