openapi: 3.1.0
info:
  title: airbyte-api
  version: 1.0.0
  description: Programmatically control Airbyte Cloud, OSS & Enterprise.
servers:
- url: https://api.airbyte.com/v1
  description: Airbyte API v1
paths:
  /:
    get:
      tags:
      - public_root
      - public
      responses:
        '200':
          content:
            text/html: {}
          description: Redirects to documentation
      operationId: getDocumentation
      x-speakeasy-alias: getDocumentation
      summary: Root path, currently returns a redirect to the documentation
      security: []
  /health:
    get:
      tags:
      - public_health
      - public
      responses:
        '200':
          description: Successful operation
      operationId: getHealthCheck
      summary: Health Check
      security: []
      x-speakeasy-alias: getHealthCheck
      x-speakeasy-group: Health
  /config_templates/sources:
    get:
      description: List all config templates available to a workspace. This endpoint
        is only available when Airbyte Embedded is enabled.
      tags:
      - public_config_templates
      - public
      - ConfigTemplates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplateListResponse'
          description: List all config templates a User has permission to view.
        '403':
          description: Not allowed
      operationId: listConfigTemplates
      summary: List config templates
      x-speakeasy-alias: listConfigTemplates
      x-speakeasy-group: ConfigTemplates
      parameters:
      - name: organizationId
        description: ID of the organization
        schema:
          format: UUID
          type: string
        in: query
        required: true
    post:
      description: Create a config template for an organization. This endpoint is
        only available when Airbyte Embedded is enabled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigTemplateCreateRequestBody'
        required: true
      tags:
      - public_config_templates
      - public
      - ConfigTemplates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplateCreateResponse'
          description: Created a config template.
        '403':
          description: Not allowed
      operationId: createConfigTemplate
      summary: Create config template
      x-speakeasy-alias: createConfigTemplate
      x-speakeasy-group: ConfigTemplates
  /config_templates/connections:
    post:
      description: Create a connection template for an organization. This endpoint
        is only available when Airbyte Embedded is enabled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionTemplateCreateRequestBody'
        required: true
      tags:
      - public_connection_templates
      - public
      - ConnectionTemplates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTemplateCreateResponse'
          description: Created a connection template.
        '403':
          description: Not allowed
      operationId: createConnectionTemplate
      summary: Create connection template
      x-speakeasy-alias: createConnectionTemplate
      x-speakeasy-group: ConnectionTemplates
  /config_templates/sources/{configTemplateId}:
    patch:
      description: Edit a config template for an organization. This endpoint is only
        available when Airbyte Embedded is enabled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigTemplateUpdateRequestBody'
        required: true
      tags:
      - public_config_templates
      - public
      - ConfigTemplates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplateUpdateResponse'
          description: Successfully updated config template
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateConfigTemplate
      x-speakeasy-alias: updateConfigTemplate
      x-speakeasy-group: ConfigTemplates
      summary: Update a config template
      parameters:
      - name: configTemplateId
        schema:
          type: string
          format: uuid
        in: path
        required: true
    get:
      description: Get a config template. This endpoint is only available when Airbyte
        Embedded is enabled.
      tags:
      - public_config_templates
      - public
      - ConfigTemplates
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigTemplatePublicRead'
          description: Get a Config Template by id.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getConfigTemplate
      x-speakeasy-alias: getConfigTemplate
      x-speakeasy-group: ConfigTemplates
      summary: Get a Config Template by id.
      parameters:
      - name: configTemplateId
        schema:
          type: string
          format: uuid
        in: path
        required: true
  /applications:
    get:
      tags:
      - public_applications
      - public
      - Applications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationReadList'
              examples:
                Application List Response Example:
                  value:
                    applications:
                    - id: 780d5bd9-a8a0-43cf-8b35-cc2061ad8319
                      name: test application
                      clientId: b6b159ce-07f4-4699-94b3-3e85b318852e
                      clientSecret: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gU2VkIGNvbmRpbWVudHVtIG5lYyBsaWJlcm8gc2VkIGxvYm9ydGlzLg==
                      createdAt: 1717969830000
          description: List all Applications a User has permission to view.
        '403':
          description: Not allowed
      operationId: listApplications
      summary: List Applications
      x-speakeasy-alias: listApplications
      x-speakeasy-group: Applications
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreate'
            examples:
              Application Creation Request Example:
                value:
                  name: test application
        required: true
      tags:
      - public_applications
      - public
      - Applications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationRead'
              examples:
                Application Creation Response Example:
                  value:
                    id: 780d5bd9-a8a0-43cf-8b35-cc2061ad8319
                    name: test application
                    clientId: b6b159ce-07f4-4699-94b3-3e85b318852e
                    clientSecret: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gU2VkIGNvbmRpbWVudHVtIG5lYyBsaWJlcm8gc2VkIGxvYm9ydGlzLg==
                    createdAt: 1717969830000
          description: Creates a new Application.
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createApplication
      summary: Create an Application
      x-speakeasy-alias: createApplication
      x-speakeasy-group: Applications
  /applications/{applicationId}:
    get:
      tags:
      - public_applications
      - public
      - Applications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationRead'
              examples:
                Application Get Response Example:
                  value:
                    id: 780d5bd9-a8a0-43cf-8b35-cc2061ad8319
                    name: test application
                    clientId: b6b159ce-07f4-4699-94b3-3e85b318852e
                    clientSecret: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gU2VkIGNvbmRpbWVudHVtIG5lYyBsaWJlcm8gc2VkIGxvYm9ydGlzLg==
                    createdAt: 1717969830000
          description: Get an Application by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getApplication
      x-speakeasy-alias: getApplication
      x-speakeasy-group: Applications
      summary: Get an Application detail
    delete:
      tags:
      - public_applications
      - public
      - Applications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationRead'
              examples:
                Application Delete Response Example:
                  value:
                    id: 780d5bd9-a8a0-43cf-8b35-cc2061ad8319
                    name: test application
                    clientId: b6b159ce-07f4-4699-94b3-3e85b318852e
                    clientSecret: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gU2VkIGNvbmRpbWVudHVtIG5lYyBsaWJlcm8gc2VkIGxvYm9ydGlzLg==
                    createdAt: 1717969830000
          description: Delete an Application.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteApplication
      x-speakeasy-alias: deleteApplication
      x-speakeasy-group: Applications
      summary: Deletes an Application
    parameters:
    - name: applicationId
      schema:
        type: string
      in: path
      required: true
  /applications/token:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationTokenRequestWithGrant'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplicationTokenRequestWithGrant'
            examples:
              Application Token Request Example:
                value:
                  clientId: 0da998a2-0d7b-49c7-bb6e-9f7eb9cc68a0
                  clientSecret: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gU2VkIGNvbmRpbWVudHVtIG5lYyBsaWJlcm8gc2VkIGxvYm9ydGlzLg==
        required: true
      tags:
      - public_applications
      - public
      - Applications
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicAccessTokenResponse'
              examples:
                Application Creation Response Example:
                  value:
                    access_token: TG9yZW0gaXBzdW0gZG9sb3Igc2l0IGFtZXQsIGNvbnNlY3RldHVyIGFkaXBpc2NpbmcgZWxpdC4gU2VkIGNvbmRpbWVudHVtIG5lYyBsaWJlcm8gc2VkIGxvYm9ydGlzLg==
          description: Creates an Access Token.
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createAccessToken
      summary: Get an Access Token
      x-speakeasy-alias: createAccessToken
      x-speakeasy-group: Applications
      security: []
  /jobs:
    get:
      tags:
      - public_jobs
      - public
      - Jobs
      parameters:
      - name: connectionId
        description: Filter the Jobs by connectionId.
        schema:
          format: UUID
          type: string
        in: query
        required: false
      - name: limit
        description: Set the limit on the number of Jobs returned. The default is
          20 Jobs.
        schema:
          format: int32
          default: 20
          maximum: 100
          minimum: 1
          type: integer
        in: query
      - name: offset
        description: Set the offset to start at when returning Jobs. The default is
          0.
        schema:
          format: int32
          default: 0
          minimum: 0
          type: integer
        in: query
      - name: jobType
        description: Filter the Jobs by jobType.
        schema:
          $ref: '#/components/schemas/JobTypeEnum'
        in: query
      - name: workspaceIds
        description: The UUIDs of the workspaces you wish to list jobs for. Empty
          list will retrieve all allowed workspaces.
        schema:
          type: array
          items:
            format: uuid
            type: string
        in: query
        required: false
      - name: status
        description: The Job status you want to filter by
        schema:
          $ref: '#/components/schemas/JobStatusEnum'
        in: query
        required: false
      - name: createdAtStart
        description: The start date to filter by
        schema:
          type: string
          format: date-time
        in: query
        required: false
        example: 1687450500000
      - name: createdAtEnd
        description: The end date to filter by
        schema:
          type: string
          format: date-time
        in: query
        required: false
        example: 1687450500000
      - name: updatedAtStart
        description: The start date to filter by
        schema:
          type: string
          format: date-time
        example: 1687450500000
        in: query
        required: false
      - name: updatedAtEnd
        description: The end date to filter by
        schema:
          type: string
          format: date-time
        in: query
        required: false
        example: 1687450500000
      - name: orderBy
        description: The field and method to use for ordering
        schema:
          type: string
          pattern: \w+|(ASC|DESC)
        in: query
        required: false
        example: updatedAt|DESC
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobsResponse'
              examples:
                Job List Response Example:
                  value:
                    next: https://api.airbyte.com/v1/jobs?limit=5&offset=10
                    previous: https://api.airbyte.com/v1/jobs?limit=5&offset=0
                    data:
                    - id: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                      status: running
                      jobType: sync
          description: List all the Jobs by connectionId.
        '403':
          description: Not allowed
      operationId: listJobs
      summary: List Jobs by sync type
      x-speakeasy-alias: listJobs
      x-speakeasy-group: Jobs
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCreateRequest'
            examples:
              Job Creation Request Example:
                value:
                  connectionId: e735894a-e773-4938-969f-45f53957b75b
                  jobType: sync
        required: true
      tags:
      - public_jobs
      - public
      - Jobs
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
              examples:
                Job Creation Response Example:
                  value:
                    jobId: 1234
                    status: running
                    jobType: sync
          description: Kicks off a new Job based on the JobType. The connectionId
            is the resource that Job will be run for.
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createJob
      summary: Trigger a sync or reset job of a connection
      x-speakeasy-alias: createJob
      x-speakeasy-group: Jobs
  /jobs/{jobId}:
    get:
      tags:
      - public_jobs
      - public
      - Jobs
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
              examples:
                Job Get Response Example:
                  value:
                    id: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    status: running
                    jobType: sync
          description: Get a Job by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getJob
      x-speakeasy-alias: getJob
      x-speakeasy-group: Jobs
      summary: Get Job status and details
    delete:
      tags:
      - public_jobs
      - public
      - Jobs
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
          description: Cancel a Job.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: cancelJob
      x-speakeasy-alias: cancelJob
      x-speakeasy-group: Jobs
      summary: Cancel a running Job
    parameters:
    - name: jobId
      schema:
        format: int64
        type: integer
      in: path
      required: true
  /regions:
    get:
      tags:
      - public_regions
      - public
      - Regions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionsResponse'
          description: List all regions for the organization
        '403':
          description: Not allowed
      operationId: listRegions
      summary: List regions
      x-speakeasy-alias: listRegions
      x-speakeasy-group: Regions
      parameters:
      - name: organizationId
        description: The UUID of the organization to list regions for
        schema:
          type: string
          format: uuid
        in: query
        required: true
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionCreateRequest'
        required: true
      tags:
      - public_regions
      - public
      - Regions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResponse'
          description: Successfully created region
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createRegion
      summary: Create a region
      x-speakeasy-alias: createRegion
      x-speakeasy-group: Dataplanes
  /regions/{regionId}:
    get:
      tags:
      - public_regions
      - public
      - Regions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResponse'
          description: Get a region by the id in the path
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getRegion
      x-speakeasy-alias: getRegion
      x-speakeasy-group: Regions
      summary: Get a region
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionPatchRequest'
        required: true
      tags:
      - public_regions
      - public
      - Regions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResponse'
          description: Successfully updated region
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateRegion
      x-speakeasy-alias: updateRegion
      x-speakeasy-group: Dataplanes
      summary: Update a region
    delete:
      tags:
      - public_regions
      - public
      - Regions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResponse'
          description: Successfully deleted region
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteRegion
      x-speakeasy-alias: deleteRegion
      x-speakeasy-group: Regions
      summary: Delete a region
    parameters:
    - name: regionId
      schema:
        type: string
        format: uuid
      in: path
      required: true
  /dataplanes:
    get:
      tags:
      - public_dataplanes
      - public
      - Dataplanes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplanesResponse'
          description: List all dataplanes for the region
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listDataplanes
      summary: List dataplanes
      x-speakeasy-alias: listDataplanes
      x-speakeasy-group: Dataplanes
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataplaneCreateRequest'
        required: true
      tags:
      - public_dataplanes
      - public
      - Dataplanes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneCreateResponseBody'
          description: Successfully created dataplane
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: createDataplane
      summary: Create a dataplane
      x-speakeasy-alias: createDataplane
      x-speakeasy-group: Dataplanes
  /dataplanes/{dataplaneId}:
    get:
      tags:
      - public_dataplanes
      - public
      - Dataplanes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneResponse'
          description: Get a dataplane by the id in the path
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getDataplane
      x-speakeasy-alias: getDataplane
      x-speakeasy-group: Dataplanes
      summary: Get a dataplane
    patch:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataplanePatchRequest'
        required: true
      tags:
      - public_dataplanes
      - public
      - Dataplanes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneResponse'
          description: Successfully updated dataplane
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateDataplane
      x-speakeasy-alias: updateDataplane
      x-speakeasy-group: Dataplanes
      summary: Update a dataplane
    delete:
      tags:
      - public_dataplanes
      - public
      - Dataplanes
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataplaneResponse'
          description: Successfully deleted dataplane
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteDataplane
      x-speakeasy-alias: deleteDataplane
      x-speakeasy-group: Dataplanes
      summary: Delete a dataplane
    parameters:
    - name: dataplaneId
      schema:
        type: string
        format: uuid
      in: path
      required: true
  /connector_definitions:
    get:
      tags:
      - public_connector_definitions
      - public
      - ConnectorDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorDefinitionsResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listConnectorDefinitions
      x-speakeasy-alias: listConnectorDefinitions
      x-speakeasy-group: ConnectorDefinitions
      summary: List connector definitions
      parameters:
      - name: type
        description: The type of connector definition to list
        schema:
          $ref: '#/components/schemas/ConnectorType'
        in: query
        required: true
      - name: workspaceId
        description: The UUID of the workspace you wish to list connector definitions
          for. One of this or organizationId must be populated.
        schema:
          type: string
          format: uuid
        example: df08f6b0-b364-4cc1-9b3f-96f5d2fccfb2
        in: query
        required: false
  /workspaces/{workspaceId}/definitions/declarative_sources:
    parameters:
    - name: workspaceId
      schema:
        format: uuid
        type: string
      in: path
      required: true
    get:
      tags:
      - public_declarative_source_definitions
      - public
      - DeclarativeSourceDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeclarativeSourceDefinitionsResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listDeclarativeSourceDefinitions
      x-speakeasy-alias: listDeclarativeSourceDefinitions
      x-speakeasy-group: DeclarativeSourceDefinitions
      summary: List declarative source definitions.
    post:
      summary: Create a declarative source definition.
      x-speakeasy-entity-operation: DeclarativeSourceDefinition#create
      operationId: createDeclarativeSourceDefinition
      x-speakeasy-alias: createDeclarativeSourceDefinition
      x-speakeasy-group: DeclarativeSourceDefinitions
      tags:
      - public_declarative_source_definitions
      - public
      - DeclarativeSourceDefinitions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeclarativeSourceDefinitionResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeclarativeSourceDefinitionRequest'
  /workspaces/{workspaceId}/definitions/declarative_sources/{definitionId}:
    parameters:
    - name: workspaceId
      schema:
        format: uuid
        type: string
      in: path
      required: true
    - name: definitionId
      x-speakeasy-match: id
      schema:
        format: uuid
        type: string
      in: path
      required: true
    get:
      tags:
      - public_declarative_source_definitions
      - public
      - DeclarativeSourceDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeclarativeSourceDefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getDeclarativeSourceDefinition
      x-speakeasy-alias: getDeclarativeSourceDefinition
      x-speakeasy-group: DeclarativeSourceDefinitions
      summary: Get declarative source definition details.
      x-speakeasy-entity-operation: DeclarativeSourceDefinition#read
    put:
      tags:
      - public_declarative_source_definitions
      - public
      - DeclarativeSourceDefinitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeclarativeSourceDefinitionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeclarativeSourceDefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateDeclarativeSourceDefinition
      x-speakeasy-alias: updateDeclarativeSourceDefinition
      x-speakeasy-group: DeclarativeSourceDefinitions
      summary: Update declarative source definition details.
      x-speakeasy-entity-operation: DeclarativeSourceDefinition#update
    delete:
      tags:
      - public_declarative_source_definitions
      - public
      - DeclarativeSourceDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeclarativeSourceDefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteDeclarativeSourceDefinition
      x-speakeasy-alias: deleteDeclarativeSourceDefinition
      x-speakeasy-group: DeclarativeSourceDefinitions
      summary: Delete a declarative source definition.
      x-speakeasy-entity-operation: DeclarativeSourceDefinition#delete
  /workspaces/{workspaceId}/definitions/sources:
    parameters:
    - name: workspaceId
      schema:
        format: uuid
        type: string
      in: path
      required: true
    get:
      tags:
      - public_source_definitions
      - public
      - SourceDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionsResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listSourceDefinitions
      x-speakeasy-alias: listSourceDefinitions
      x-speakeasy-group: SourceDefinitions
      summary: List source definitions.
    post:
      operationId: createSourceDefinition
      x-speakeasy-alias: createSourceDefinition
      x-speakeasy-group: SourceDefinitions
      summary: Create a source definition.
      x-speakeasy-entity-operation: SourceDefinition#create
      tags:
      - public_source_definitions
      - public
      - SourceDefinitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefinitionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
  /workspaces/{workspaceId}/definitions/sources/{definitionId}:
    parameters:
    - name: workspaceId
      schema:
        format: uuid
        type: string
      in: path
      required: true
    - name: definitionId
      x-speakeasy-match: id
      schema:
        format: uuid
        type: string
      in: path
      required: true
    get:
      tags:
      - public_source_definitions
      - public
      - SourceDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getSourceDefinition
      x-speakeasy-alias: getSourceDefinition
      x-speakeasy-group: SourceDefinitions
      summary: Get source definition details.
      x-speakeasy-entity-operation: SourceDefinition#read
    put:
      tags:
      - public_source_definitions
      - public
      - SourceDefinitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDefinitionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateSourceDefinition
      x-speakeasy-alias: updateSourceDefinition
      x-speakeasy-group: SourceDefinitions
      summary: Update source definition details.
      x-speakeasy-entity-operation: SourceDefinition#update
    delete:
      tags:
      - public_source_definitions
      - public
      - SourceDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteSourceDefinition
      x-speakeasy-alias: deleteSourceDefinition
      x-speakeasy-group: SourceDefinitions
      summary: Delete a source definition.
      x-speakeasy-entity-operation: SourceDefinition#delete
  /workspaces/{workspaceId}/definitions/destinations:
    parameters:
    - name: workspaceId
      schema:
        format: uuid
        type: string
      in: path
      required: true
    get:
      tags:
      - public_destination_definitions
      - public
      - DestinationDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionsResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listDestinationDefinitions
      x-speakeasy-alias: listDestinationDefinitions
      x-speakeasy-group: DestinationDefinitions
      summary: List destination definitions.
    post:
      operationId: createDestinationDefinition
      x-speakeasy-alias: createDestinationDefinition
      x-speakeasy-group: DestinationDefinitions
      summary: Create a destination definition.
      x-speakeasy-entity-operation: DestinationDefinition#create
      tags:
      - public_destination_definitions
      - public
      - DestinationDefinitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefinitionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
  /workspaces/{workspaceId}/definitions/destinations/{definitionId}:
    parameters:
    - name: workspaceId
      schema:
        format: uuid
        type: string
      in: path
      required: true
    - name: definitionId
      x-speakeasy-match: id
      schema:
        format: uuid
        type: string
      in: path
      required: true
    get:
      tags:
      - public_destination_definitions
      - public
      - DestinationDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getDestinationDefinition
      x-speakeasy-alias: getDestinationDefinition
      x-speakeasy-group: DestinationDefinitions
      summary: Get destination definition details.
      x-speakeasy-entity-operation: DestinationDefinition#read
    put:
      tags:
      - public_destination_definitions
      - public
      - DestinationDefinitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDefinitionRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateDestinationDefinition
      x-speakeasy-alias: updateDestinationDefinition
      x-speakeasy-group: DestinationDefinitions
      summary: Update destination definition details.
      x-speakeasy-entity-operation: DestinationDefinition#update
    delete:
      tags:
      - public_destination_definitions
      - public
      - DestinationDefinitions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefinitionResponse'
          description: Success
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteDestinationDefinition
      x-speakeasy-alias: deleteDestinationDefinition
      x-speakeasy-group: DestinationDefinitions
      summary: Delete a destination definition.
      x-speakeasy-entity-operation: DestinationDefinition#delete
  /sources:
    get:
      tags:
      - public_sources
      - public
      - Sources
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourcesResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listSources
      x-speakeasy-alias: listSources
      x-speakeasy-group: Sources
      summary: List sources
      parameters:
      - name: workspaceIds
        description: The UUIDs of the workspaces you wish to list sources for. Empty
          list will retrieve all allowed workspaces.
        schema:
          type: array
          items:
            format: uuid
            type: string
        example: df08f6b0-b364-4cc1-9b3f-96f5d2fccfb2,b0796797-de23-4fc7-a5e2-7e131314718c
        in: query
        required: false
      - name: includeDeleted
        description: Include deleted sources in the returned results.
        schema:
          default: false
          type: boolean
        in: query
        required: false
      - name: limit
        description: Set the limit on the number of sources returned. The default
          is 20.
        schema:
          format: int32
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        in: query
      - name: offset
        description: Set the offset to start at when returning sources. The default
          is 0
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
        in: query
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceCreateRequest'
            examples:
              Source Creation Request Example:
                value:
                  configuration:
                    airbyte_source_name: google-ads
                    conversion_window_days: 14
                    customer_id: '1234567890'
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: My Source
                  workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
      tags:
      - public_sources
      - public
      - Sources
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
              examples:
                Source Creation Response Example:
                  value:
                    sourceId: 0c31738c-0b2d-4887-b506-e2cd1c39cc35
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createSource
      x-speakeasy-alias: createSource
      x-speakeasy-group: Sources
      summary: Create a source
      description: Creates a source given a name, workspace id, and a json blob containing
        the configuration for the source.
  /sources/{sourceId}:
    get:
      tags:
      - public_sources
      - public
      - Sources
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
              examples:
                Source Get Response Example:
                  value:
                    sourceId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: running
                    sourceType: postgres
                    workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
          description: Get a Source by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getSource
      x-speakeasy-alias: getSource
      x-speakeasy-group: Sources
      summary: Get Source details
      parameters:
      - in: query
        name: includeSecretCoordinates
        schema:
          type: boolean
        required: false
        description: Rather than return *** for secret properties include the secret
          coordinate information
    patch:
      tags:
      - public_sources
      - public
      - Sources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcePatchRequest'
            examples:
              Source Update Request Example:
                value:
                  configuration:
                    airbyte_source_name: google-ads
                    conversion_window_days: 14
                    customer_id: '1234567890'
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: My Source
                  workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
              examples:
                Source Update Response Example:
                  value:
                    sourceId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: running
                    sourceType: postgres
                    workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
          description: Update a Source
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: patchSource
      x-speakeasy-alias: patchSource
      x-speakeasy-group: Sources
      summary: Update a Source
    put:
      tags:
      - public_sources
      - public
      - Sources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourcePutRequest'
            examples:
              Source Update Request Example:
                value:
                  configuration:
                    airbyte_source_name: google-ads
                    conversion_window_days: 14
                    customer_id: '1234567890'
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: My Source
                  workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceResponse'
              examples:
                Source Update Response Example:
                  value:
                    sourceId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: running
                    sourceType: postgres
                    workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
          description: Update a source and fully overwrite it
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: putSource
      x-speakeasy-alias: putSource
      x-speakeasy-group: Sources
      summary: Update a Source and fully overwrite it
      x-speakeasy-entity-operation: Source#update
    delete:
      tags:
      - public_sources
      - public
      - Sources
      responses:
        '204':
          description: The resource was deleted successfully
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteSource
      x-speakeasy-alias: deleteSource
      x-speakeasy-group: Sources
      summary: Delete a Source
    parameters:
    - name: sourceId
      schema:
        format: UUID
        type: string
      in: path
      required: true
  /destinations:
    get:
      tags:
      - public_destinations
      - public
      - Destinations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationsResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listDestinations
      x-speakeasy-alias: listDestinations
      x-speakeasy-group: Destinations
      summary: List destinations
      parameters:
      - name: workspaceIds
        description: The UUIDs of the workspaces you wish to list destinations for.
          Empty list will retrieve all allowed workspaces.
        schema:
          type: array
          items:
            format: uuid
            type: string
        in: query
        required: false
      - name: includeDeleted
        description: Include deleted destinations in the returned results.
        schema:
          default: false
          type: boolean
        in: query
        required: false
      - name: limit
        description: Set the limit on the number of destinations returned. The default
          is 20.
        schema:
          format: int32
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        in: query
      - name: offset
        description: Set the offset to start at when returning destinations. The default
          is 0
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
        in: query
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestinationCreateRequest'
            examples:
              Destination Creation Request Example:
                value:
                  name: Postgres
                  workspaceId: 2155ae5a-de39-4808-af6a-16fe7b8b4ed2
                  configuration:
                    airbyte_destination_name: postgres
                    port: 5432
                    schema: public
                    ssl_mode:
                      mode: prefer
                    tunnel_method:
                      tunnel_method: NO_TUNNEL
                    host: localhost
                    database: postgres
                    username: postgres
                    password: test
      tags:
      - public_destinations
      - public
      - Destinations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
              examples:
                Destination Creation Response Example:
                  value:
                    destinationId: af0c3c67-aa61-419f-8922-95b0bf840e86
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: createDestination
      x-speakeasy-alias: createDestination
      x-speakeasy-group: Destinations
      summary: Create a destination
      description: Creates a destination given a name, workspace id, and a json blob
        containing the configuration for the source.
  /destinations/{destinationId}:
    get:
      tags:
      - public_destinations
      - public
      - Destinations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
              examples:
                Destination Get Response Example:
                  value:
                    destinationId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: My Destination
                    sourceType: postgres
                    workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
                    configuration:
                      conversion_window_days: 14
                      customer_id: '1234567890'
                      start_date: 1672531200000
                      end_date: 1704067200000
          description: Get a Destination by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getDestination
      x-speakeasy-alias: getDestination
      x-speakeasy-group: Destinations
      summary: Get Destination details
      parameters:
      - in: query
        name: includeSecretCoordinates
        schema:
          type: boolean
        required: false
        description: Rather than return *** for secret properties include the secret
          coordinate information
    delete:
      tags:
      - public_destinations
      - public
      - Destinations
      responses:
        '204':
          description: The resource was deleted successfully
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteDestination
      x-speakeasy-alias: deleteDestination
      x-speakeasy-group: Destinations
      summary: Delete a Destination
    patch:
      tags:
      - public_destinations
      - public
      - Destinations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestinationPatchRequest'
            examples:
              Destination Update Request Example:
                value:
                  configuration:
                    conversion_window_days: 14
                    customer_id: '1234567890'
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: My Destination
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
              examples:
                Destination Update Response Example:
                  value:
                    destinationId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: running
                    sourceType: postgres
                    workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
                    configuration:
                      conversion_window_days: 14
                      customer_id: '1234567890'
                      start_date: 1672531200000
                      end_date: 1704067200000
          description: Update a Destination
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: patchDestination
      x-speakeasy-alias: patchDestination
      x-speakeasy-group: Destinations
      summary: Update a Destination
    put:
      tags:
      - public_destinations
      - public
      - Destinations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestinationPutRequest'
            examples:
              Destination Update Request Example:
                value:
                  configuration:
                    conversion_window_days: 14
                    customer_id: '1234567890'
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: My Destination
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationResponse'
              examples:
                Destination Update Response Example:
                  value:
                    destinationId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: running
                    sourceType: postgres
                    workspaceId: 744cc0ed-7f05-4949-9e60-2a814f90c035
                    configuration:
                      conversion_window_days: 14
                      customer_id: '1234567890'
                      start_date: 1672531200000
                      end_date: 1704067200000
          description: Update a Destination and fully overwrite it
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: putDestination
      x-speakeasy-alias: putDestination
      x-speakeasy-group: Destinations
      summary: Update a Destination and fully overwrite it
      x-speakeasy-entity-operation: Destination#update
    parameters:
    - name: destinationId
      schema:
        format: UUID
        type: string
      in: path
      required: true
  /oauth/callback:
    get:
      tags:
      - public_oauth
      - public
      - OAuth
      parameters:
      - name: queryParams
        description: Query parameters. Should contain state and code.
        required: false
        schema:
          type: object
          additionalProperties:
            type: string
        in: query
      responses:
        '302':
          description: Redirect to the URL requested in the initiate call with the
            created secret ID.
      operationId: oauthCallback
      x-speakeasy-alias: oauthCallback
      x-speakeasy-group: OAuth
      summary: Receive OAuth callbacks
      description: Redirected to by identity providers after authentication.
      security: []
  /sources/initiateOAuth:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitiateOauthRequest'
        required: true
      tags:
      - public_sources
      - public
      - Sources
      responses:
        '200':
          $ref: '#/components/responses/InitiateOauthResponse'
        '400':
          description: A field in the body has not been set appropriately.
        '403':
          description: API key is invalid.
      operationId: initiateOAuth
      x-speakeasy-alias: initiateOAuth
      x-speakeasy-group: Sources
      summary: Initiate OAuth for a source
      description: |-
        Given a source ID, workspace ID, and redirect URL, initiates OAuth for the source.

        This returns a fully formed URL for performing user authentication against the relevant source identity provider (IdP). Once authentication has been completed, the IdP will redirect to an Airbyte endpoint which will save the access and refresh tokens off as a secret and return the secret ID to the redirect URL specified in the `secret_id` query string parameter.

        That secret ID can be used to create a source with credentials in place of actual tokens.
  /connections:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionCreateRequest'
            examples:
              Connection Creation Request Example:
                value:
                  sourceId: 95e66a59-8045-4307-9678-63bc3c9b8c93
                  destinationId: e478de0d-a3a0-475c-b019-25f7dd29e281
                  name: Postgres-to-Bigquery
        required: true
      tags:
      - public_connections
      - public
      - Connections
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
              examples:
                Connection Creation Response Example:
                  value:
                    connectionId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createConnection
      x-speakeasy-alias: createConnection
      x-speakeasy-group: Connections
      summary: Create a connection
      x-speakeasy-entity-operation: Connection#create
    get:
      tags:
      - public_connections
      - public
      - Connections
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionsResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listConnections
      x-speakeasy-alias: listConnections
      x-speakeasy-group: Connections
      summary: List connections
      x-speakeasy-entity-operation: Connections#read
      parameters:
      - name: workspaceIds
        description: The UUIDs of the workspaces you wish to list connections for.
          Empty list will retrieve all allowed workspaces.
        schema:
          type: array
          items:
            format: uuid
            type: string
        in: query
        required: false
      - name: tagIds
        description: The UUIDs of the tags you wish to list connections for. Empty
          list will retrieve all connections.
        schema:
          type: array
          items:
            format: uuid
            type: string
        in: query
        required: false
      - name: includeDeleted
        description: Include deleted connections in the returned results.
        schema:
          default: false
          type: boolean
        in: query
        required: false
      - name: limit
        description: Set the limit on the number of Connections returned. The default
          is 20.
        schema:
          format: int32
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        in: query
      - name: offset
        description: Set the offset to start at when returning Connections. The default
          is 0
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
        in: query
  /connections/{connectionId}:
    get:
      tags:
      - public_connections
      - public
      - Connections
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
              examples:
                Connection Get Response Example:
                  value:
                    workspaceId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: Postgres To Snowflake
                    sourceId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
                    destinationId: 744cc0ed-7f05-4949-9e60-2a814f90c035
          description: Get a Connection by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getConnection
      x-speakeasy-alias: getConnection
      x-speakeasy-group: Connections
      summary: Get Connection details
      x-speakeasy-entity-operation: Connection#read
    patch:
      tags:
      - public_connections
      - public
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionPatchRequest'
            examples:
              Connection Update Request Example:
                value:
                  sourceId: 95e66a59-8045-4307-9678-63bc3c9b8c93
                  destinationId: e478de0d-a3a0-475c-b019-25f7dd29e281
                  name: Postgres-to-Bigquery
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
              examples:
                Connection Get Response Example:
                  value:
                    workspaceId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: Postgres To Snowflake
                    sourceId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
                    destinationId: 744cc0ed-7f05-4949-9e60-2a814f90c035
          description: Update a Connection by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: patchConnection
      x-speakeasy-alias: patchConnection
      x-speakeasy-group: Connections
      summary: Update Connection details
      x-speakeasy-entity-operation: Connection#update
    delete:
      tags:
      - public_connections
      - public
      - Connections
      responses:
        '204':
          description: The resource was deleted successfully
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteConnection
      x-speakeasy-alias: deleteConnection
      x-speakeasy-group: Connections
      summary: Delete a Connection
      x-speakeasy-entity-operation: Connection#delete
    parameters:
    - name: connectionId
      schema:
        format: UUID
        type: string
      in: path
      required: true
  /streams:
    get:
      tags:
      - public_streams
      - public
      - Streams
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamPropertiesResponse'
          description: Get the available streams properties for a source/destination
            pair.
        '400':
          description: Required parameters are missing
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getStreamProperties
      x-speakeasy-alias: getStreamProperties
      x-speakeasy-group: Streams
      summary: Get stream properties
      parameters:
      - name: sourceId
        description: ID of the source
        schema:
          format: UUID
          type: string
        in: query
        required: true
      - name: destinationId
        description: ID of the destination
        schema:
          format: UUID
          type: string
        in: query
        required: false
      - name: ignoreCache
        description: If true pull the latest schema from the source, else pull from
          cache (default false)
        schema:
          type: boolean
          default: false
        in: query
        required: false
  /workspaces:
    get:
      tags:
      - public_workspaces
      - public
      - Workspaces
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspacesResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listWorkspaces
      x-speakeasy-alias: listWorkspaces
      x-speakeasy-group: Workspaces
      summary: List workspaces
      x-speakeasy-entity-operation: Workspace#list
      parameters:
      - name: workspaceIds
        description: The UUIDs of the workspaces you wish to fetch. Empty list will
          retrieve all allowed workspaces.
        schema:
          type: array
          items:
            format: uuid
            type: string
        in: query
        required: false
      - name: includeDeleted
        description: Include deleted workspaces in the returned results.
        schema:
          default: false
          type: boolean
        in: query
        required: false
      - name: limit
        description: Set the limit on the number of workspaces returned. The default
          is 20.
        schema:
          format: int32
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        in: query
      - name: offset
        description: Set the offset to start at when returning workspaces. The default
          is 0
        schema:
          type: integer
          format: int32
          minimum: 0
          default: 0
        in: query
    post:
      tags:
      - public_workspaces
      - public
      - Workspaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceCreateRequest'
            examples:
              Workspace Creation Request Example:
                value:
                  name: Company Workspace Name
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
              examples:
                Workspace Creation Response Example:
                  value:
                    workspaceId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createWorkspace
      x-speakeasy-alias: createWorkspace
      x-speakeasy-group: Workspaces
      summary: Create a workspace
      x-speakeasy-entity-operation: Workspace#create
  /workspaces/{workspaceId}:
    parameters:
    - name: workspaceId
      schema:
        format: UUID
        type: string
      in: path
      required: true
    get:
      tags:
      - public_workspaces
      - public
      - Workspaces
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
              examples:
                Workspace Get Response Example:
                  value:
                    workspaceId: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
                    name: Acme Company
                    dataResidency: auto
          description: Get a Workspace by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getWorkspace
      x-speakeasy-alias: getWorkspace
      x-speakeasy-group: Workspaces
      summary: Get Workspace details
      x-speakeasy-entity-operation: Workspace#read
    patch:
      tags:
      - public_workspaces
      - public
      - Workspaces
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
            examples:
              Workspace Update Request Example:
                value:
                  name: Company Workspace Name
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceResponse'
              examples:
                Workspace Update Response Example:
                  value:
                    workspaceId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: updateWorkspace
      x-speakeasy-alias: updateWorkspace
      x-speakeasy-group: Workspaces
      summary: Update a workspace
      x-speakeasy-entity-operation: Workspace#update
    delete:
      tags:
      - public_workspaces
      - public
      - Workspaces
      responses:
        '204':
          description: The resource was deleted successfully
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteWorkspace
      x-speakeasy-alias: deleteWorkspace
      x-speakeasy-group: Workspaces
      summary: Delete a Workspace
      x-speakeasy-entity-operation: Workspace#delete
  /workspaces/{workspaceId}/oauthCredentials:
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceOAuthCredentialsRequest'
        required: true
      tags:
      - public_workspaces
      - public
      - Workspaces
      responses:
        '200':
          description: OAuth credential override was successful.
        '400':
          description: A field in the body has not been set appropriately.
        '403':
          description: API key is invalid.
      operationId: createOrUpdateWorkspaceOAuthCredentials
      x-speakeasy-alias: createOrUpdateWorkspaceOAuthCredentials
      x-speakeasy-group: Workspaces
      summary: Create OAuth override credentials for a workspace and source type.
      description: |-
        Create/update a set of OAuth credentials to override the Airbyte-provided OAuth credentials used for source/destination OAuth.
        In order to determine what the credential configuration needs to be, please see the connector specification of the relevant source/destination.
    parameters:
    - name: workspaceId
      schema:
        format: UUID
        type: string
      in: path
      required: true
  /permissions/{permissionId}:
    parameters:
    - name: permissionId
      schema:
        format: UUID
        type: string
      in: path
      required: true
    get:
      tags:
      - public_permissions
      - public
      - Permissions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionResponse'
          description: Get a Permission by the id in the path.
        '403':
          description: Not allowed
        '404':
          description: Not found
        '422':
          description: Data issue
      operationId: getPermission
      summary: Get Permission details
      x-speakeasy-alias: getPermission
      x-speakeasy-group: Permissions
      x-speakeasy-entity-operation: Permission#read
    patch:
      tags:
      - public_permissions
      - public
      - Permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionUpdateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionResponse'
          description: Successful updated
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
        '422':
          description: Data issue
      operationId: updatePermission
      summary: Update a permission
      x-speakeasy-alias: updatePermission
      x-speakeasy-group: Permissions
      x-speakeasy-entity-operation: Permission#update
    delete:
      tags:
      - public_permissions
      - public
      - Permissions
      responses:
        '204':
          description: The resource was deleted successfully
        '403':
          description: Not allowed
        '404':
          description: Not found
        '422':
          description: Data issue
      operationId: deletePermission
      x-speakeasy-alias: deletePermission
      x-speakeasy-group: Permissions
      summary: Delete a Permission
      x-speakeasy-entity-operation: Permission#delete
  /permissions:
    get:
      tags:
      - public_permissions
      - public
      - Permissions
      parameters:
      - name: userId
        description: User Id in permission.
        schema:
          format: UUID
          type: string
        in: query
        required: false
      - name: organizationId
        description: This is required if you want to read someone else's permissions,
          and you should have organization admin or a higher role.
        schema:
          format: UUID
          type: string
        in: query
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionsResponse'
          description: List Permissions.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listPermissions
      x-speakeasy-alias: listPermissions
      x-speakeasy-group: Permissions
      summary: List Permissions by user id
    post:
      tags:
      - public_permissions
      - public
      - Permissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionCreateRequest'
            examples:
              Permission Creation Request Example:
                value:
                  permissionType: workspace_admin
                  userId: 7d08fd6c-531e-4a00-937e-3d355f253e63
                  workspaceId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionResponse'
              examples:
                Permission Creation Response Example:
                  value:
                    permissionId: 9924bcd0-99be-453d-ba47-c2c9766f7da5
                    permissionType: workspace_admin
                    userId: 7d08fd6c-531e-4a00-937e-3d355f253e63
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
      operationId: createPermission
      x-speakeasy-alias: createPermission
      x-speakeasy-group: Permissions
      summary: Create a permission
      x-speakeasy-entity-operation: Permission#create
  /organizations:
    get:
      tags:
      - public_organizations
      - public
      - Organizations
      summary: List all organizations for a user
      description: Lists users organizations.
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationsResponse'
          description: List user's organizations.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listOrganizationsForUser
      x-speakeasy-alias: listOrganizationsForUser
      x-speakeasy-group: Organizations
  /organizations/{organizationId}/oauthCredentials:
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationOAuthCredentialsRequest'
        required: true
      tags:
      - public_organizations
      - public
      - Organizations
      responses:
        '200':
          description: OAuth credential override was successful.
        '400':
          description: A field in the body has not been set appropriately.
        '403':
          description: API key is invalid.
      operationId: createOrUpdateOrganizationOAuthCredentials
      x-speakeasy-alias: createOrUpdateOrganizationOAuthCredentials
      x-speakeasy-group: Organizations
      summary: Create OAuth override credentials for an organization and source type.
      description: |-
        Create/update a set of OAuth credentials to override the Airbyte-provided OAuth credentials used for source/destination OAuth.
        In order to determine what the credential configuration needs to be, please see the connector specification of the relevant source/destination.
    parameters:
    - name: organizationId
      schema:
        format: UUID
        type: string
      in: path
      required: true
  /users:
    get:
      tags:
      - public_users
      - public
      - Users
      summary: List all users within an organization
      description: Organization Admin user can list all users within the same organization.
        Also provide filtering on a list of user IDs or/and a list of user emails.
      parameters:
      - in: query
        name: organizationId
        schema:
          type: string
          format: UUID
        required: true
      - in: query
        name: ids
        schema:
          type: array
          items:
            type: string
            format: UUID
        description: List of user IDs to filter by
      - in: query
        name: emails
        schema:
          type: array
          items:
            type: string
            format: email
        description: List of user emails to filter by
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsersResponse'
          description: List Users.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listUsersWithinAnOrganization
      x-speakeasy-alias: listUsersWithinAnOrganization
      x-speakeasy-group: Users
  /tags:
    get:
      tags:
      - public_tags
      - public
      - Tags
      summary: List all tags
      description: Lists all tags
      parameters:
      - name: workspaceIds
        in: query
        schema:
          type: array
          items:
            format: uuid
            type: string
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
          description: List Tags.
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: listTags
      x-speakeasy-alias: listTags
      x-speakeasy-group: Tags
    post:
      tags:
      - public_tags
      - public
      - Tags
      summary: Create a tag
      description: Create a tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreateRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '409':
          description: Tag with same name already exists
      operationId: createTag
      x-speakeasy-alias: createTag
      x-speakeasy-group: Tags
  /tags/{tagId}:
    parameters:
    - name: tagId
      schema:
        $ref: '#/components/schemas/TagId'
      in: path
      required: true
    get:
      tags:
      - public_tags
      - public
      - Tags
      summary: Get a tag
      description: Get a tag
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
          description: Successful operation
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: getTag
      x-speakeasy-alias: getTag
      x-speakeasy-group: Tags
    delete:
      tags:
      - public_tags
      - public
      - Tags
      summary: Delete a tag
      description: Delete a tag
      responses:
        '204':
          description: The resource was deleted successfully
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: deleteTag
      x-speakeasy-alias: deleteTag
      x-speakeasy-group: Tags
    patch:
      tags:
      - public_tags
      - public
      - Tags
      summary: Update a tag
      description: Update a tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagPatchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagResponse'
          description: Successful operation
        '400':
          description: Invalid data
        '403':
          description: Not allowed
        '404':
          description: Not found
      operationId: updateTag
      x-speakeasy-alias: updateTag
      x-speakeasy-group: Tags
  /embedded/widget_token:
    post:
      description: Get a token for the embedded widget. This endpoint is only available
        when Airbyte Embedded is enabled.
      operationId: getEmbeddedWidget
      x-speakeasy-alias: getEmbeddedWidget
      x-speakeasy-group: EmbeddedWidget
      summary: Get a token for Airbyte Embedded
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddedWidgetRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddedWidgetResponse'
          description: Success
      tags:
      - public
      - embedded_widget
components:
  responses:
    InitiateOauthResponse:
      content:
        application/json: {}
      description: Response from the initiate OAuth call should be an object with
        a single property which will be the `redirect_url`. If a user is redirected
        to this URL, they'll be prompted by the identity provider to authenticate.
      x-speakeasy-component: true
  schemas:
    WorkspaceId:
      type: string
      format: uuid
      x-speakeasy-component: true
    DeclarativeManifest:
      x-speakeasy-component: true
      x-speakeasy-type-override: any
      x-speakeasy-terraform-custom-type:
        imports:
        - github.com/hashicorp/terraform-plugin-framework-jsontypes/jsontypes
        schemaType: jsontypes.NormalizedType{}
        valueType: jsontypes.Normalized
      description: Low code CDK manifest JSON object
      type: object
    ManifestVersion:
      x-speakeasy-component: true
      type: integer
      format: int64
    SourceDefinitionSpecification:
      description: The specification for what values are required to configure the
        sourceDefinition.
      type: object
      example:
        user:
          type: string
      x-speakeasy-component: true
    SourceConfiguration:
      type: object
      description: The values required to configure the source. The schema for this
        must match the schema return by source_definition_specifications/get for the
        source.
      example:
        user: charles
      x-speakeasy-component: true
    DestinationConfiguration:
      type: object
      description: The values required to configure the destination. The schema for
        this must match the schema return by destination_definition_specifications/get
        for the destinationDefinition.
      example:
        user: charles
      x-speakeasy-component: true
    NamespaceDefinitionType:
      type: string
      description: Method used for computing final namespace in destination
      enum:
      - source
      - destination
      - customformat
      x-speakeasy-component: true
    TagId:
      type: string
      format: uuid
      x-speakeasy-component: true
    Tag:
      description: A tag that can be associated with a connection. Useful for grouping
        and organizing connections in a workspace.
      type: object
      x-speakeasy-component: true
      required:
      - tagId
      - workspaceId
      - name
      - color
      properties:
        tagId:
          $ref: '#/components/schemas/TagId'
        workspaceId:
          $ref: '#/components/schemas/WorkspaceId'
        name:
          type: string
        color:
          type: string
    OrganizationId:
      type: string
      format: uuid
      x-speakeasy-component: true
    PermissionType:
      type: string
      description: Describes what actions/endpoints the permission entitles to
      enum:
      - instance_admin
      - organization_admin
      - organization_editor
      - organization_runner
      - organization_reader
      - organization_member
      - workspace_owner
      - workspace_admin
      - workspace_runner
      - workspace_editor
      - workspace_reader
      x-speakeasy-component: true
    PublicPermissionType:
      type: string
      description: Subset of `PermissionType` (removing `instance_admin`), could be
        used in public-api.
      enum:
      - organization_admin
      - organization_editor
      - organization_runner
      - organization_reader
      - organization_member
      - workspace_admin
      - workspace_editor
      - workspace_runner
      - workspace_reader
      x-speakeasy-component: true
    UserId:
      type: string
      description: Internal Airbyte user ID
      format: uuid
      x-speakeasy-component: true
    AuthProvider:
      type: string
      description: Auth Provider
      default: airbyte
      enum:
      - airbyte
      - google_identity_platform
      - keycloak
      x-speakeasy-component: true
    UserStatus:
      type: string
      description: user status
      enum:
      - invited
      - registered
      - disabled
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SelectedFieldInfo:
      type: object
      description: Path to a field/column/property in a stream to be selected. For
        example, if the field to be selected is a database column called "foo", this
        will be ["foo"]. Use multiple path elements for nested schemas.
      properties:
        fieldPath:
          type: array
          items:
            type: string
      x-speakeasy-component: true
    StreamMapperType:
      type: string
      enum:
      - hashing
      - field-renaming
      - row-filtering
      - encryption
      x-speakeasy-component: true
    ConfiguredStreamMapper:
      type: object
      required:
      - type
      - mapperConfiguration
      properties:
        id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/StreamMapperType'
        mapperConfiguration:
          $ref: '#/components/schemas/MapperConfiguration'
      x-speakeasy-component: true
    MapperConfiguration:
      type: object
      description: The values required to configure the mapper.
      oneOf:
      - $ref: '#/components/schemas/HashingMapperConfiguration'
      - $ref: '#/components/schemas/FieldRenamingMapperConfiguration'
      - $ref: '#/components/schemas/RowFilteringMapperConfiguration'
      - $ref: '#/components/schemas/EncryptionMapperConfiguration'
      x-speakeasy-component: true
    HashingMapperConfiguration:
      title: Hashing
      type: object
      properties:
        fieldNameSuffix:
          type: string
          title: Field name suffix
          description: The suffix to append to the field name after hashing.
        method:
          type: string
          enum:
          - MD2
          - MD5
          - SHA-1
          - SHA-224
          - SHA-256
          - SHA-384
          - SHA-512
          title: Hashing method
          description: The hashing algorithm to use.
        targetField:
          type: string
          title: Original Field Name
          description: The name of the field to be hashed.
      required:
      - fieldNameSuffix
      - method
      - targetField
      x-speakeasy-component: true
    FieldRenamingMapperConfiguration:
      title: Field Renaming
      type: object
      properties:
        newFieldName:
          type: string
          title: New Field Name
          description: The new name for the field after renaming.
        originalFieldName:
          type: string
          title: Original Field Name
          description: The current name of the field to rename.
      required:
      - newFieldName
      - originalFieldName
      x-speakeasy-component: true
    RowFilteringOperationType:
      type: string
      enum:
      - EQUAL
      - NOT
      x-speakeasy-component: true
    RowFilteringOperationEqual:
      type: object
      title: EQUAL
      required:
      - comparisonValue
      - fieldName
      - type
      properties:
        comparisonValue:
          type: string
          title: Comparison Value
          description: The value to compare the field against.
        fieldName:
          type: string
          title: Field Name
          description: The name of the field to apply the operation on.
        type:
          $ref: '#/components/schemas/RowFilteringOperationType'
      x-speakeasy-component: true
    RowFilteringOperationNot:
      type: object
      title: NOT
      required:
      - conditions
      - type
      properties:
        conditions:
          title: Sub-Conditions (NOT)
          description: Conditions to evaluate with the NOT operator.
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/RowFilteringOperation'
        type:
          $ref: '#/components/schemas/RowFilteringOperationType'
      x-speakeasy-component: true
    RowFilteringOperation:
      type: object
      oneOf:
      - $ref: '#/components/schemas/RowFilteringOperationEqual'
      - $ref: '#/components/schemas/RowFilteringOperationNot'
      discriminator:
        propertyName: type
        mapping:
          EQUAL: '#/components/schemas/RowFilteringOperationEqual'
          NOT: '#/components/schemas/RowFilteringOperationNot'
      x-speakeasy-component: true
      x-airbyte-circular-ref: true
    RowFilteringMapperConfiguration:
      title: Row Filtering
      type: object
      properties:
        conditions:
          $ref: '#/components/schemas/RowFilteringOperation'
      required:
      - conditions
      x-speakeasy-component: true
    EncryptionMapperAlgorithm:
      type: string
      enum:
      - RSA
      - AES
      x-speakeasy-component: true
    EncryptionMapperConfiguration:
      title: Encryption
      type: object
      oneOf:
      - $ref: '#/components/schemas/EncryptionMapperRSAConfiguration'
      - $ref: '#/components/schemas/EncryptionMapperAESConfiguration'
      discriminator:
        propertyName: algorithm
        mapping:
          RSA: '#/components/schemas/EncryptionMapperRSAConfiguration'
          AES: '#/components/schemas/EncryptionMapperAESConfiguration'
      x-speakeasy-component: true
    EncryptionMapperRSAConfiguration:
      title: Encryption - RSA
      type: object
      properties:
        algorithm:
          $ref: '#/components/schemas/EncryptionMapperAlgorithm'
        fieldNameSuffix:
          type: string
        publicKey:
          type: string
        targetField:
          type: string
      required:
      - algorithm
      - publicKey
      - targetField
      - fieldNameSuffix
      x-speakeasy-component: true
    EncryptionMapperAESConfiguration:
      title: Encryption - AES
      type: object
      properties:
        algorithm:
          $ref: '#/components/schemas/EncryptionMapperAlgorithm'
        fieldNameSuffix:
          type: string
        key:
          type: string
          x-speakeasy-param-sensitive: true
        mode:
          type: string
          enum:
          - CBC
          - CFB
          - OFB
          - CTR
          - GCM
          - ECB
        padding:
          type: string
          enum:
          - NoPadding
          - PKCS5Padding
        targetField:
          type: string
      required:
      - algorithm
      - key
      - mode
      - padding
      - targetField
      - fieldNameSuffix
      x-speakeasy-component: true
    SelectedFields:
      description: Paths to the fields that will be included in the configured catalog.
      type: array
      items:
        $ref: '#/components/schemas/SelectedFieldInfo'
      x-speakeasy-component: true
    ScopedResourceRequirements:
      x-speakeasy-component: true
      description: actor or actor definition specific resource requirements. if default
        is set, these are the requirements that should be set for ALL jobs run for
        this actor definition. it is overriden by the job type specific configurations.
        if not set, the platform will use defaults. these values will be overriden
        by configuration at the connection level.
      type: object
      additionalProperties: false
      properties:
        default:
          $ref: '#/components/schemas/ResourceRequirements'
        jobSpecific:
          type: array
          items:
            $ref: '#/components/schemas/JobTypeResourceLimit'
    ActorDefinitionId:
      description: A unique identifier for an actor definition.
      type: string
      format: uuid
      x-speakeasy-component: true
    JobTypeResourceLimit:
      x-speakeasy-component: true
      description: sets resource requirements for a specific job type for an actor
        or actor definition. these values override the default, if both are set.
      type: object
      additionalProperties: false
      required:
      - jobType
      - resourceRequirements
      properties:
        jobType:
          $ref: '#/components/schemas/JobType'
        resourceRequirements:
          $ref: '#/components/schemas/ResourceRequirements'
    JobType:
      x-speakeasy-component: true
      description: enum that describes the different types of jobs that the platform
        runs.
      type: string
      enum:
      - get_spec
      - check_connection
      - discover_schema
      - sync
      - reset_connection
      - connection_updater
      - replicate
    ResourceRequirements:
      x-speakeasy-component: true
      description: optional resource requirements to run workers (blank for unbounded
        allocations)
      type: object
      properties:
        cpu_request:
          type: string
        cpu_limit:
          type: string
        memory_request:
          type: string
        memory_limit:
          type: string
        ephemeral_storage_request:
          type: string
        ephemeral_storage_limit:
          type: string
    OAuthConfiguration:
      description: The values required to configure OAuth flows. The schema for this
        must match the `OAuthConfigSpecification.oauthUserInputFromConnectorConfigSpecification`
        schema.
      x-speakeasy-component: true
    OAuthInputConfiguration:
      $ref: '#/components/schemas/OAuthConfiguration'
      x-speakeasy-component: true
    NonBreakingChangesPreference:
      enum:
      - ignore
      - disable
      - propagate_columns
      - propagate_fully
      type: string
      x-speakeasy-component: true
    ApplicationCreate:
      required:
      - name
      type: object
      properties:
        name:
          type: string
      x-speakeasy-component: true
    ApplicationReadList:
      required:
      - applications
      type: object
      properties:
        applications:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRead'
      x-speakeasy-component: true
    ApplicationRead:
      required:
      - id
      - name
      - clientId
      - clientSecret
      - createdAt
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
        createdAt:
          type: integer
          format: int64
      x-speakeasy-component: true
    ApplicationTokenRequestWithGrant:
      required:
      - client_id
      - client_secret
      - grant_type
      type: object
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        grant-type:
          enum:
          - client_credentials
      x-speakeasy-component: true
    PublicAccessTokenResponse:
      required:
      - access_token
      - token_type
      - expires_in
      type: object
      properties:
        access_token:
          type: string
        token_type:
          enum:
          - Bearer
        expires_in:
          type: integer
          format: int64
      x-speakeasy-component: true
    RedirectUrlResponse:
      title: Root Type for RedirectUrlResponse
      description: ''
      type: object
      properties:
        redirectUrl:
          format: url
          type: string
      example:
        redirectUrl: https://example.com
      x-speakeasy-component: true
    JobResponse:
      title: Root Type for JobResponse
      description: Provides details of a single job.
      required:
      - jobId
      - status
      - jobType
      - startTime
      - connectionId
      type: object
      properties:
        jobId:
          format: int64
          type: integer
        status:
          $ref: '#/components/schemas/JobStatusEnum'
        jobType:
          $ref: '#/components/schemas/JobTypeEnum'
        startTime:
          type: string
        connectionId:
          format: UUID
          type: string
        lastUpdatedAt:
          type: string
        duration:
          description: Duration of a sync in ISO_8601 format
          type: string
        bytesSynced:
          format: int64
          type: integer
        rowsSynced:
          format: int64
          type: integer
      example:
        id: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
        status: running
        jobType: sync
        startTime: 2023-03-25T01:30:50Z
        duration: PT8H6M12S
      x-speakeasy-component: true
    JobsResponse:
      title: Root Type for JobsResponse
      description: ''
      required:
      - data
      type: object
      properties:
        previous:
          type: string
        next:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/JobResponse'
      example:
        next: https://api.airbyte.com/v1/jobs?limit=5&offset=10
        previous: https://api.airbyte.com/v1/jobs?limit=5&offset=0
        data:
        - id: 18dccc91-0ab1-4f72-9ed7-0b8fc27c5826
          status: running
          jobType: sync
          startTime: 2023-03-25T01:30:50Z
      x-speakeasy-component: true
    ConnectionCreateRequest:
      required:
      - sourceId
      - destinationId
      type: object
      properties:
        name:
          description: Optional name of the connection
          type: string
        sourceId:
          format: uuid
          type: string
        destinationId:
          format: uuid
          type: string
        configurations:
          $ref: '#/components/schemas/StreamConfigurations'
        schedule:
          $ref: '#/components/schemas/AirbyteApiConnectionSchedule'
        dataResidency:
          deprecated: true
          x-speakeasy-deprecation-message: We no longer support modifying dataResidency
            on Community and Enterprise connections. All connections will use the
            dataResidency of their associated workspace.
          type: string
        namespaceDefinition:
          $ref: '#/components/schemas/NamespaceDefinitionEnum'
        namespaceFormat:
          type: string
[...]
