---
openapi: "3.1.0"
info:
  title: "Sources"
  version: "1.0.0"
  description: "Programatically control Airbyte Cloud, OSS & Enterprise."
servers:
  - url: "https://api.airbyte.com/v1"
    description: "Airbyte API v1"
paths:
  /sources:
    get:
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourcesResponse"
          description: "Successful operation"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "listSources"
      x-speakeasy-alias: "listSources"
      x-speakeasy-group: "Sources"
      summary: "List sources"
      parameters:
        - name: "workspaceIds"
          description:
            "The UUIDs of the workspaces you wish to list sources for. Empty\
            \ list will retrieve all allowed workspaces."
          schema:
            type: "array"
            items:
              format: "uuid"
              type: "string"
          example: "df08f6b0-b364-4cc1-9b3f-96f5d2fccfb2,b0796797-de23-4fc7-a5e2-7e131314718c"
          in: "query"
          required: false
        - name: "includeDeleted"
          description: "Include deleted sources in the returned results."
          schema:
            default: false
            type: "boolean"
          in: "query"
          required: false
        - name: "limit"
          description:
            "Set the limit on the number of sources returned. The default\
            \ is 20."
          schema:
            format: "int32"
            type: "integer"
            minimum: 1
            maximum: 100
            default: 20
          in: "query"
        - name: "offset"
          description:
            "Set the offset to start at when returning sources. The default\
            \ is 0"
          schema:
            type: "integer"
            format: "int32"
            minimum: 0
            default: 0
          in: "query"
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourceCreateRequest"
            examples:
              Source Creation Request Example:
                value:
                  configuration:
                    airbyte_source_name: "google-ads"
                    conversion_window_days: 14
                    customer_id: "1234567890"
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: "My Source"
                  workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Creation Response Example:
                  value:
                    sourceId: "0c31738c-0b2d-4887-b506-e2cd1c39cc35"
          description: "Successful operation"
        "400":
          description: "Invalid data"
        "403":
          description: "Not allowed"
      operationId: "createSource"
      x-speakeasy-alias: "createSource"
      x-speakeasy-group: "Sources"
      summary: "Create a source"
      description:
        "Creates a source given a name, workspace id, and a json blob containing\
        \ the configuration for the source."
  /sources/{sourceId}:
    get:
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Get Response Example:
                  value:
                    sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "running"
                    sourceType: "postgres"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
          description: "Get a Source by the id in the path."
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "getSource"
      x-speakeasy-alias: "getSource"
      x-speakeasy-group: "Sources"
      summary: "Get Source details"
    patch:
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourcePatchRequest"
            examples:
              Source Update Request Example:
                value:
                  configuration:
                    airbyte_source_name: "google-ads"
                    conversion_window_days: 14
                    customer_id: "1234567890"
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: "My Source"
                  workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Update Response Example:
                  value:
                    sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "running"
                    sourceType: "postgres"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
          description: "Update a Source"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "patchSource"
      x-speakeasy-alias: "patchSource"
      x-speakeasy-group: "Sources"
      summary: "Update a Source"
    put:
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SourcePutRequest"
            examples:
              Source Update Request Example:
                value:
                  configuration:
                    airbyte_source_name: "google-ads"
                    conversion_window_days: 14
                    customer_id: "1234567890"
                    start_date: 1672531200000
                    end_date: 1704067200000
                  name: "My Source"
                  workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceResponse"
              examples:
                Source Update Response Example:
                  value:
                    sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "running"
                    sourceType: "postgres"
                    workspaceId: "744cc0ed-7f05-4949-9e60-2a814f90c035"
          description: "Update a source and fully overwrite it"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "putSource"
      x-speakeasy-alias: "putSource"
      x-speakeasy-group: "Sources"
      summary: "Update a Source and fully overwrite it"
      x-speakeasy-entity-operation: "Source#update"
    delete:
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      responses:
        "204":
          description: "The resource was deleted successfully"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "deleteSource"
      x-speakeasy-alias: "deleteSource"
      x-speakeasy-group: "Sources"
      summary: "Delete a Source"
    parameters:
      - name: "sourceId"
        schema:
          format: "UUID"
          type: "string"
        in: "path"
        required: true
  /sources/initiateOAuth:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InitiateOauthRequest"
        required: true
      tags:
        - "public_sources"
        - "public"
        - "Sources"
      responses:
        "200":
          $ref: "#/components/responses/InitiateOauthResponse"
        "400":
          description: "A field in the body has not been set appropriately."
        "403":
          description: "API key is invalid."
      operationId: "initiateOAuth"
      x-speakeasy-alias: "initiateOAuth"
      x-speakeasy-group: "Sources"
      summary: "Initiate OAuth for a source"
      description:
        "Given a source ID, workspace ID, and redirect URL, initiates OAuth\
        \ for the source.\n\nThis returns a fully formed URL for performing user authentication\
        \ against the relevant source identity provider (IdP). Once authentication\
        \ has been completed, the IdP will redirect to an Airbyte endpoint which will\
        \ save the access and refresh tokens off as a secret and return the secret\
        \ ID to the redirect URL specified in the `secret_id` query string parameter.\n\
        \nThat secret ID can be used to create a source with credentials in place\
        \ of actual tokens."
components:
  responses:
    InitiateOauthResponse:
      content:
        application/json: {}
      description:
        "Response from the initiate OAuth call should be an object with\
        \ a single property which will be the `redirect_url`. If a user is redirected\
        \ to this URL, they'll be prompted by the identity provider to authenticate."
      x-speakeasy-component: true
  schemas:
    WorkspaceId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    OrganizationId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    PermissionType:
      type: "string"
      description: "Describes what actions/endpoints the permission entitles to"
      enum:
        - "instance_admin"
        - "organization_admin"
        - "organization_editor"
        - "organization_reader"
        - "organization_member"
        - "workspace_owner"
        - "workspace_admin"
        - "workspace_editor"
        - "workspace_reader"
      x-speakeasy-component: true
    PublicPermissionType:
      type: "string"
      description:
        "Subset of `PermissionType` (removing `instance_admin`), could\
        \ be used in public-api."
      enum:
        - "organization_admin"
        - "organization_editor"
        - "organization_reader"
        - "organization_member"
        - "workspace_admin"
        - "workspace_editor"
        - "workspace_reader"
      x-speakeasy-component: true
    UserId:
      type: "string"
      description: "Internal Airbyte user ID"
      format: "uuid"
      x-speakeasy-component: true
    AuthProvider:
      type: "string"
      description: "Auth Provider"
      default: "airbyte"
      enum:
        - "airbyte"
        - "google_identity_platform"
        - "keycloak"
      x-speakeasy-component: true
    UserStatus:
      type: "string"
      description: "user status"
      enum:
        - "invited"
        - "registered"
        - "disabled"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SelectedFieldInfo:
      type: "object"
      description:
        "Path to a field/column/property in a stream to be selected. For\
        \ example, if the field to be selected is a database column called \"foo\"\
        , this will be [\"foo\"]. Use multiple path elements for nested schemas."
      properties:
        fieldPath:
          type: "array"
          items:
            type: "string"
      x-speakeasy-component: true
    SelectedFields:
      description: "Paths to the fields that will be included in the configured catalog."
      type: "array"
      items:
        $ref: "#/components/schemas/SelectedFieldInfo"
      x-speakeasy-component: true
    OAuthConfiguration:
      description:
        "The values required to configure OAuth flows. The schema for this\
        \ must match the `OAuthConfigSpecification.oauthUserInputFromConnectorConfigSpecification`\
        \ schema."
      x-speakeasy-component: true
    OAuthInputConfiguration:
      $ref: "#/components/schemas/OAuthConfiguration"
      x-speakeasy-component: true
    ApplicationCreate:
      required:
        - "name"
      type: "object"
      properties:
        name:
          type: "string"
      x-speakeasy-component: true
    ApplicationReadList:
      required:
        - "applications"
      type: "object"
      properties:
        applications:
          type: "array"
          items:
            $ref: "#/components/schemas/ApplicationRead"
      x-speakeasy-component: true
    ApplicationRead:
      required:
        - "id"
        - "name"
        - "clientId"
        - "clientSecret"
        - "createdAt"
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        clientId:
          type: "string"
        clientSecret:
          type: "string"
        createdAt:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    ApplicationTokenRequestWithGrant:
      required:
        - "client_id"
        - "client_secret"
        - "grant_type"
      type: "object"
      properties:
        client_id:
          type: "string"
        client_secret:
          type: "string"
        grant-type:
          enum:
            - "client_credentials"
      x-speakeasy-component: true
    PublicAccessTokenResponse:
      required:
        - "access_token"
        - "token_type"
        - "expires_in"
      type: "object"
      properties:
        access_token:
          type: "string"
        token_type:
          enum:
            - "Bearer"
        expires_in:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    RedirectUrlResponse:
      title: "Root Type for RedirectUrlResponse"
      description: ""
      type: "object"
      properties:
        redirectUrl:
          format: "url"
          type: "string"
      example:
        redirectUrl: "https://example.com"
      x-speakeasy-component: true
    JobResponse:
      title: "Root Type for JobResponse"
      description: "Provides details of a single job."
      required:
        - "jobId"
        - "status"
        - "jobType"
        - "startTime"
        - "connectionId"
      type: "object"
      properties:
        jobId:
          format: "int64"
          type: "integer"
        status:
          $ref: "#/components/schemas/JobStatusEnum"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
        startTime:
          type: "string"
        connectionId:
          format: "UUID"
          type: "string"
        lastUpdatedAt:
          type: "string"
        duration:
          description: "Duration of a sync in ISO_8601 format"
          type: "string"
        bytesSynced:
          format: "int64"
          type: "integer"
        rowsSynced:
          format: "int64"
          type: "integer"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        status: "running"
        jobType: "sync"
        startTime: "2023-03-25T01:30:50Z"
        duration: "PT8H6M12S"
      x-speakeasy-component: true
    JobsResponse:
      title: "Root Type for JobsResponse"
      description: ""
      required:
        - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/JobResponse"
      example:
        next: "https://api.airbyte.com/v1/jobs?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/jobs?limit=5&offset=0"
        data:
          - id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
            status: "running"
            jobType: "sync"
            startTime: "2023-03-25T01:30:50Z"
      x-speakeasy-component: true
    ConnectionCreateRequest:
      required:
        - "sourceId"
        - "destinationId"
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        sourceId:
          format: "uuid"
          type: "string"
        destinationId:
          format: "uuid"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnum"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
          description:
            "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description:
            "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    ConnectionPatchRequest:
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnumNoDefault"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnumNoDefault"
        namespaceFormat:
          type: "string"
          description:
            "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description:
            "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnumNoDefault"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    JobCreateRequest:
      title: "Root Type for JobCreate"
      description:
        "Creates a new Job from the configuration provided in the request\
        \ body."
      required:
        - "jobType"
        - "connectionId"
      type: "object"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
      example:
        connectionId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        jobType: "sync"
      x-speakeasy-component: true
    JobStatusEnum:
      enum:
        - "pending"
        - "running"
        - "incomplete"
        - "failed"
        - "succeeded"
        - "cancelled"
      type: "string"
      x-speakeasy-component: true
    JobTypeEnum:
      description:
        "Enum that describes the different types of jobs that the platform\
        \ runs."
      enum:
        - "sync"
        - "reset"
        - "refresh"
        - "clear"
      type: "string"
      x-speakeasy-component: true
    SourceCreateRequest:
      required:
        - "name"
        - "workspaceId"
        - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the source e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description:
            "The UUID of the connector definition. One of configuration.sourceType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePutRequest:
      required:
        - "name"
        - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
          example: "My source"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    ConnectionResponse:
      title: "Root Type for ConnectionResponse"
      description: "Provides details of a single connection."
      type: "object"
      required:
        - "connectionId"
        - "name"
        - "sourceId"
        - "destinationId"
        - "workspaceId"
        - "status"
        - "schedule"
        - "dataResidency"
        - "configurations"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceId:
          format: "UUID"
          type: "string"
        destinationId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        schedule:
          $ref: "#/components/schemas/ConnectionScheduleResponse"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnum"
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
        prefix:
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    AirbyteApiConnectionSchedule:
      description:
        "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
        - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeEnum"
        cronExpression:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeEnum:
      type: "string"
      enum:
        - "manual"
        - "cron"
      x-speakeasy-component: true
    ConnectionScheduleResponse:
      description:
        "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
        - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeWithBasicEnum"
        cronExpression:
          type: "string"
        basicTiming:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeWithBasicEnum:
      type: "string"
      enum:
        - "manual"
        - "cron"
        - "basic"
      x-speakeasy-component: true
    GeographyEnum:
      type: "string"
      enum:
        - "auto"
        - "us"
        - "eu"
      default: "auto"
      x-speakeasy-component: true
    GeographyEnumNoDefault:
      type: "string"
      enum:
        - "auto"
        - "us"
        - "eu"
      x-speakeasy-component: true
    ConnectionStatusEnum:
      type: "string"
      enum:
        - "active"
        - "inactive"
        - "deprecated"
      x-speakeasy-component: true
    NamespaceDefinitionEnum:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
        - "source"
        - "destination"
        - "custom_format"
      default: "destination"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnum:
      type: "string"
      description:
        "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
        - "ignore"
        - "disable_connection"
        - "propagate_columns"
        - "propagate_fully"
      default: "ignore"
      x-speakeasy-component: true
    NamespaceDefinitionEnumNoDefault:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
        - "source"
        - "destination"
        - "custom_format"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnumNoDefault:
      type: "string"
      description:
        "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
        - "ignore"
        - "disable_connection"
        - "propagate_columns"
        - "propagate_fully"
      x-speakeasy-component: true
    DestinationResponse:
      title: "Root Type for DestinationResponse"
      description: "Provides details of a single destination."
      type: "object"
      required:
        - "destinationId"
        - "name"
        - "destinationType"
        - "workspaceId"
        - "configuration"
      properties:
        destinationId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        destinationType:
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      example:
        destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        destinationType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    SourceResponse:
      title: "Root Type for SourceResponse"
      description: "Provides details of a single source."
      type: "object"
      required:
        - "sourceId"
        - "name"
        - "sourceType"
        - "workspaceId"
        - "configuration"
      properties:
        sourceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceType:
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
      example:
        sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        sourceType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationCreateRequest:
      required:
        - "name"
        - "workspaceId"
        - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the destination e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description:
            "The UUID of the connector definition. One of configuration.destinationType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPutRequest:
      required:
        - "name"
        - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceCreateRequest:
      required:
        - "name"
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
        organizationId:
          description: "ID of organization to add workspace to."
          format: "uuid"
          type: "string"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceUpdateRequest:
      required:
        - "name"
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceResponse:
      title: "Root Type for WorkspaceResponse"
      description: "Provides details of a single workspace."
      type: "object"
      required:
        - "workspaceId"
        - "name"
        - "dataResidency"
      properties:
        workspaceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnum"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UserResponse:
      title: "Root Type for UserResponse"
      description: "Provides details of a single user in an organization."
      type: "object"
      required:
        - "id"
        - "name"
        - "email"
      properties:
        name:
          description: "Name of the user"
          type: "string"
        id:
          $ref: "#/components/schemas/UserId"
        email:
          type: "string"
          format: "email"
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UsersResponse:
      title: "Root Type for UsersResponse"
      description: "List/Array of multiple users in an organization"
      required:
        - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/UserResponse"
      x-speakeasy-component: true
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
    PermissionCreateRequest:
      required:
        - "permissionType"
        - "userId"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PublicPermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionUpdateRequest:
      required:
        - "permissionType"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PermissionType"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionResponse:
      title: "Root Type for PermissionResponse"
      description: "Provides details of a single permission."
      type: "object"
      required:
        - "permissionId"
        - "permissionType"
        - "userId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionScope:
      description: "Scope of a single permission, e.g. workspace, organization"
      type: "string"
      enum:
        - "workspace"
        - "organization"
        - "none"
      x-speakeasy-component: true
    PermissionResponseRead:
      title: "Root type for PermissionResponseRead"
      description: "Reformat PermissionResponse with permission scope"
      type: "object"
      required:
        - "permissionId"
        - "permissionType"
        - "userId"
        - "scope"
        - "scopeId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        scopeId:
          type: "string"
          format: "uuid"
        scope:
          $ref: "#/components/schemas/PermissionScope"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionsResponse:
      title: "Root Type for PermissionsResponse"
      description: "List/Array of multiple permissions"
      required:
        - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/PermissionResponseRead"
      x-speakeasy-component: true
    OrganizationResponse:
      title: "Root Type for OrganizationResponse"
      description: "Provides details of a single organization for a user."
      type: "object"
      required:
        - "organizationId"
        - "organizationName"
        - "email"
      properties:
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
        organizationName:
          type: "string"
        email:
          type: "string"
          format: "email"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    OrganizationsResponse:
      title: "Root Type for OrganizationsResponse"
      description: "List/Array of multiple organizations."
      required:
        - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/OrganizationResponse"
      x-speakeasy-component: true
    ConnectionsResponse:
      title: "Root Type for ConnectionsResponse"
      description: ""
      required:
        - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionResponse"
          default: []
      example:
        next: "https://api.airbyte.com/v1/connections?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/connections?limit=5&offset=0"
        data:
          - name: "test-connection"
          - connection_id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          - sourceId: "49237019-645d-47d4-b45b-5eddf97775ce"
          - destinationId: "al312fs-0ab1-4f72-9ed7-0b8fc27c5826"
          - schedule:
              scheduleType: "manual"
          - status: "active"
          - dataResidency: "auto"
      x-speakeasy-component: true
    SourcesResponse:
      title: "Root Type for SourcesResponse"
      description: ""
      required:
        - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/SourceResponse"
      example:
        next: "https://api.airbyte.com/v1/sources?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/sources?limit=5&offset=0"
        data:
          sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          sourceType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationsResponse:
      title: "Root Type for DestinationsResponse"
      description: ""
      required:
        - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DestinationResponse"
      example:
        next: "https://api.airbyte.com/v1/destinations?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/destinations?limit=5&offset=0"
        data:
          destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          destinationType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    WorkspacesResponse:
      title: "Root Type for WorkspacesResponse"
      description: ""
      required:
        - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/WorkspaceResponse"
      example:
        next: "https://api.airbyte.com/v1/workspaces?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/workspaces?limit=5&offset=0"
        data:
          workspaceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Acme Company"
          dataResidency: "auto"
      x-speakeasy-component: true
    StreamConfiguration:
      description: "Configurations for a single stream."
      type: "object"
      required:
        - "name"
      properties:
        name:
          type: "string"
        syncMode:
          $ref: "#/components/schemas/ConnectionSyncModeEnum"
        cursorField:
          description:
            "Path to the field that will be used to determine if a record\
            \ is new or modified since the last sync. This field is REQUIRED if `sync_mode`\
            \ is `incremental` unless there is a default."
          type: "array"
          items:
            type: "string"
        primaryKey:
          description:
            "Paths to the fields that will be used as primary key. This\
            \ field is REQUIRED if `destination_sync_mode` is `*_dedup` unless it\
            \ is already supplied by the source schema."
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        selectedFields:
          description:
            "By default (if not provided in the request) all fields will\
            \ be synced. Otherwise, only the fields in this list will be synced."
          $ref: "#/components/schemas/SelectedFields"
      x-speakeasy-component: true
    StreamConfigurations:
      description: "A list of configured stream options for a connection."
      type: "object"
      properties:
        streams:
          type: "array"
          items:
            $ref: "#/components/schemas/StreamConfiguration"
      x-speakeasy-component: true
    StreamPropertiesResponse:
      description: "A list of stream properties."
      type: "array"
      items:
        $ref: "#/components/schemas/StreamProperties"
      x-speakeasy-component: true
    StreamProperties:
      description: "The stream properties associated with a connection."
      type: "object"
      properties:
        streamName:
          type: "string"
        syncModes:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionSyncModeEnum"
        defaultCursorField:
          type: "array"
          items:
            type: "string"
        sourceDefinedCursorField:
          type: "boolean"
        sourceDefinedPrimaryKey:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        propertyFields:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
      x-speakeasy-component: true
    ConnectionSyncModeEnum:
      enum:
        - "full_refresh_overwrite"
        - "full_refresh_append"
        - "incremental_append"
        - "incremental_deduped_history"
      x-speakeasy-component: true
    ActorTypeEnum:
      description: "Whether you're setting this override for a source or destination"
      enum:
        - "source"
        - "destination"
      x-speakeasy-component: true
    source-trello:
      type: "object"
      required:
        - "key"
        - "token"
        - "start_date"
        - "sourceType"
      properties:
        key:
          type: "string"
          title: "API key"
          description:
            "Trello API key. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\"\
            >docs</a> for instructions on how to generate it."
          airbyte_secret: true
          order: 0
          x-speakeasy-param-sensitive: true
        token:
          type: "string"
          title: "API token"
          description:
            "Trello API token. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\"\
            >docs</a> for instructions on how to generate it."
          airbyte_secret: true
          order: 1
          x-speakeasy-param-sensitive: true
        start_date:
          type: "string"
          title: "Start Date"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated."
          examples:
            - "2021-03-01T00:00:00Z"
          format: "date-time"
          order: 2
        board_ids:
          type: "array"
          items:
            type: "string"
            pattern: "^[0-9a-fA-F]{24}$"
          title: "Trello Board IDs"
          description:
            "IDs of the boards to replicate data from. If left empty, data\
            \ from all boards to which you have access will be replicated. Please\
            \ note that this is not the 8-character ID in the board's shortLink (URL\
            \ of the board). Rather, what is required here is the 24-character ID\
            \ usually returned by the API"
          order: 3
        sourceType:
          title: "trello"
          const: "trello"
          enum:
            - "trello"
          order: 0
          type: "string"
    source-trello-update:
      type: "object"
      required:
        - "key"
        - "token"
        - "start_date"
      properties:
        key:
          type: "string"
          title: "API key"
          description:
            "Trello API key. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\"\
            >docs</a> for instructions on how to generate it."
          airbyte_secret: true
          order: 0
        token:
          type: "string"
          title: "API token"
          description:
            "Trello API token. See the <a href=\"https://developer.atlassian.com/cloud/trello/guides/rest-api/authorization/#using-basic-oauth\"\
            >docs</a> for instructions on how to generate it."
          airbyte_secret: true
          order: 1
        start_date:
          type: "string"
          title: "Start Date"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated."
          examples:
            - "2021-03-01T00:00:00Z"
          format: "date-time"
          order: 2
        board_ids:
          type: "array"
          items:
            type: "string"
            pattern: "^[0-9a-fA-F]{24}$"
          title: "Trello Board IDs"
          description:
            "IDs of the boards to replicate data from. If left empty, data\
            \ from all boards to which you have access will be replicated. Please\
            \ note that this is not the 8-character ID in the board's shortLink (URL\
            \ of the board). Rather, what is required here is the 24-character ID\
            \ usually returned by the API"
          order: 3
    source-the-guardian-api:
      title: "The Guardian Api Spec"
      type: "object"
      required:
        - "api_key"
        - "start_date"
        - "sourceType"
      properties:
        api_key:
          title: "API Key"
          type: "string"
          description:
            "Your API Key. See <a href=\"https://open-platform.theguardian.com/access/\"\
            >here</a>. The key is case sensitive."
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        start_date:
          title: "Start Date"
          type: "string"
          description:
            "Use this to set the minimum date (YYYY-MM-DD) of the results.\
            \ Results older than the start_date will not be shown."
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          examples:
            - "YYYY-MM-DD"
        query:
          title: "Query"
          type: "string"
          description:
            "(Optional) The query (q) parameter filters the results to\
            \ only those that include that search term. The q parameter supports AND,\
            \ OR and NOT operators."
          examples:
            - "environment AND NOT water"
            - "environment AND political"
            - "amusement park"
            - "political"
        tag:
          title: "Tag"
          type: "string"
          description:
            "(Optional) A tag is a piece of data that is used by The Guardian\
            \ to categorise content. Use this parameter to filter results by showing\
            \ only the ones matching the entered tag. See <a href=\"https://content.guardianapis.com/tags?api-key=test\"\
            >here</a> for a list of all tags, and <a href=\"https://open-platform.theguardian.com/documentation/tag\"\
            >here</a> for the tags endpoint documentation."
          examples:
            - "environment/recycling"
            - "environment/plasticbags"
            - "environment/energyefficiency"
        section:
          title: "Section"
          type: "string"
          description:
            "(Optional) Use this to filter the results by a particular\
            \ section. See <a href=\"https://content.guardianapis.com/sections?api-key=test\"\
            >here</a> for a list of all sections, and <a href=\"https://open-platform.theguardian.com/documentation/section\"\
            >here</a> for the sections endpoint documentation."
          examples:
            - "media"
            - "technology"
            - "housing-network"
        end_date:
          title: "End Date"
          type: "string"
          description:
            "(Optional) Use this to set the maximum date (YYYY-MM-DD) of\
            \ the results. Results newer than the end_date will not be shown. Default\
            \ is set to the current date (today) for incremental syncs."
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          examples:
            - "YYYY-MM-DD"
        sourceType:
          title: "the-guardian-api"
          const: "the-guardian-api"
          enum:
            - "the-guardian-api"
          order: 0
          type: "string"
    source-the-guardian-api-update:
      title: "The Guardian Api Spec"
      type: "object"
      required:
        - "api_key"
        - "start_date"
      properties:
        api_key:
          title: "API Key"
          type: "string"
          description:
            "Your API Key. See <a href=\"https://open-platform.theguardian.com/access/\"\
            >here</a>. The key is case sensitive."
          airbyte_secret: true
        start_date:
          title: "Start Date"
          type: "string"
          description:
            "Use this to set the minimum date (YYYY-MM-DD) of the results.\
            \ Results older than the start_date will not be shown."
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          examples:
            - "YYYY-MM-DD"
        query:
          title: "Query"
          type: "string"
          description:
            "(Optional) The query (q) parameter filters the results to\
            \ only those that include that search term. The q parameter supports AND,\
            \ OR and NOT operators."
          examples:
            - "environment AND NOT water"
            - "environment AND political"
            - "amusement park"
            - "political"
        tag:
          title: "Tag"
          type: "string"
          description:
            "(Optional) A tag is a piece of data that is used by The Guardian\
            \ to categorise content. Use this parameter to filter results by showing\
            \ only the ones matching the entered tag. See <a href=\"https://content.guardianapis.com/tags?api-key=test\"\
            >here</a> for a list of all tags, and <a href=\"https://open-platform.theguardian.com/documentation/tag\"\
            >here</a> for the tags endpoint documentation."
          examples:
            - "environment/recycling"
            - "environment/plasticbags"
            - "environment/energyefficiency"
        section:
          title: "Section"
          type: "string"
          description:
            "(Optional) Use this to filter the results by a particular\
            \ section. See <a href=\"https://content.guardianapis.com/sections?api-key=test\"\
            >here</a> for a list of all sections, and <a href=\"https://open-platform.theguardian.com/documentation/section\"\
            >here</a> for the sections endpoint documentation."
          examples:
            - "media"
            - "technology"
            - "housing-network"
        end_date:
          title: "End Date"
          type: "string"
          description:
            "(Optional) Use this to set the maximum date (YYYY-MM-DD) of\
            \ the results. Results newer than the end_date will not be shown. Default\
            \ is set to the current date (today) for incremental syncs."
          pattern: "^([1-9][0-9]{3})\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
          examples:
            - "YYYY-MM-DD"
    source-harvest:
      title: "Harvest Spec"
      type: "object"
      required:
        - "account_id"
        - "replication_start_date"
        - "sourceType"
      properties:
        account_id:
          title: "Account ID"
          description:
            "Harvest account ID. Required for all Harvest requests in pair\
            \ with Personal Access Token"
          airbyte_secret: true
          type: "string"
          order: 0
          x-speakeasy-param-sensitive: true
        replication_start_date:
          title: "Start Date"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated."
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2017-01-25T00:00:00Z"
          type: "string"
          order: 1
          format: "date-time"
        credentials:
          title: "Authentication mechanism"
          description: "Choose how to authenticate to Harvest."
          type: "object"
          order: 3
          oneOf:
            - type: "object"
              title: "Authenticate via Harvest (OAuth)"
              required:
                - "client_id"
                - "client_secret"
                - "refresh_token"
              additionalProperties: true
              properties:
                auth_type:
                  type: "string"
                  const: "Client"
                  order: 0
                  enum:
                    - "Client"
                client_id:
                  title: "Client ID"
                  type: "string"
                  description: "The Client ID of your Harvest developer application."
                client_secret:
                  title: "Client Secret"
                  type: "string"
                  description: "The Client Secret of your Harvest developer application."
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
                refresh_token:
                  title: "Refresh Token"
                  type: "string"
                  description: "Refresh Token to renew the expired Access Token."
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
            - type: "object"
              title: "Authenticate with Personal Access Token"
              required:
                - "api_token"
              additionalProperties: true
              properties:
                auth_type:
                  type: "string"
                  const: "Token"
                  order: 0
                  enum:
                    - "Token"
                api_token:
                  title: "Personal Access Token"
                  description:
                    "Log into Harvest and then create new <a href=\"https://id.getharvest.com/developers\"\
                    > personal access token</a>."
                  type: "string"
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
        sourceType:
          title: "harvest"
          const: "harvest"
          enum:
            - "harvest"
          order: 0
          type: "string"
    source-harvest-update:
      title: "Harvest Spec"
      type: "object"
      required:
        - "account_id"
        - "replication_start_date"
      properties:
        account_id:
          title: "Account ID"
          description:
            "Harvest account ID. Required for all Harvest requests in pair\
            \ with Personal Access Token"
          airbyte_secret: true
          type: "string"
          order: 0
        replication_start_date:
          title: "Start Date"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated."
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2017-01-25T00:00:00Z"
          type: "string"
          order: 1
          format: "date-time"
        credentials:
          title: "Authentication mechanism"
          description: "Choose how to authenticate to Harvest."
          type: "object"
          order: 3
          oneOf:
            - type: "object"
              title: "Authenticate via Harvest (OAuth)"
              required:
                - "client_id"
                - "client_secret"
                - "refresh_token"
              additionalProperties: true
              properties:
                auth_type:
                  type: "string"
                  const: "Client"
                  order: 0
                  enum:
                    - "Client"
                client_id:
                  title: "Client ID"
                  type: "string"
                  description: "The Client ID of your Harvest developer application."
                client_secret:
                  title: "Client Secret"
                  type: "string"
                  description: "The Client Secret of your Harvest developer application."
                  airbyte_secret: true
                refresh_token:
                  title: "Refresh Token"
                  type: "string"
                  description: "Refresh Token to renew the expired Access Token."
                  airbyte_secret: true
            - type: "object"
              title: "Authenticate with Personal Access Token"
              required:
                - "api_token"
              additionalProperties: true
              properties:
                auth_type:
                  type: "string"
                  const: "Token"
                  order: 0
                  enum:
                    - "Token"
                api_token:
                  title: "Personal Access Token"
                  description:
                    "Log into Harvest and then create new <a href=\"https://id.getharvest.com/developers\"\
                    > personal access token</a>."
                  type: "string"
                  airbyte_secret: true
    source-yotpo:
      type: "object"
      required:
        - "access_token"
        - "app_key"
        - "start_date"
        - "email"
        - "sourceType"
      properties:
        access_token:
          type: "string"
          description:
            "Access token recieved as a result of API call to https://api.yotpo.com/oauth/token\
            \ (Ref- https://apidocs.yotpo.com/reference/yotpo-authentication)"
          title: "Access Token"
          airbyte_secret: true
          order: 0
          x-speakeasy-param-sensitive: true
        app_key:
          type: "string"
          description: "App key found at settings (Ref- https://settings.yotpo.com/#/general_settings)"
          title: "App Key"
          order: 1
        start_date:
          type: "string"
          description:
            "Date time filter for incremental filter, Specify which date\
            \ to extract from."
          title: "Date-From Filter"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
          examples:
            - "2022-03-01T00:00:00.000Z"
          format: "date-time"
          order: 2
        email:
          type: "string"
          description: "Email address registered with yotpo."
          title: "Registered email address"
          default: "example@gmail.com"
          order: 3
        sourceType:
          title: "yotpo"
          const: "yotpo"
          enum:
            - "yotpo"
          order: 0
          type: "string"
    source-yotpo-update:
      type: "object"
      required:
        - "access_token"
        - "app_key"
        - "start_date"
        - "email"
      properties:
        access_token:
          type: "string"
          description:
            "Access token recieved as a result of API call to https://api.yotpo.com/oauth/token\
            \ (Ref- https://apidocs.yotpo.com/reference/yotpo-authentication)"
          title: "Access Token"
          airbyte_secret: true
          order: 0
        app_key:
          type: "string"
          description: "App key found at settings (Ref- https://settings.yotpo.com/#/general_settings)"
          title: "App Key"
          order: 1
        start_date:
          type: "string"
          description:
            "Date time filter for incremental filter, Specify which date\
            \ to extract from."
          title: "Date-From Filter"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}.[0-9]{3}Z$"
          examples:
            - "2022-03-01T00:00:00.000Z"
          format: "date-time"
          order: 2
        email:
          type: "string"
          description: "Email address registered with yotpo."
          title: "Registered email address"
          default: "example@gmail.com"
          order: 3
    source-prestashop:
      title: "PrestaShop Spec"
      type: "object"
      required:
        - "access_key"
        - "url"
        - "start_date"
        - "sourceType"
      properties:
        access_key:
          type: "string"
          title: "Access Key"
          description:
            "Your PrestaShop access key. See <a href=\"https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key\"\
            > the docs </a> for info on how to obtain this."
          order: 0
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        url:
          type: "string"
          title: "Shop URL"
          description: "Shop URL without trailing slash."
          order: 1
        start_date:
          type: "string"
          title: "Start date"
          description: "The Start date in the format YYYY-MM-DD."
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          examples:
            - "2022-01-01"
          format: "date"
          order: 2
        sourceType:
          title: "prestashop"
          const: "prestashop"
          enum:
            - "prestashop"
          order: 0
          type: "string"
    source-prestashop-update:
      title: "PrestaShop Spec"
      type: "object"
      required:
        - "access_key"
        - "url"
        - "start_date"
      properties:
        access_key:
          type: "string"
          title: "Access Key"
          description:
            "Your PrestaShop access key. See <a href=\"https://devdocs.prestashop.com/1.7/webservice/tutorials/creating-access/#create-an-access-key\"\
            > the docs </a> for info on how to obtain this."
          order: 0
          airbyte_secret: true
        url:
          type: "string"
          title: "Shop URL"
          description: "Shop URL without trailing slash."
          order: 1
        start_date:
          type: "string"
          title: "Start date"
          description: "The Start date in the format YYYY-MM-DD."
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
          examples:
            - "2022-01-01"
          format: "date"
          order: 2
    source-netsuite:
      title: "Netsuite Spec"
      type: "object"
      required:
        - "realm"
        - "consumer_key"
        - "consumer_secret"
        - "token_key"
        - "token_secret"
        - "start_datetime"
        - "sourceType"
      properties:
        realm:
          type: "string"
          title: "Realm (Account Id)"
          description:
            "Netsuite realm e.g. 2344535, as for `production` or 2344535_SB1,\
            \ as for the `sandbox`"
          order: 0
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        consumer_key:
          type: "string"
          title: "Consumer Key"
          description: "Consumer key associated with your integration"
          order: 1
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        consumer_secret:
          type: "string"
          title: "Consumer Secret"
          description: "Consumer secret associated with your integration"
          order: 2
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        token_key:
          type: "string"
          title: "Token Key (Token Id)"
          description: "Access token key"
          order: 3
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        token_secret:
          type: "string"
          title: "Token Secret"
          description: "Access token secret"
          order: 4
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        object_types:
          type: "array"
          title: "Object Types"
          items:
            type: "string"
          description:
            "The API names of the Netsuite objects you want to sync. Setting\
            \ this speeds up the connection setup process by limiting the number of\
            \ schemas that need to be retrieved from Netsuite."
          order: 5
          examples:
            - "customer"
            - "salesorder"
            - "etc"
          default: []
        start_datetime:
          type: "string"
          title: "Start Date"
          description:
            "Starting point for your data replication, in format of \"\
            YYYY-MM-DDTHH:mm:ssZ\""
          order: 6
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2017-01-25T00:00:00Z"
        window_in_days:
          type: "integer"
          title: "Window in Days"
          description:
            "The amount of days used to query the data with date chunks.\
            \ Set smaller value, if you have lots of data."
          order: 7
          default: 30
        sourceType:
          title: "netsuite"
          const: "netsuite"
          enum:
            - "netsuite"
          order: 0
          type: "string"
    source-netsuite-update:
      title: "Netsuite Spec"
      type: "object"
      required:
        - "realm"
        - "consumer_key"
        - "consumer_secret"
        - "token_key"
        - "token_secret"
        - "start_datetime"
      properties:
        realm:
          type: "string"
          title: "Realm (Account Id)"
          description:
            "Netsuite realm e.g. 2344535, as for `production` or 2344535_SB1,\
            \ as for the `sandbox`"
          order: 0
          airbyte_secret: true
        consumer_key:
          type: "string"
          title: "Consumer Key"
          description: "Consumer key associated with your integration"
          order: 1
          airbyte_secret: true
        consumer_secret:
          type: "string"
          title: "Consumer Secret"
          description: "Consumer secret associated with your integration"
          order: 2
          airbyte_secret: true
        token_key:
          type: "string"
          title: "Token Key (Token Id)"
          description: "Access token key"
          order: 3
          airbyte_secret: true
        token_secret:
          type: "string"
          title: "Token Secret"
          description: "Access token secret"
          order: 4
          airbyte_secret: true
        object_types:
          type: "array"
          title: "Object Types"
          items:
            type: "string"
          description:
            "The API names of the Netsuite objects you want to sync. Setting\
            \ this speeds up the connection setup process by limiting the number of\
            \ schemas that need to be retrieved from Netsuite."
          order: 5
          examples:
            - "customer"
            - "salesorder"
            - "etc"
          default: []
        start_datetime:
          type: "string"
          title: "Start Date"
          description:
            "Starting point for your data replication, in format of \"\
            YYYY-MM-DDTHH:mm:ssZ\""
          order: 6
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2017-01-25T00:00:00Z"
        window_in_days:
          type: "integer"
          title: "Window in Days"
          description:
            "The amount of days used to query the data with date chunks.\
            \ Set smaller value, if you have lots of data."
          order: 7
          default: 30
    source-convex:
      title: "Convex Source Spec"
      type: "object"
      required:
        - "deployment_url"
        - "access_key"
        - "sourceType"
      properties:
        deployment_url:
          type: "string"
          title: "Deployment Url"
          examples:
            - "https://murky-swan-635.convex.cloud"
            - "https://cluttered-owl-337.convex.cloud"
        access_key:
          type: "string"
          title: "Access Key"
          description: "API access key used to retrieve data from Convex."
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "convex"
          const: "convex"
          enum:
            - "convex"
          order: 0
          type: "string"
    source-convex-update:
      title: "Convex Source Spec"
      type: "object"
      required:
        - "deployment_url"
        - "access_key"
      properties:
        deployment_url:
          type: "string"
          title: "Deployment Url"
          examples:
            - "https://murky-swan-635.convex.cloud"
            - "https://cluttered-owl-337.convex.cloud"
        access_key:
          type: "string"
          title: "Access Key"
          description: "API access key used to retrieve data from Convex."
          airbyte_secret: true
    source-recurly:
      type: "object"
      required:
        - "api_key"
        - "sourceType"
      properties:
        api_key:
          type: "string"
          title: "API Key"
          airbyte_secret: true
          description:
            "Recurly API Key. See the  <a href=\"https://docs.airbyte.com/integrations/sources/recurly\"\
            >docs</a> for more information on how to generate this key."
          order: 0
          x-speakeasy-param-sensitive: true
        begin_time:
          type: "string"
          description:
            "ISO8601 timestamp from which the replication from Recurly\
            \ API will start from."
          examples:
            - "2021-12-01T00:00:00"
          pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
          order: 1
        end_time:
          type: "string"
          description:
            "ISO8601 timestamp to which the replication from Recurly API\
            \ will stop. Records after that date won't be imported."
          examples:
            - "2021-12-01T00:00:00"
          pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
          order: 2
        sourceType:
          title: "recurly"
          const: "recurly"
          enum:
            - "recurly"
          order: 0
          type: "string"
    source-recurly-update:
      type: "object"
      required:
        - "api_key"
      properties:
        api_key:
          type: "string"
          title: "API Key"
          airbyte_secret: true
          description:
            "Recurly API Key. See the  <a href=\"https://docs.airbyte.com/integrations/sources/recurly\"\
            >docs</a> for more information on how to generate this key."
          order: 0
        begin_time:
          type: "string"
          description:
            "ISO8601 timestamp from which the replication from Recurly\
            \ API will start from."
          examples:
            - "2021-12-01T00:00:00"
          pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
          order: 1
        end_time:
          type: "string"
          description:
            "ISO8601 timestamp to which the replication from Recurly API\
            \ will stop. Records after that date won't be imported."
          examples:
            - "2021-12-01T00:00:00"
          pattern: "^$|^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}$"
          order: 2
    source-pennylane:
      type: "object"
      required:
        - "start_time"
        - "api_key"
        - "sourceType"
      properties:
        start_time:
          type: "string"
          order: 0
          title: "Start time"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        api_key:
          type: "string"
          title: "API Key"
          airbyte_secret: true
          order: 1
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "pennylane"
          const: "pennylane"
          enum:
            - "pennylane"
          order: 0
          type: "string"
    source-pennylane-update:
      type: "object"
      required:
        - "start_time"
        - "api_key"
      properties:
        start_time:
          type: "string"
          order: 0
          title: "Start time"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        api_key:
          type: "string"
          title: "API Key"
          airbyte_secret: true
          order: 1
    source-teamwork:
      type: "object"
      required:
        - "username"
        - "site_name"
        - "start_date"
        - "sourceType"
      properties:
        username:
          type: "string"
          order: 0
          title: "Username"
        password:
          type: "string"
          order: 1
          title: "Password"
          always_show: true
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        site_name:
          type: "string"
          description: "The teamwork site name appearing at the url"
          order: 2
          title: "Site Name"
        start_date:
          type: "string"
          order: 3
          title: "Start date"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        sourceType:
          title: "teamwork"
          const: "teamwork"
          enum:
            - "teamwork"
          order: 0
          type: "string"
    source-teamwork-update:
      type: "object"
      required:
        - "username"
        - "site_name"
        - "start_date"
      properties:
        username:
          type: "string"
          order: 0
          title: "Username"
        password:
          type: "string"
          order: 1
          title: "Password"
          always_show: true
          airbyte_secret: true
        site_name:
          type: "string"
          description: "The teamwork site name appearing at the url"
          order: 2
          title: "Site Name"
        start_date:
          type: "string"
          order: 3
          title: "Start date"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
    source-zendesk-chat:
      title: "Zendesk Chat Spec"
      type: "object"
      required:
        - "start_date"
        - "sourceType"
      properties:
        start_date:
          type: "string"
          title: "Start Date"
          description:
            "The date from which you'd like to replicate data for Zendesk\
            \ Chat API, in the format YYYY-MM-DDT00:00:00Z."
          examples:
            - "2021-02-01T00:00:00Z"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          format: "date-time"
        subdomain:
          type: "string"
          title: "Subdomain"
          description:
            "Required if you access Zendesk Chat from a Zendesk Support\
            \ subdomain."
          default: ""
        credentials:
          title: "Authorization Method"
          type: "object"
          oneOf:
            - type: "object"
              title: "OAuth2.0"
              required:
                - "credentials"
              properties:
                credentials:
                  type: "string"
                  const: "oauth2.0"
                  order: 0
                  enum:
                    - "oauth2.0"
                client_id:
                  type: "string"
                  title: "Client ID"
                  description: "The Client ID of your OAuth application"
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
                client_secret:
                  type: "string"
                  title: "Client Secret"
                  description: "The Client Secret of your OAuth application."
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
                access_token:
                  type: "string"
                  title: "Access Token"
                  description: "Access Token for making authenticated requests."
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
                refresh_token:
                  type: "string"
                  title: "Refresh Token"
                  description:
                    "Refresh Token to obtain new Access Token, when it's\
                    \ expired."
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
            - type: "object"
              title: "Access Token"
              required:
                - "credentials"
                - "access_token"
              properties:
                credentials:
                  type: "string"
                  const: "access_token"
                  order: 0
                  enum:
                    - "access_token"
                access_token:
                  type: "string"
                  title: "Access Token"
                  description: "The Access Token to make authenticated requests."
                  airbyte_secret: true
                  x-speakeasy-param-sensitive: true
        sourceType:
          title: "zendesk-chat"
          const: "zendesk-chat"
          enum:
            - "zendesk-chat"
          order: 0
          type: "string"
    source-zendesk-chat-update:
      title: "Zendesk Chat Spec"
      type: "object"
      required:
        - "start_date"
      properties:
        start_date:
          type: "string"
          title: "Start Date"
          description:
            "The date from which you'd like to replicate data for Zendesk\
            \ Chat API, in the format YYYY-MM-DDT00:00:00Z."
          examples:
            - "2021-02-01T00:00:00Z"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          format: "date-time"
        subdomain:
          type: "string"
          title: "Subdomain"
          description:
            "Required if you access Zendesk Chat from a Zendesk Support\
            \ subdomain."
          default: ""
        credentials:
          title: "Authorization Method"
          type: "object"
          oneOf:
            - type: "object"
              title: "OAuth2.0"
              required:
                - "credentials"
              properties:
                credentials:
                  type: "string"
                  const: "oauth2.0"
                  order: 0
                  enum:
                    - "oauth2.0"
                client_id:
                  type: "string"
                  title: "Client ID"
                  description: "The Client ID of your OAuth application"
                  airbyte_secret: true
                client_secret:
                  type: "string"
                  title: "Client Secret"
                  description: "The Client Secret of your OAuth application."
                  airbyte_secret: true
                access_token:
                  type: "string"
                  title: "Access Token"
                  description: "Access Token for making authenticated requests."
                  airbyte_secret: true
                refresh_token:
                  type: "string"
                  title: "Refresh Token"
                  description:
                    "Refresh Token to obtain new Access Token, when it's\
                    \ expired."
                  airbyte_secret: true
            - type: "object"
              title: "Access Token"
              required:
                - "credentials"
                - "access_token"
              properties:
                credentials:
                  type: "string"
                  const: "access_token"
                  order: 0
                  enum:
                    - "access_token"
                access_token:
                  type: "string"
                  title: "Access Token"
                  description: "The Access Token to make authenticated requests."
                  airbyte_secret: true
    source-when-i-work:
      type: "object"
      required:
        - "email"
        - "password"
        - "sourceType"
      properties:
        email:
          type: "string"
          description: "Email of your when-i-work account"
          title: "Email"
          airbyte_secret: true
          order: 0
          x-speakeasy-param-sensitive: true
        password:
          type: "string"
          description: "Password for your when-i-work account"
          title: "Password"
          airbyte_secret: true
          order: 1
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "when-i-work"
          const: "when-i-work"
          enum:
            - "when-i-work"
          order: 0
          type: "string"
    source-when-i-work-update:
      type: "object"
      required:
        - "email"
        - "password"
      properties:
        email:
          type: "string"
          description: "Email of your when-i-work account"
          title: "Email"
          airbyte_secret: true
          order: 0
        password:
          type: "string"
          description: "Password for your when-i-work account"
          title: "Password"
          airbyte_secret: true
          order: 1
    source-my-hours:
      title: "My Hours Spec"
      type: "object"
      required:
        - "email"
        - "password"
        - "start_date"
        - "sourceType"
      properties:
        email:
          title: "Email"
          type: "string"
          description: "Your My Hours username"
          example: "john@doe.com"
        password:
          title: "Password"
          type: "string"
          description: "The password associated to the username"
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        start_date:
          title: "Start Date"
          description: "Start date for collecting time logs"
          examples:
            - "%Y-%m-%d"
            - "2016-01-01"
          type: "string"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        logs_batch_size:
          title: "Time logs batch size"
          description: "Pagination size used for retrieving logs in days"
          examples:
            - 30
          type: "integer"
          minimum: 1
          maximum: 365
          default: 30
        sourceType:
          title: "my-hours"
          const: "my-hours"
          enum:
            - "my-hours"
          order: 0
          type: "string"
    source-my-hours-update:
      title: "My Hours Spec"
      type: "object"
      required:
        - "email"
        - "password"
        - "start_date"
      properties:
        email:
          title: "Email"
          type: "string"
          description: "Your My Hours username"
          example: "john@doe.com"
        password:
          title: "Password"
          type: "string"
          description: "The password associated to the username"
          airbyte_secret: true
        start_date:
          title: "Start Date"
          description: "Start date for collecting time logs"
          examples:
            - "%Y-%m-%d"
            - "2016-01-01"
          type: "string"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
        logs_batch_size:
          title: "Time logs batch size"
          description: "Pagination size used for retrieving logs in days"
          examples:
            - 30
          type: "integer"
          minimum: 1
          maximum: 365
          default: 30
    source-7shifts:
      type: "object"
      required:
        - "access_token"
        - "start_date"
        - "sourceType"
      properties:
        access_token:
          type: "string"
          description:
            "Access token to use for authentication. Generate it in the\
            \ 7shifts Developer Tools."
          name: "access_token"
          title: "Access Token"
          airbyte_secret: true
          order: 0
          x-speakeasy-param-sensitive: true
        start_date:
          type: "string"
          title: "Start date"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          order: 1
        sourceType:
          title: "7shifts"
          const: "7shifts"
          enum:
            - "7shifts"
          order: 0
          type: "string"
    source-7shifts-update:
      type: "object"
      required:
        - "access_token"
        - "start_date"
      properties:
        access_token:
          type: "string"
          description:
            "Access token to use for authentication. Generate it in the\
            \ 7shifts Developer Tools."
          name: "access_token"
          title: "Access Token"
          airbyte_secret: true
          order: 0
        start_date:
          type: "string"
          title: "Start date"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          order: 1
    source-eventbrite:
      type: "object"
      required:
        - "private_token"
        - "start_date"
        - "sourceType"
      properties:
        private_token:
          type: "string"
          description: "The private token to use for authenticating API requests."
          name: "private_token"
          order: 0
          title: "Private Token"
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        start_date:
          type: "string"
          order: 1
          title: "Start date"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
        sourceType:
          title: "eventbrite"
          const: "eventbrite"
          enum:
            - "eventbrite"
          order: 0
          type: "string"
    source-eventbrite-update:
      type: "object"
      required:
        - "private_token"
        - "start_date"
      properties:
        private_token:
          type: "string"
          description: "The private token to use for authenticating API requests."
          name: "private_token"
          order: 0
          title: "Private Token"
          airbyte_secret: true
        start_date:
          type: "string"
          order: 1
          title: "Start date"
          format: "date-time"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
    source-klaviyo:
      title: "Klaviyo Spec"
      type: "object"
      properties:
        api_key:
          type: "string"
          title: "Api Key"
          description:
            "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\"\
            >docs</a> if you need help finding this key."
          airbyte_secret: true
          order: 0
          x-speakeasy-param-sensitive: true
        start_date:
          type: "string"
          title: "Start Date"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated. This field is optional\
            \ - if not provided, all data will be replicated."
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2017-01-25T00:00:00Z"
          format: "date-time"
          order: 1
        disable_fetching_predictive_analytics:
          type: "boolean"
          title: "Disable Fetching Predictive Analytics"
          description:
            "Certain streams like the profiles stream can retrieve predictive\
            \ analytics data from Klaviyo's API. However, at high volume, this can\
            \ lead to service availability issues on the API which can be improved\
            \ by not fetching this field. WARNING: Enabling this setting will stop\
            \ the  \"predictive_analytics\" column from being populated in your downstream\
            \ destination."
          order: 2
        sourceType:
          title: "klaviyo"
          const: "klaviyo"
          enum:
            - "klaviyo"
          order: 0
          type: "string"
      required:
        - "api_key"
        - "sourceType"
    source-klaviyo-update:
      title: "Klaviyo Spec"
      type: "object"
      properties:
        api_key:
          type: "string"
          title: "Api Key"
          description:
            "Klaviyo API Key. See our <a href=\"https://docs.airbyte.com/integrations/sources/klaviyo\"\
            >docs</a> if you need help finding this key."
          airbyte_secret: true
          order: 0
        start_date:
          type: "string"
          title: "Start Date"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated. This field is optional\
            \ - if not provided, all data will be replicated."
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2017-01-25T00:00:00Z"
          format: "date-time"
          order: 1
        disable_fetching_predictive_analytics:
          type: "boolean"
          title: "Disable Fetching Predictive Analytics"
          description:
            "Certain streams like the profiles stream can retrieve predictive\
            \ analytics data from Klaviyo's API. However, at high volume, this can\
            \ lead to service availability issues on the API which can be improved\
            \ by not fetching this field. WARNING: Enabling this setting will stop\
            \ the  \"predictive_analytics\" column from being populated in your downstream\
            \ destination."
          order: 2
      required:
        - "api_key"
    source-datadog:
      type: "object"
      required:
        - "api_key"
        - "application_key"
        - "sourceType"
      properties:
        api_key:
          type: "string"
          description: "Datadog API key"
          order: 0
          title: "API Key"
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        application_key:
          type: "string"
          description: "Datadog application key"
          order: 1
          title: "Application Key"
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        query:
          type: "string"
          description:
            "The search query. This just applies to Incremental syncs.\
            \ If empty, it'll collect all logs."
          order: 2
          title: "Query"
        start_date:
          type: "string"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated. This just applies to Incremental\
            \ syncs."
          order: 3
          title: "Start date"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2022-10-01T00:00:00Z"
          default: "2023-12-01T00:00:00Z"
        site:
          type: "string"
          description: "The site where Datadog data resides in."
          enum:
            - "datadoghq.com"
            - "us3.datadoghq.com"
            - "us5.datadoghq.com"
            - "datadoghq.eu"
            - "ddog-gov.com"
          order: 4
          title: "Site"
          default: "datadoghq.com"
        end_date:
          type: "string"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Data\
            \ after this date will  not be replicated. An empty value will represent\
            \ the current datetime for each  execution. This just applies to Incremental\
            \ syncs."
          order: 5
          title: "End date"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2022-10-01T00:00:00Z"
          default: "2024-01-01T00:00:00Z"
        max_records_per_request:
          type: "integer"
          description: "Maximum number of records to collect per request."
          order: 6
          title: "Max records per requests"
          default: 5000
          maximum: 5000
          minimum: 1
        queries:
          type: "array"
          description: "List of queries to be run and used as inputs."
          items:
            type: "object"
            required:
              - "name"
              - "data_source"
              - "query"
            properties:
              name:
                type: "string"
                description: "The variable name for use in queries."
                order: 1
                title: "Query Name"
              query:
                type: "string"
                description: "A classic query string."
                order: 3
                title: "Query"
              data_source:
                type: "string"
                description: "A data source that is powered by the platform."
                enum:
                  - "metrics"
                  - "cloud_cost"
                  - "logs"
                  - "rum"
                order: 2
                title: "Data Source"
          order: 7
          title: "Queries"
          default: []
        sourceType:
          title: "datadog"
          const: "datadog"
          enum:
            - "datadog"
          order: 0
          type: "string"
    source-datadog-update:
      type: "object"
      required:
        - "api_key"
        - "application_key"
      properties:
        api_key:
          type: "string"
          description: "Datadog API key"
          order: 0
          title: "API Key"
          airbyte_secret: true
        application_key:
          type: "string"
          description: "Datadog application key"
          order: 1
          title: "Application Key"
          airbyte_secret: true
        query:
          type: "string"
          description:
            "The search query. This just applies to Incremental syncs.\
            \ If empty, it'll collect all logs."
          order: 2
          title: "Query"
        start_date:
          type: "string"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Any\
            \ data before this date will not be replicated. This just applies to Incremental\
            \ syncs."
          order: 3
          title: "Start date"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2022-10-01T00:00:00Z"
          default: "2023-12-01T00:00:00Z"
        site:
          type: "string"
          description: "The site where Datadog data resides in."
          enum:
            - "datadoghq.com"
            - "us3.datadoghq.com"
            - "us5.datadoghq.com"
            - "datadoghq.eu"
            - "ddog-gov.com"
          order: 4
          title: "Site"
          default: "datadoghq.com"
        end_date:
          type: "string"
          description:
            "UTC date and time in the format 2017-01-25T00:00:00Z. Data\
            \ after this date will  not be replicated. An empty value will represent\
            \ the current datetime for each  execution. This just applies to Incremental\
            \ syncs."
          order: 5
          title: "End date"
          pattern: "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$"
          examples:
            - "2022-10-01T00:00:00Z"
          default: "2024-01-01T00:00:00Z"
        max_records_per_request:
          type: "integer"
          description: "Maximum number of records to collect per request."
          order: 6
          title: "Max records per requests"
          default: 5000
          maximum: 5000
          minimum: 1
        queries:
          type: "array"
          description: "List of queries to be run and used as inputs."
          items:
            type: "object"
            required:
              - "name"
              - "data_source"
              - "query"
            properties:
              name:
                type: "string"
                description: "The variable name for use in queries."
                order: 1
                title: "Query Name"
              query:
                type: "string"
                description: "A classic query string."
                order: 3
                title: "Query"
              data_source:
                type: "string"
                description: "A data source that is powered by the platform."
                enum:
                  - "metrics"
                  - "cloud_cost"
                  - "logs"
                  - "rum"
                order: 2
                title: "Data Source"
          order: 7
          title: "Queries"
          default: []
    source-luma:
      type: "object"
      required:
        - "api_key"
        - "sourceType"
      properties:
        api_key:
          type: "string"
          description: "Get your API key on lu.ma Calendars dashboard → Settings."
          name: "api_key"
          order: 0
          title: "API Key"
          airbyte_secret: true
          x-speakeasy-param-sensitive: true
        sourceType:
          title: "luma"
          const: "luma"
          enum:
            - "luma"
          order: 0
          type: "string"
    source-luma-update:
      type: "object"
      required:
        - "api_key"
      properties:
        api_key:
          type: "string"
          description: "Get your API key on lu.ma Calendars dashboard → Settings."
          name: "api_key"
          order: 0
          title: "API Key"
          airbyte_secret: true
    source-dockerhub:
      type: "object"
      required:
        - "docker_username"
        - "sourceType"
      properties:
        docker_username:
          type: "string"
          order: 0
          title: "Docker Username"
          description:
            "Username of DockerHub person or organization (for https://hub.docker.com/v2/repositories/USERNAME/\
            \ API call)"
          pattern: "^[a-z0-9_\\-]+$"
          examples:
            - "airbyte"
        sourceType:
          title: "dockerhub"
          const: "dockerhub"
          enum:
            - "dockerhub"
          order: 0
          type: "string"
    source-dockerhub-update:
      type: "object"
      required:
        - "docker_username"
      properties:
        docker_username:
          type: "string"
          order: 0
          title: "Docker Username"
          description:
            "Username of DockerHub person or organization (for https://hub.docker.com/v2/repositories/USERNAME/\
            \ API call)"
          pattern: "^[a-z0-9_\\-]+$"
          examples:
            - "airbyte"
[...]
