---
openapi: "3.1.0"
info:
  title: "Workspaces"
  version: "1.0.0"
  description: "Programmatically control Airbyte Cloud, OSS & Enterprise."
servers:
- url: "https://api.airbyte.com/v1"
  description: "Airbyte API v1"
paths:
  /workspaces:
    get:
      tags:
      - "public_workspaces"
      - "public"
      - "Workspaces"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspacesResponse"
          description: "Successful operation"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "listWorkspaces"
      x-speakeasy-alias: "listWorkspaces"
      x-speakeasy-group: "Workspaces"
      summary: "List workspaces"
      x-speakeasy-entity-operation: "Workspace#list"
      parameters:
      - name: "workspaceIds"
        description: "The UUIDs of the workspaces you wish to fetch. Empty list will\
          \ retrieve all allowed workspaces."
        schema:
          type: "array"
          items:
            format: "uuid"
            type: "string"
        in: "query"
        required: false
      - name: "includeDeleted"
        description: "Include deleted workspaces in the returned results."
        schema:
          default: false
          type: "boolean"
        in: "query"
        required: false
      - name: "limit"
        description: "Set the limit on the number of workspaces returned. The default\
          \ is 20."
        schema:
          format: "int32"
          type: "integer"
          minimum: 1
          maximum: 100
          default: 20
        in: "query"
      - name: "offset"
        description: "Set the offset to start at when returning workspaces. The default\
          \ is 0"
        schema:
          type: "integer"
          format: "int32"
          minimum: 0
          default: 0
        in: "query"
    post:
      tags:
      - "public_workspaces"
      - "public"
      - "Workspaces"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceCreateRequest"
            examples:
              Workspace Creation Request Example:
                value:
                  name: "Company Workspace Name"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceResponse"
              examples:
                Workspace Creation Response Example:
                  value:
                    workspaceId: "9924bcd0-99be-453d-ba47-c2c9766f7da5"
          description: "Successful operation"
        "400":
          description: "Invalid data"
        "403":
          description: "Not allowed"
      operationId: "createWorkspace"
      x-speakeasy-alias: "createWorkspace"
      x-speakeasy-group: "Workspaces"
      summary: "Create a workspace"
      x-speakeasy-entity-operation: "Workspace#create"
  /workspaces/{workspaceId}:
    parameters:
    - name: "workspaceId"
      schema:
        format: "UUID"
        type: "string"
      in: "path"
      required: true
    get:
      tags:
      - "public_workspaces"
      - "public"
      - "Workspaces"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceResponse"
              examples:
                Workspace Get Response Example:
                  value:
                    workspaceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    name: "Acme Company"
                    dataResidency: "auto"
          description: "Get a Workspace by the id in the path."
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "getWorkspace"
      x-speakeasy-alias: "getWorkspace"
      x-speakeasy-group: "Workspaces"
      summary: "Get Workspace details"
      x-speakeasy-entity-operation: "Workspace#read"
    patch:
      tags:
      - "public_workspaces"
      - "public"
      - "Workspaces"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceUpdateRequest"
            examples:
              Workspace Update Request Example:
                value:
                  name: "Company Workspace Name"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceResponse"
              examples:
                Workspace Update Response Example:
                  value:
                    workspaceId: "9924bcd0-99be-453d-ba47-c2c9766f7da5"
          description: "Successful operation"
        "400":
          description: "Invalid data"
        "403":
          description: "Not allowed"
      operationId: "updateWorkspace"
      x-speakeasy-alias: "updateWorkspace"
      x-speakeasy-group: "Workspaces"
      summary: "Update a workspace"
      x-speakeasy-entity-operation: "Workspace#update"
    delete:
      tags:
      - "public_workspaces"
      - "public"
      - "Workspaces"
      responses:
        "204":
          description: "The resource was deleted successfully"
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "deleteWorkspace"
      x-speakeasy-alias: "deleteWorkspace"
      x-speakeasy-group: "Workspaces"
      summary: "Delete a Workspace"
      x-speakeasy-entity-operation: "Workspace#delete"
  /workspaces/{workspaceId}/oauthCredentials:
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceOAuthCredentialsRequest"
        required: true
      tags:
      - "public_workspaces"
      - "public"
      - "Workspaces"
      responses:
        "200":
          description: "OAuth credential override was successful."
        "400":
          description: "A field in the body has not been set appropriately."
        "403":
          description: "API key is invalid."
      operationId: "createOrUpdateWorkspaceOAuthCredentials"
      x-speakeasy-alias: "createOrUpdateWorkspaceOAuthCredentials"
      x-speakeasy-group: "Workspaces"
      summary: "Create OAuth override credentials for a workspace and source type."
      description: "Create/update a set of OAuth credentials to override the Airbyte-provided\
        \ OAuth credentials used for source/destination OAuth.\nIn order to determine\
        \ what the credential configuration needs to be, please see the connector\
        \ specification of the relevant source/destination."
    parameters:
    - name: "workspaceId"
      schema:
        format: "UUID"
        type: "string"
      in: "path"
      required: true
components:
  responses:
    InitiateOauthResponse:
      content:
        application/json: {}
      description: "Response from the initiate OAuth call should be an object with\
        \ a single property which will be the `redirect_url`. If a user is redirected\
        \ to this URL, they'll be prompted by the identity provider to authenticate."
      x-speakeasy-component: true
  schemas:
    WorkspaceId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    OrganizationId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    PermissionType:
      type: "string"
      description: "Describes what actions/endpoints the permission entitles to"
      enum:
      - "instance_admin"
      - "organization_admin"
      - "organization_editor"
      - "organization_runner"
      - "organization_reader"
      - "organization_member"
      - "workspace_owner"
      - "workspace_admin"
      - "workspace_runner"
      - "workspace_editor"
      - "workspace_reader"
      x-speakeasy-component: true
    PublicPermissionType:
      type: "string"
      description: "Subset of `PermissionType` (removing `instance_admin`), could\
        \ be used in public-api."
      enum:
      - "organization_admin"
      - "organization_editor"
      - "organization_runner"
      - "organization_reader"
      - "organization_member"
      - "workspace_admin"
      - "workspace_editor"
      - "workspace_runner"
      - "workspace_reader"
      x-speakeasy-component: true
    UserId:
      type: "string"
      description: "Internal Airbyte user ID"
      format: "uuid"
      x-speakeasy-component: true
    AuthProvider:
      type: "string"
      description: "Auth Provider"
      default: "airbyte"
      enum:
      - "airbyte"
      - "google_identity_platform"
      - "keycloak"
      x-speakeasy-component: true
    UserStatus:
      type: "string"
      description: "user status"
      enum:
      - "invited"
      - "registered"
      - "disabled"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SelectedFieldInfo:
      type: "object"
      description: "Path to a field/column/property in a stream to be selected. For\
        \ example, if the field to be selected is a database column called \"foo\"\
        , this will be [\"foo\"]. Use multiple path elements for nested schemas."
      properties:
        fieldPath:
          type: "array"
          items:
            type: "string"
      x-speakeasy-component: true
    StreamMapperType:
      type: "string"
      enum:
      - "hashing"
      - "field-renaming"
      - "row-filtering"
      - "encryption"
      x-speakeasy-component: true
    ConfiguredStreamMapper:
      type: "object"
      required:
      - "type"
      - "mapperConfiguration"
      properties:
        id:
          type: "string"
          format: "uuid"
        type:
          $ref: "#/components/schemas/StreamMapperType"
        mapperConfiguration:
          $ref: "#/components/schemas/MapperConfiguration"
      x-speakeasy-component: true
    MapperConfiguration:
      type: "object"
      description: "The values required to configure the mapper."
      oneOf:
      - $ref: "#/components/schemas/HashingMapperConfiguration"
      - $ref: "#/components/schemas/FieldRenamingMapperConfiguration"
      - $ref: "#/components/schemas/RowFilteringMapperConfiguration"
      - $ref: "#/components/schemas/EncryptionMapperConfiguration"
      x-speakeasy-component: true
    HashingMapperConfiguration:
      title: "Hashing"
      type: "object"
      properties:
        fieldNameSuffix:
          type: "string"
          title: "Field name suffix"
          description: "The suffix to append to the field name after hashing."
        method:
          type: "string"
          enum:
          - "MD2"
          - "MD5"
          - "SHA-1"
          - "SHA-224"
          - "SHA-256"
          - "SHA-384"
          - "SHA-512"
          title: "Hashing method"
          description: "The hashing algorithm to use."
        targetField:
          type: "string"
          title: "Original Field Name"
          description: "The name of the field to be hashed."
      required:
      - "fieldNameSuffix"
      - "method"
      - "targetField"
      x-speakeasy-component: true
    FieldRenamingMapperConfiguration:
      title: "Field Renaming"
      type: "object"
      properties:
        newFieldName:
          type: "string"
          title: "New Field Name"
          description: "The new name for the field after renaming."
        originalFieldName:
          type: "string"
          title: "Original Field Name"
          description: "The current name of the field to rename."
      required:
      - "newFieldName"
      - "originalFieldName"
      x-speakeasy-component: true
    RowFilteringOperationType:
      type: "string"
      enum:
      - "EQUAL"
      - "NOT"
      x-speakeasy-component: true
    RowFilteringOperationEqual:
      type: "object"
      title: "EQUAL"
      required:
      - "comparisonValue"
      - "fieldName"
      - "type"
      properties:
        comparisonValue:
          type: "string"
          title: "Comparison Value"
          description: "The value to compare the field against."
        fieldName:
          type: "string"
          title: "Field Name"
          description: "The name of the field to apply the operation on."
        type:
          $ref: "#/components/schemas/RowFilteringOperationType"
      x-speakeasy-component: true
    RowFilteringOperationNot:
      type: "object"
      title: "NOT"
      required:
      - "conditions"
      - "type"
      properties:
        conditions:
          title: "Sub-Conditions (NOT)"
          description: "Conditions to evaluate with the NOT operator."
          minItems: 1
          type: "array"
          items:
            $ref: "#/components/schemas/RowFilteringOperation"
        type:
          $ref: "#/components/schemas/RowFilteringOperationType"
      x-speakeasy-component: true
    RowFilteringOperation:
      type: "object"
      oneOf:
      - $ref: "#/components/schemas/RowFilteringOperationEqual"
      - $ref: "#/components/schemas/RowFilteringOperationNot"
      discriminator:
        propertyName: "type"
        mapping:
          EQUAL: "#/components/schemas/RowFilteringOperationEqual"
          NOT: "#/components/schemas/RowFilteringOperationNot"
      x-speakeasy-component: true
    RowFilteringMapperConfiguration:
      title: "Row Filtering"
      type: "object"
      properties:
        conditions:
          $ref: "#/components/schemas/RowFilteringOperation"
      required:
      - "conditions"
      x-speakeasy-component: true
    EncryptionMapperAlgorithm:
      type: "string"
      enum:
      - "RSA"
      - "AES"
      x-speakeasy-component: true
    EncryptionMapperConfiguration:
      title: "Encryption"
      type: "object"
      oneOf:
      - $ref: "#/components/schemas/EncryptionMapperRSAConfiguration"
      - $ref: "#/components/schemas/EncryptionMapperAESConfiguration"
      discriminator:
        propertyName: "algorithm"
        mapping:
          RSA: "#/components/schemas/EncryptionMapperRSAConfiguration"
          AES: "#/components/schemas/EncryptionMapperAESConfiguration"
      x-speakeasy-component: true
    EncryptionMapperRSAConfiguration:
      title: "Encryption - RSA"
      type: "object"
      properties:
        algorithm:
          $ref: "#/components/schemas/EncryptionMapperAlgorithm"
        fieldNameSuffix:
          type: "string"
        publicKey:
          type: "string"
        targetField:
          type: "string"
      required:
      - "algorithm"
      - "publicKey"
      - "targetField"
      - "fieldNameSuffix"
      x-speakeasy-component: true
    EncryptionMapperAESConfiguration:
      title: "Encryption - AES"
      type: "object"
      properties:
        algorithm:
          $ref: "#/components/schemas/EncryptionMapperAlgorithm"
        fieldNameSuffix:
          type: "string"
        key:
          type: "string"
          x-speakeasy-param-sensitive: true
        mode:
          type: "string"
          enum:
          - "CBC"
          - "CFB"
          - "OFB"
          - "CTR"
          - "GCM"
          - "ECB"
        padding:
          type: "string"
          enum:
          - "NoPadding"
          - "PKCS5Padding"
        targetField:
          type: "string"
      required:
      - "algorithm"
      - "key"
      - "mode"
      - "padding"
      - "targetField"
      - "fieldNameSuffix"
      x-speakeasy-component: true
    SelectedFields:
      description: "Paths to the fields that will be included in the configured catalog."
      type: "array"
      items:
        $ref: "#/components/schemas/SelectedFieldInfo"
      x-speakeasy-component: true
    OAuthConfiguration:
      description: "The values required to configure OAuth flows. The schema for this\
        \ must match the `OAuthConfigSpecification.oauthUserInputFromConnectorConfigSpecification`\
        \ schema."
      x-speakeasy-component: true
    OAuthInputConfiguration:
      $ref: "#/components/schemas/OAuthConfiguration"
      x-speakeasy-component: true
    ApplicationCreate:
      required:
      - "name"
      type: "object"
      properties:
        name:
          type: "string"
      x-speakeasy-component: true
    ApplicationReadList:
      required:
      - "applications"
      type: "object"
      properties:
        applications:
          type: "array"
          items:
            $ref: "#/components/schemas/ApplicationRead"
      x-speakeasy-component: true
    ApplicationRead:
      required:
      - "id"
      - "name"
      - "clientId"
      - "clientSecret"
      - "createdAt"
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        clientId:
          type: "string"
        clientSecret:
          type: "string"
        createdAt:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    ApplicationTokenRequestWithGrant:
      required:
      - "client_id"
      - "client_secret"
      - "grant_type"
      type: "object"
      properties:
        client_id:
          type: "string"
        client_secret:
          type: "string"
        grant-type:
          enum:
          - "client_credentials"
      x-speakeasy-component: true
    PublicAccessTokenResponse:
      required:
      - "access_token"
      - "token_type"
      - "expires_in"
      type: "object"
      properties:
        access_token:
          type: "string"
        token_type:
          enum:
          - "Bearer"
        expires_in:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    RedirectUrlResponse:
      title: "Root Type for RedirectUrlResponse"
      description: ""
      type: "object"
      properties:
        redirectUrl:
          format: "url"
          type: "string"
      example:
        redirectUrl: "https://example.com"
      x-speakeasy-component: true
    JobResponse:
      title: "Root Type for JobResponse"
      description: "Provides details of a single job."
      required:
      - "jobId"
      - "status"
      - "jobType"
      - "startTime"
      - "connectionId"
      type: "object"
      properties:
        jobId:
          format: "int64"
          type: "integer"
        status:
          $ref: "#/components/schemas/JobStatusEnum"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
        startTime:
          type: "string"
        connectionId:
          format: "UUID"
          type: "string"
        lastUpdatedAt:
          type: "string"
        duration:
          description: "Duration of a sync in ISO_8601 format"
          type: "string"
        bytesSynced:
          format: "int64"
          type: "integer"
        rowsSynced:
          format: "int64"
          type: "integer"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        status: "running"
        jobType: "sync"
        startTime: "2023-03-25T01:30:50Z"
        duration: "PT8H6M12S"
      x-speakeasy-component: true
    JobsResponse:
      title: "Root Type for JobsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/JobResponse"
      example:
        next: "https://api.airbyte.com/v1/jobs?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/jobs?limit=5&offset=0"
        data:
        - id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          status: "running"
          jobType: "sync"
          startTime: "2023-03-25T01:30:50Z"
      x-speakeasy-component: true
    ConnectionCreateRequest:
      required:
      - "sourceId"
      - "destinationId"
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        sourceId:
          format: "uuid"
          type: "string"
        destinationId:
          format: "uuid"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnum"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
          description: "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description: "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    ConnectionPatchRequest:
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnumNoDefault"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnumNoDefault"
        namespaceFormat:
          type: "string"
          description: "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description: "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnumNoDefault"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    JobCreateRequest:
      title: "Root Type for JobCreate"
      description: "Creates a new Job from the configuration provided in the request\
        \ body."
      required:
      - "jobType"
      - "connectionId"
      type: "object"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
      example:
        connectionId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        jobType: "sync"
      x-speakeasy-component: true
    JobStatusEnum:
      enum:
      - "pending"
      - "running"
      - "incomplete"
      - "failed"
      - "succeeded"
      - "cancelled"
      type: "string"
      x-speakeasy-component: true
    JobTypeEnum:
      description: "Enum that describes the different types of jobs that the platform\
        \ runs."
      enum:
      - "sync"
      - "reset"
      - "refresh"
      - "clear"
      type: "string"
      x-speakeasy-component: true
    SourceCreateRequest:
      required:
      - "name"
      - "workspaceId"
      - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the source e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description: "The UUID of the connector definition. One of configuration.sourceType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePutRequest:
      required:
      - "name"
      - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
          example: "My source"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    ConnectionResponse:
      title: "Root Type for ConnectionResponse"
      description: "Provides details of a single connection."
      type: "object"
      required:
      - "connectionId"
      - "name"
      - "sourceId"
      - "destinationId"
      - "workspaceId"
      - "status"
      - "schedule"
      - "dataResidency"
      - "configurations"
      - "createdAt"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceId:
          format: "UUID"
          type: "string"
        destinationId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        schedule:
          $ref: "#/components/schemas/ConnectionScheduleResponse"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnum"
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
        prefix:
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        createdAt:
          format: "int64"
          type: "integer"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    AirbyteApiConnectionSchedule:
      description: "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
      - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeEnum"
        cronExpression:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeEnum:
      type: "string"
      enum:
      - "manual"
      - "cron"
      x-speakeasy-component: true
    ConnectionScheduleResponse:
      description: "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
      - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeWithBasicEnum"
        cronExpression:
          type: "string"
        basicTiming:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeWithBasicEnum:
      type: "string"
      enum:
      - "manual"
      - "cron"
      - "basic"
      x-speakeasy-component: true
    GeographyEnum:
      type: "string"
      enum:
      - "auto"
      - "us"
      - "eu"
      default: "auto"
      x-speakeasy-component: true
    GeographyEnumNoDefault:
      type: "string"
      enum:
      - "auto"
      - "us"
      - "eu"
      x-speakeasy-component: true
    ConnectionStatusEnum:
      type: "string"
      enum:
      - "active"
      - "inactive"
      - "deprecated"
      x-speakeasy-component: true
    NamespaceDefinitionEnum:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
      - "source"
      - "destination"
      - "custom_format"
      default: "destination"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnum:
      type: "string"
      description: "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
      - "ignore"
      - "disable_connection"
      - "propagate_columns"
      - "propagate_fully"
      default: "ignore"
      x-speakeasy-component: true
    NamespaceDefinitionEnumNoDefault:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
      - "source"
      - "destination"
      - "custom_format"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnumNoDefault:
      type: "string"
      description: "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
      - "ignore"
      - "disable_connection"
      - "propagate_columns"
      - "propagate_fully"
      x-speakeasy-component: true
    DestinationResponse:
      title: "Root Type for DestinationResponse"
      description: "Provides details of a single destination."
      type: "object"
      required:
      - "destinationId"
      - "name"
      - "destinationType"
      - "definitionId"
      - "workspaceId"
      - "configuration"
      - "createdAt"
      properties:
        destinationId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        destinationType:
          type: "string"
        definitionId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        createdAt:
          format: "int64"
          type: "integer"
      example:
        destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        destinationType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
        definitionId: "321d9b60-11d1-44cb-8c92-c246d53bf98e"
      x-speakeasy-component: true
    SourceResponse:
      title: "Root Type for SourceResponse"
      description: "Provides details of a single source."
      type: "object"
      required:
      - "sourceId"
      - "name"
      - "sourceType"
      - "workspaceId"
      - "configuration"
      - "definitionId"
      - "createdAt"
      properties:
        sourceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceType:
          type: "string"
        definitionId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        createdAt:
          format: "int64"
          type: "integer"
      example:
        sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        sourceType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
        definitionId: "321d9b60-11d1-44cb-8c92-c246d53bf98e"
      x-speakeasy-component: true
    ConnectorDefinitionResponse:
      title: "Root Type for ConnectorDefinitionResponse"
      description: "Provides details of a single connector definition."
      type: "object"
      required:
      - "id"
      - "connectorDefinitionType"
      - "name"
      - "version"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        connectorDefinitionType:
          $ref: "#/components/schemas/ConnectorType"
        version:
          type: "string"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Postgres"
        connectorDefinnitionType: "source"
        version: "0.2.0"
      x-speakeasy-component: true
    ConnectorType:
      type: "string"
      enum:
      - "source"
      - "destination"
      x-speakeasy-component: true
    DestinationCreateRequest:
      required:
      - "name"
      - "workspaceId"
      - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the destination e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description: "The UUID of the connector definition. One of configuration.destinationType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPutRequest:
      required:
      - "name"
      - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceCreateRequest:
      required:
      - "name"
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
        organizationId:
          description: "ID of organization to add workspace to."
          format: "uuid"
          type: "string"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceUpdateRequest:
      required:
      - "name"
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceResponse:
      title: "Root Type for WorkspaceResponse"
      description: "Provides details of a single workspace."
      type: "object"
      required:
      - "workspaceId"
      - "name"
      - "dataResidency"
      properties:
        workspaceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        dataResidency:
          $ref: "#/components/schemas/GeographyEnum"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UserResponse:
      title: "Root Type for UserResponse"
      description: "Provides details of a single user in an organization."
      type: "object"
      required:
      - "id"
      - "name"
      - "email"
      properties:
        name:
          description: "Name of the user"
          type: "string"
        id:
          $ref: "#/components/schemas/UserId"
        email:
          type: "string"
          format: "email"
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UsersResponse:
      title: "Root Type for UsersResponse"
      description: "List/Array of multiple users in an organization"
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/UserResponse"
      x-speakeasy-component: true
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
    PermissionCreateRequest:
      required:
      - "permissionType"
      - "userId"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PublicPermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionUpdateRequest:
      required:
      - "permissionType"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PermissionType"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionResponse:
      title: "Root Type for PermissionResponse"
      description: "Provides details of a single permission."
      type: "object"
      required:
      - "permissionId"
      - "permissionType"
      - "userId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionScope:
      description: "Scope of a single permission, e.g. workspace, organization"
      type: "string"
      enum:
      - "workspace"
      - "organization"
      - "none"
      x-speakeasy-component: true
    PermissionResponseRead:
      title: "Root type for PermissionResponseRead"
      description: "Reformat PermissionResponse with permission scope"
      type: "object"
      required:
      - "permissionId"
      - "permissionType"
      - "userId"
      - "scope"
      - "scopeId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        scopeId:
          type: "string"
          format: "uuid"
        scope:
          $ref: "#/components/schemas/PermissionScope"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionsResponse:
      title: "Root Type for PermissionsResponse"
      description: "List/Array of multiple permissions"
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/PermissionResponseRead"
      x-speakeasy-component: true
    OrganizationResponse:
      title: "Root Type for OrganizationResponse"
      description: "Provides details of a single organization for a user."
      type: "object"
      required:
      - "organizationId"
      - "organizationName"
      - "email"
      properties:
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
        organizationName:
          type: "string"
        email:
          type: "string"
          format: "email"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    OrganizationsResponse:
      title: "Root Type for OrganizationsResponse"
      description: "List/Array of multiple organizations."
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/OrganizationResponse"
      x-speakeasy-component: true
    ConnectionsResponse:
      title: "Root Type for ConnectionsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionResponse"
          default: []
      example:
        next: "https://api.airbyte.com/v1/connections?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/connections?limit=5&offset=0"
        data:
        - name: "test-connection"
        - connection_id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        - sourceId: "49237019-645d-47d4-b45b-5eddf97775ce"
        - destinationId: "al312fs-0ab1-4f72-9ed7-0b8fc27c5826"
        - schedule:
            scheduleType: "manual"
        - status: "active"
        - dataResidency: "auto"
      x-speakeasy-component: true
    SourcesResponse:
      title: "Root Type for SourcesResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/SourceResponse"
      example:
        next: "https://api.airbyte.com/v1/sources?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/sources?limit=5&offset=0"
        data:
          sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          sourceType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationsResponse:
      title: "Root Type for DestinationsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DestinationResponse"
      example:
        next: "https://api.airbyte.com/v1/destinations?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/destinations?limit=5&offset=0"
        data:
          destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          destinationType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    ConnectorDefinitionsResponse:
      title: "Root Type for DefinitionsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectorDefinitionResponse"
      x-speakeasy-component: true
    WorkspacesResponse:
      title: "Root Type for WorkspacesResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/WorkspaceResponse"
      example:
        next: "https://api.airbyte.com/v1/workspaces?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/workspaces?limit=5&offset=0"
        data:
          workspaceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Acme Company"
          dataResidency: "auto"
      x-speakeasy-component: true
    StreamConfiguration:
      description: "Configurations for a single stream."
      type: "object"
      required:
      - "name"
      properties:
        name:
          type: "string"
        syncMode:
          $ref: "#/components/schemas/ConnectionSyncModeEnum"
        cursorField:
          description: "Path to the field that will be used to determine if a record\
            \ is new or modified since the last sync. This field is REQUIRED if `sync_mode`\
            \ is `incremental` unless there is a default."
          type: "array"
          items:
            type: "string"
        primaryKey:
          description: "Paths to the fields that will be used as primary key. This\
            \ field is REQUIRED if `destination_sync_mode` is `*_dedup` unless it\
            \ is already supplied by the source schema."
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        selectedFields:
          description: "By default (if not provided in the request) all fields will\
            \ be synced. Otherwise, only the fields in this list will be synced."
          $ref: "#/components/schemas/SelectedFields"
        mappers:
          description: "Mappers that should be applied to the stream before writing\
            \ to the destination."
          type: "array"
          items:
            $ref: "#/components/schemas/ConfiguredStreamMapper"
      x-speakeasy-component: true
    StreamConfigurations:
      description: "A list of configured stream options for a connection."
      type: "object"
      properties:
        streams:
          type: "array"
          items:
            $ref: "#/components/schemas/StreamConfiguration"
      x-speakeasy-component: true
    StreamPropertiesResponse:
      description: "A list of stream properties."
      type: "array"
      items:
        $ref: "#/components/schemas/StreamProperties"
      x-speakeasy-component: true
    StreamProperties:
      description: "The stream properties associated with a connection."
      type: "object"
      properties:
        streamName:
          type: "string"
        syncModes:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionSyncModeEnum"
        defaultCursorField:
          type: "array"
          items:
            type: "string"
        sourceDefinedCursorField:
          type: "boolean"
        sourceDefinedPrimaryKey:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        propertyFields:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
      x-speakeasy-component: true
    ConnectionSyncModeEnum:
      enum:
      - "full_refresh_overwrite"
      - "full_refresh_append"
      - "incremental_append"
      - "incremental_deduped_history"
      x-speakeasy-component: true
    ActorTypeEnum:
      description: "Whether you're setting this override for a source or destination"
      enum:
      - "source"
      - "destination"
      x-speakeasy-component: true
    shopify:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of the Shopify developer application."
              airbyte_secret: true
              order: 1
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of the Shopify developer application."
              airbyte_secret: true
              order: 2
      title: "Shopify Source CDK Specifications"
    azure-blob-storage:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              description: "Client ID of your Microsoft developer application"
              airbyte_secret: true
              type: "string"
            client_secret:
              title: "Client Secret"
              description: "Client Secret of your Microsoft developer application"
              airbyte_secret: true
              type: "string"
      title: "SourceAzureBlobStorageSpec"
    drift:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of your Drift developer application."
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of your Drift developer application."
              airbyte_secret: true
      title: null
    snapchat-marketing:
      properties:
        client_id:
          type: "string"
          description: "The Client ID of your Snapchat developer application."
          order: 0
          title: "Client ID"
          airbyte_secret: true
        client_secret:
          type: "string"
          description: "The Client Secret of your Snapchat developer application."
          order: 1
          title: "Client Secret"
          airbyte_secret: true
      title: null
    gitlab:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              description: "The API ID of the Gitlab developer application."
              airbyte_secret: true
            client_secret:
              type: "string"
              description: "The API Secret the Gitlab developer application."
              airbyte_secret: true
      title: "Source Gitlab Spec"
    microsoft-sharepoint:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              description: "Client ID of your Microsoft developer application"
              airbyte_secret: true
              type: "string"
            client_secret:
              title: "Client Secret"
              description: "Client Secret of your Microsoft developer application"
              airbyte_secret: true
              type: "string"
      title: "Microsoft SharePoint Source Spec"
    notion:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your Notion integration. See our <a href='https://docs.airbyte.com/integrations/sources/notion#step-2-set-permissions-and-acquire-authorization-credentials'>docs</a>\
                \ for more information."
              airbyte_secret: true
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The Client Secret of your Notion integration. See our\
                \ <a href='https://docs.airbyte.com/integrations/sources/notion#step-2-set-permissions-and-acquire-authorization-credentials'>docs</a>\
                \ for more information."
              airbyte_secret: true
      title: "Notion Source Spec"
    youtube-analytics:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your developer application"
              airbyte_secret: true
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The client secret of your developer application"
              airbyte_secret: true
      title: "YouTube Analytics Spec"
    zendesk-talk:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "Client ID"
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "Client Secret"
              airbyte_secret: true
      title: "Source Zendesk Talk Spec"
    linkedin-ads:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The client ID of your developer application. Refer to\
                \ our <a href='https://docs.airbyte.com/integrations/sources/linkedin-ads#setup-guide'>documentation</a>\
                \ for more information."
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The client secret of your developer application. Refer\
                \ to our <a href='https://docs.airbyte.com/integrations/sources/linkedin-ads#setup-guide'>documentation</a>\
                \ for more information."
              airbyte_secret: true
      title: "Linkedin Ads Spec"
    microsoft-onedrive:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              description: "Client ID of your Microsoft developer application"
              airbyte_secret: true
              type: "string"
            client_secret:
              title: "Client Secret"
              description: "Client Secret of your Microsoft developer application"
              airbyte_secret: true
              type: "string"
      title: "Microsoft OneDrive Source Spec"
    tiktok-marketing:
      properties:
        credentials:
          properties:
            app_id:
              title: "App ID"
              description: "The Developer Application App ID."
              airbyte_secret: true
              type: "string"
            secret:
              title: "Secret"
              description: "The Developer Application Secret."
              airbyte_secret: true
              type: "string"
      title: "TikTok Marketing Source Spec"
    hubspot:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              description: "The Client ID of your HubSpot developer application. See\
                \ the <a href=\"https://legacydocs.hubspot.com/docs/methods/oauth2/oauth2-quickstart\"\
                >Hubspot docs</a> if you need help finding this ID."
              type: "string"
              examples:
              - "123456789000"
            client_secret:
              title: "Client Secret"
              description: "The client secret for your HubSpot developer application.\
                \ See the <a href=\"https://legacydocs.hubspot.com/docs/methods/oauth2/oauth2-quickstart\"\
                >Hubspot docs</a> if you need help finding this secret."
              type: "string"
              examples:
              - "secret"
              airbyte_secret: true
      title: "HubSpot Source Spec"
    typeform:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              description: "The Client ID of the Typeform developer application."
              airbyte_secret: true
            client_secret:
              type: "string"
              description: "The Client Secret the Typeform developer application."
              airbyte_secret: true
      title: null
    surveymonkey:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of the SurveyMonkey developer application."
              airbyte_secret: true
              order: 1
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of the SurveyMonkey developer application."
              airbyte_secret: true
              order: 2
      title: null
    amazon-ads:
      properties:
        client_id:
          title: "Client ID"
          description: "The client ID of your Amazon Ads developer application. See\
            \ the <a href=\"https://advertising.amazon.com/API/docs/en-us/get-started/generate-api-tokens#retrieve-your-client-id-and-client-secret\"\
            >docs</a> for more information."
          airbyte_secret: true
          order: 1
          type: "string"
        client_secret:
          title: "Client Secret"
          description: "The client secret of your Amazon Ads developer application.\
            \ See the <a href=\"https://advertising.amazon.com/API/docs/en-us/get-started/generate-api-tokens#retrieve-your-client-id-and-client-secret\"\
            >docs</a> for more information."
          airbyte_secret: true
          order: 2
          type: "string"
      title: "Source Amazon Ads"
    github:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client Id"
              description: "OAuth Client Id"
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client secret"
              description: "OAuth Client secret"
              airbyte_secret: true
      title: "GitHub Source Spec"
    salesforce:
      properties:
        client_id:
          title: "Client ID"
          description: "Enter your Salesforce developer application's <a href=\"https://developer.salesforce.com/forums/?id=9062I000000DLgbQAG\"\
            >Client ID</a>"
          type: "string"
          order: 2
        client_secret:
          title: "Client Secret"
          description: "Enter your Salesforce developer application's <a href=\"https://developer.salesforce.com/forums/?id=9062I000000DLgbQAG\"\
            >Client secret</a>"
          type: "string"
          airbyte_secret: true
          order: 3
      title: "Salesforce Source Spec"
    lever-hiring:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your Lever Hiring developer application."
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The Client Secret of your Lever Hiring developer application."
              airbyte_secret: true
      title: "Lever Hiring Source Spec"
    google-drive:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              description: "Client ID for the Google Drive API"
              airbyte_secret: true
              type: "string"
            client_secret:
              title: "Client Secret"
              description: "Client Secret for the Google Drive API"
              airbyte_secret: true
              type: "string"
      title: "Google Drive Source Spec"
    gcs:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              description: "Client ID"
              airbyte_secret: true
              type: "string"
            client_secret:
              title: "Client Secret"
              description: "Client Secret"
              airbyte_secret: true
              type: "string"
      title: "Config"
    trello:
      title: null
    zendesk-chat:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of your OAuth application"
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of your OAuth application."
              airbyte_secret: true
      title: "Zendesk Chat Spec"
    google-ads:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              order: 1
              description: "The Client ID of your Google Ads developer application.\
                \ For detailed instructions on finding this value, refer to our <a\
                \ href=\"https://docs.airbyte.com/integrations/sources/google-ads#setup-guide\"\
                >documentation</a>."
            client_secret:
              type: "string"
              title: "Client Secret"
              order: 2
              description: "The Client Secret of your Google Ads developer application.\
                \ For detailed instructions on finding this value, refer to our <a\
                \ href=\"https://docs.airbyte.com/integrations/sources/google-ads#setup-guide\"\
                >documentation</a>."
              airbyte_secret: true
            developer_token:
              type: "string"
              title: "Developer Token"
              order: 0
              description: "The Developer Token granted by Google to use their APIs.\
                \ For detailed instructions on finding this value, refer to our <a\
                \ href=\"https://docs.airbyte.com/integrations/sources/google-ads#setup-guide\"\
                >documentation</a>."
              airbyte_secret: true
      title: "Google Ads Spec"
    google-search-console:
      properties:
        authorization:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The client ID of your Google Search Console developer\
                \ application. Read more <a href=\"https://developers.google.com/webmaster-tools/v1/how-tos/authorizing\"\
                >here</a>."
              airbyte_secret: true
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The client secret of your Google Search Console developer\
                \ application. Read more <a href=\"https://developers.google.com/webmaster-tools/v1/how-tos/authorizing\"\
                >here</a>."
              airbyte_secret: true
      title: "Google Search Console Spec"
    instagram:
      properties:
        client_id:
          title: "Client Id"
          description: "The Client ID for your Oauth application"
          airbyte_secret: true
          airbyte_hidden: true
          type: "string"
        client_secret:
          title: "Client Secret"
          description: "The Client Secret for your Oauth application"
          airbyte_secret: true
          airbyte_hidden: true
          type: "string"
      title: "Source Instagram"
    snowflake:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of your Snowflake developer application."
              airbyte_secret: true
              order: 1
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of your Snowflake developer application."
              airbyte_secret: true
              order: 2
      title: "Snowflake Source Spec"
    smartsheets:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              description: "The API ID of the SmartSheets developer application."
              airbyte_secret: true
            client_secret:
              type: "string"
              description: "The API Secret the SmartSheets developer application."
              airbyte_secret: true
      title: "Smartsheets Source Spec"
    slack:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "Slack client_id. See our <a href=\"https://docs.airbyte.com/integrations/sources/slack\"\
                >docs</a> if you need help finding this id."
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "Slack client_secret. See our <a href=\"https://docs.airbyte.com/integrations/sources/slack\"\
                >docs</a> if you need help finding this secret."
              airbyte_secret: true
      title: "Slack Spec"
    google-sheets:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "Enter your Google application's Client ID. See <a href='https://developers.google.com/identity/protocols/oauth2'>Google's\
                \ documentation</a> for more information."
              airbyte_secret: true
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "Enter your Google application's Client Secret. See <a\
                \ href='https://developers.google.com/identity/protocols/oauth2'>Google's\
                \ documentation</a> for more information."
              airbyte_secret: true
      title: "Google Sheets Source Spec"
    asana:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: ""
              description: ""
              airbyte_secret: true
            client_secret:
              type: "string"
              title: ""
              description: ""
              airbyte_secret: true
      title: "Asana Spec"
    microsoft-teams:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your Microsoft Teams developer application."
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The Client Secret of your Microsoft Teams developer application."
              airbyte_secret: true
      title: "Microsoft Teams Spec"
    amazon-seller-partner:
      properties:
        lwa_app_id:
          title: "LWA Client Id"
          description: "Your Login with Amazon Client ID."
          order: 4
          airbyte_secret: true
          type: "string"
        lwa_client_secret:
          title: "LWA Client Secret"
          description: "Your Login with Amazon Client Secret."
          airbyte_secret: true
          order: 5
          type: "string"
      title: "Amazon Seller Partner Spec"
    pinterest:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of your OAuth application"
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of your OAuth application."
              airbyte_secret: true
      title: "Pinterest Spec"
    rd-station-marketing:
      properties:
        authorization:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your RD Station developer application."
              airbyte_secret: true
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The Client Secret of your RD Station developer application"
              airbyte_secret: true
      title: "RD Station Marketing Spec"
    zendesk-support:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The OAuth client's ID. See <a href=\"https://docs.searchunify.com/Content/Content-Sources/Zendesk-Authentication-OAuth-Client-ID-Secret.htm#:~:text=Get%20Client%20ID%20and%20Client%20Secret&text=Go%20to%20OAuth%20Clients%20and,will%20be%20displayed%20only%20once.\"\
                >this guide</a> for more information."
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The OAuth client secret. See <a href=\"https://docs.searchunify.com/Content/Content-Sources/Zendesk-Authentication-OAuth-Client-ID-Secret.htm#:~:text=Get%20Client%20ID%20and%20Client%20Secret&text=Go%20to%20OAuth%20Clients%20and,will%20be%20displayed%20only%20once.\"\
                >this guide</a> for more information."
              airbyte_secret: true
      title: "Source Zendesk Support Spec"
    google-analytics-data-api:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your Google Analytics developer application."
              order: 1
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The Client Secret of your Google Analytics developer application."
              airbyte_secret: true
              order: 2
      title: "Google Analytics (Data API) Spec"
    intercom:
      properties:
        client_id:
          title: "Client Id"
          type: "string"
          description: "Client Id for your Intercom application."
          airbyte_secret: true
          order: 1
        client_secret:
          title: "Client Secret"
          type: "string"
          description: "Client Secret for your Intercom application."
          airbyte_secret: true
          order: 2
      title: "Source Intercom Spec"
    facebook-marketing:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client Id"
              description: "The Client Id for your OAuth app"
              airbyte_secret: true
              airbyte_hidden: true
              type: "string"
            client_secret:
              title: "Client Secret"
              description: "The Client Secret for your OAuth app"
              airbyte_secret: true
              airbyte_hidden: true
              type: "string"
      title: "Source Facebook Marketing"
    bing-ads:
      properties:
        client_id:
          type: "string"
          title: "Client ID"
          description: "The Client ID of your Microsoft Advertising developer application."
          airbyte_secret: true
          order: 1
        client_secret:
          type: "string"
          title: "Client Secret"
          description: "The Client Secret of your Microsoft Advertising developer\
            \ application."
          default: ""
          airbyte_secret: true
          order: 2
      title: "Bing Ads Spec"
    monday:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The Client ID of your OAuth application."
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client Secret"
              description: "The Client Secret of your OAuth application."
              airbyte_secret: true
      title: "Monday Spec"
    mailchimp:
      properties:
        credentials:
          properties:
            client_id:
              title: "Client ID"
              type: "string"
              description: "The Client ID of your OAuth application."
              airbyte_secret: true
            client_secret:
              title: "Client Secret"
              type: "string"
              description: "The Client Secret of your OAuth application."
              airbyte_secret: true
      title: "Mailchimp Spec"
    airtable:
      properties:
        credentials:
          properties:
            client_id:
              type: "string"
              title: "Client ID"
              description: "The client ID of the Airtable developer application."
              airbyte_secret: true
            client_secret:
              type: "string"
              title: "Client secret"
              description: "The client secret the Airtable developer application."
              airbyte_secret: true
      title: "Airtable Source Spec"
    OAuthCredentialsConfiguration:
      description: The values required to configure the source.
      example: { user: "charles" }
      oneOf:
        - title: airtable
          $ref: "#/components/schemas/airtable"
        - title: amazon-ads
          $ref: "#/components/schemas/amazon-ads"
        - title: amazon-seller-partner
          $ref: "#/components/schemas/amazon-seller-partner"
        - title: asana
          $ref: "#/components/schemas/asana"
        - title: azure-blob-storage
          $ref: "#/components/schemas/azure-blob-storage"
        - title: bing-ads
          $ref: "#/components/schemas/bing-ads"
        - title: drift
          $ref: "#/components/schemas/drift"
        - title: facebook-marketing
          $ref: "#/components/schemas/facebook-marketing"
        - title: gcs
          $ref: "#/components/schemas/gcs"
        - title: github
          $ref: "#/components/schemas/github"
        - title: gitlab
          $ref: "#/components/schemas/gitlab"
        - title: google-ads
          $ref: "#/components/schemas/google-ads"
        - title: google-analytics-data-api
          $ref: "#/components/schemas/google-analytics-data-api"
        - title: google-drive
          $ref: "#/components/schemas/google-drive"
        - title: google-search-console
          $ref: "#/components/schemas/google-search-console"
        - title: google-sheets
          $ref: "#/components/schemas/google-sheets"
        - title: hubspot
          $ref: "#/components/schemas/hubspot"
        - title: instagram
          $ref: "#/components/schemas/instagram"
        - title: intercom
          $ref: "#/components/schemas/intercom"
        - title: lever-hiring
          $ref: "#/components/schemas/lever-hiring"
        - title: linkedin-ads
          $ref: "#/components/schemas/linkedin-ads"
        - title: mailchimp
          $ref: "#/components/schemas/mailchimp"
        - title: microsoft-onedrive
          $ref: "#/components/schemas/microsoft-onedrive"
        - title: microsoft-sharepoint
          $ref: "#/components/schemas/microsoft-sharepoint"
        - title: microsoft-teams
          $ref: "#/components/schemas/microsoft-teams"
        - title: monday
          $ref: "#/components/schemas/monday"
        - title: notion
          $ref: "#/components/schemas/notion"
        - title: pinterest
          $ref: "#/components/schemas/pinterest"
        - title: rd-station-marketing
          $ref: "#/components/schemas/rd-station-marketing"
        - title: salesforce
          $ref: "#/components/schemas/salesforce"
        - title: shopify
          $ref: "#/components/schemas/shopify"
        - title: slack
          $ref: "#/components/schemas/slack"
        - title: smartsheets
          $ref: "#/components/schemas/smartsheets"
        - title: snapchat-marketing
          $ref: "#/components/schemas/snapchat-marketing"
        - title: snowflake
          $ref: "#/components/schemas/snowflake"
        - title: surveymonkey
          $ref: "#/components/schemas/surveymonkey"
        - title: tiktok-marketing
          $ref: "#/components/schemas/tiktok-marketing"
        - title: trello
          $ref: "#/components/schemas/trello"
        - title: typeform
          $ref: "#/components/schemas/typeform"
        - title: youtube-analytics
          $ref: "#/components/schemas/youtube-analytics"
        - title: zendesk-chat
          $ref: "#/components/schemas/zendesk-chat"
        - title: zendesk-support
          $ref: "#/components/schemas/zendesk-support"
        - title: zendesk-talk
          $ref: "#/components/schemas/zendesk-talk"
    SourceConfiguration:
      description: The values required to configure the source.
      example: { user: "charles" }
    DestinationConfiguration:
      description: The values required to configure the destination.
      example: { user: "charles" }
    InitiateOauthRequest:
      title: Root Type for initiate-oauth-post-body
      description: POST body for initiating OAuth via the public API
      required:
        - redirectUrl
        - workspaceId
        - sourceType
      type: object
      example:
        redirectUrl: "https://cloud.airbyte.io/v1/api/oauth/callback"
        workspaceId: 871d9b60-11d1-44cb-8c92-c246d53bf87e
        destinationId: 3d93b16c-ff5f-421c-8908-5a3c82088f14
      properties:
        redirectUrl:
          description: >-
            The URL to redirect the user to with the OAuth secret stored in the secret_id query
            string parameter after authentication is complete.
          type: string
        workspaceId:
          format: uuid
          description: The workspace to create the secret and eventually the full source.
          type: string
        oAuthInputConfiguration:
          $ref: "#/components/schemas/OAuthInputConfiguration"
          description: Input configuration for OAuth required by some sources.
        sourceType:
          $ref: "#/components/schemas/OAuthActorNames"
    WorkspaceOAuthCredentialsRequest:
      title: "Root Type for WorkspaceOAuthCredentials"
      description: "POST body for creating/updating workspace level OAuth credentials"
      required:
        - "actorType"
        - "name"
        - "configuration"
      type: "object"
      properties:
        actorType:
          $ref: "#/components/schemas/ActorTypeEnum"
        name:
          $ref: "#/components/schemas/OAuthActorNames"
        configuration:
          $ref: "#/components/schemas/OAuthCredentialsConfiguration"
    OAuthActorNames:
      enum:
        - airtable
        - amazon-ads
        - amazon-seller-partner
        - asana
        - azure-blob-storage
        - bing-ads
        - drift
        - facebook-marketing
        - gcs
        - github
        - gitlab
        - google-ads
        - google-analytics-data-api
        - google-drive
        - google-search-console
        - google-sheets
        - hubspot
        - instagram
        - intercom
        - lever-hiring
        - linkedin-ads
        - mailchimp
        - microsoft-onedrive
        - microsoft-sharepoint
        - microsoft-teams
        - monday
        - notion
        - pinterest
        - rd-station-marketing
        - salesforce
        - slack
        - smartsheets
        - snapchat-marketing
        - snowflake
        - surveymonkey
        - tiktok-marketing
        - trello
        - typeform
        - youtube-analytics
        - zendesk-chat
        - zendesk-support
        - zendesk-talk
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
