---
openapi: "3.1.0"
info:
  title: "Jobs"
  version: "1.0.0"
  description: "Programmatically control Airbyte Cloud, OSS & Enterprise."
servers:
- url: "https://api.airbyte.com/v1"
  description: "Airbyte API v1"
paths:
  /jobs:
    get:
      tags:
      - "public_jobs"
      - "public"
      - "Jobs"
      parameters:
      - name: "connectionId"
        description: "Filter the Jobs by connectionId."
        schema:
          format: "UUID"
          type: "string"
        in: "query"
        required: false
      - name: "limit"
        description: "Set the limit on the number of Jobs returned. The default is\
          \ 20 Jobs."
        schema:
          format: "int32"
          default: 20
          maximum: 100
          minimum: 1
          type: "integer"
        in: "query"
      - name: "offset"
        description: "Set the offset to start at when returning Jobs. The default\
          \ is 0."
        schema:
          format: "int32"
          default: 0
          minimum: 0
          type: "integer"
        in: "query"
      - name: "jobType"
        description: "Filter the Jobs by jobType."
        schema:
          $ref: "#/components/schemas/JobTypeEnum"
        in: "query"
      - name: "workspaceIds"
        description: "The UUIDs of the workspaces you wish to list jobs for. Empty\
          \ list will retrieve all allowed workspaces."
        schema:
          type: "array"
          items:
            format: "uuid"
            type: "string"
        in: "query"
        required: false
      - name: "status"
        description: "The Job status you want to filter by"
        schema:
          $ref: "#/components/schemas/JobStatusEnum"
        in: "query"
        required: false
      - name: "createdAtStart"
        description: "The start date to filter by"
        schema:
          type: "string"
          format: "date-time"
        in: "query"
        required: false
        example: 1687450500000
      - name: "createdAtEnd"
        description: "The end date to filter by"
        schema:
          type: "string"
          format: "date-time"
        in: "query"
        required: false
        example: 1687450500000
      - name: "updatedAtStart"
        description: "The start date to filter by"
        schema:
          type: "string"
          format: "date-time"
        example: 1687450500000
        in: "query"
        required: false
      - name: "updatedAtEnd"
        description: "The end date to filter by"
        schema:
          type: "string"
          format: "date-time"
        in: "query"
        required: false
        example: 1687450500000
      - name: "orderBy"
        description: "The field and method to use for ordering"
        schema:
          type: "string"
          pattern: "\\w+|(ASC|DESC)"
        in: "query"
        required: false
        example: "updatedAt|DESC"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobsResponse"
              examples:
                Job List Response Example:
                  value:
                    next: "https://api.airbyte.com/v1/jobs?limit=5&offset=10"
                    previous: "https://api.airbyte.com/v1/jobs?limit=5&offset=0"
                    data:
                    - id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                      status: "running"
                      jobType: "sync"
          description: "List all the Jobs by connectionId."
        "403":
          description: "Not allowed"
      operationId: "listJobs"
      summary: "List Jobs by sync type"
      x-speakeasy-alias: "listJobs"
      x-speakeasy-group: "Jobs"
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobCreateRequest"
            examples:
              Job Creation Request Example:
                value:
                  connectionId: "e735894a-e773-4938-969f-45f53957b75b"
                  jobType: "sync"
        required: true
      tags:
      - "public_jobs"
      - "public"
      - "Jobs"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
              examples:
                Job Creation Response Example:
                  value:
                    jobId: 1234
                    status: "running"
                    jobType: "sync"
          description: "Kicks off a new Job based on the JobType. The connectionId\
            \ is the resource that Job will be run for."
        "400":
          description: "Invalid data"
        "403":
          description: "Not allowed"
      operationId: "createJob"
      summary: "Trigger a sync or reset job of a connection"
      x-speakeasy-alias: "createJob"
      x-speakeasy-group: "Jobs"
  /jobs/{jobId}:
    get:
      tags:
      - "public_jobs"
      - "public"
      - "Jobs"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
              examples:
                Job Get Response Example:
                  value:
                    id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
                    status: "running"
                    jobType: "sync"
          description: "Get a Job by the id in the path."
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "getJob"
      x-speakeasy-alias: "getJob"
      x-speakeasy-group: "Jobs"
      summary: "Get Job status and details"
    delete:
      tags:
      - "public_jobs"
      - "public"
      - "Jobs"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: "Cancel a Job."
        "403":
          description: "Not allowed"
        "404":
          description: "Not found"
      operationId: "cancelJob"
      x-speakeasy-alias: "cancelJob"
      x-speakeasy-group: "Jobs"
      summary: "Cancel a running Job"
    parameters:
    - name: "jobId"
      schema:
        format: "int64"
        type: "integer"
      in: "path"
      required: true
components:
  responses:
    InitiateOauthResponse:
      content:
        application/json: {}
      description: "Response from the initiate OAuth call should be an object with\
        \ a single property which will be the `redirect_url`. If a user is redirected\
        \ to this URL, they'll be prompted by the identity provider to authenticate."
      x-speakeasy-component: true
  schemas:
    WorkspaceId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    DeclarativeManifest:
      x-speakeasy-component: true
      x-speakeasy-type-override: "any"
      x-speakeasy-terraform-custom-type:
        imports:
        - "github.com/hashicorp/terraform-plugin-framework-jsontypes/jsontypes"
        schemaType: "jsontypes.NormalizedType{}"
        valueType: "jsontypes.Normalized"
      description: "Low code CDK manifest JSON object"
      type: "object"
    ManifestVersion:
      x-speakeasy-component: true
      type: "integer"
      format: "int64"
    SourceDefinitionSpecification:
      description: "The specification for what values are required to configure the\
        \ sourceDefinition."
      type: "object"
      example:
        user:
          type: "string"
      x-speakeasy-component: true
    NamespaceDefinitionType:
      type: "string"
      description: "Method used for computing final namespace in destination"
      enum:
      - "source"
      - "destination"
      - "customformat"
      x-speakeasy-component: true
    TagId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    Tag:
      description: "A tag that can be associated with a connection. Useful for grouping\
        \ and organizing connections in a workspace."
      type: "object"
      x-speakeasy-component: true
      required:
      - "tagId"
      - "workspaceId"
      - "name"
      - "color"
      properties:
        tagId:
          $ref: "#/components/schemas/TagId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        name:
          type: "string"
        color:
          type: "string"
    OrganizationId:
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    PermissionType:
      type: "string"
      description: "Describes what actions/endpoints the permission entitles to"
      enum:
      - "instance_admin"
      - "organization_admin"
      - "organization_editor"
      - "organization_runner"
      - "organization_reader"
      - "organization_member"
      - "workspace_owner"
      - "workspace_admin"
      - "workspace_runner"
      - "workspace_editor"
      - "workspace_reader"
      x-speakeasy-component: true
    PublicPermissionType:
      type: "string"
      description: "Subset of `PermissionType` (removing `instance_admin`), could\
        \ be used in public-api."
      enum:
      - "organization_admin"
      - "organization_editor"
      - "organization_runner"
      - "organization_reader"
      - "organization_member"
      - "workspace_admin"
      - "workspace_editor"
      - "workspace_runner"
      - "workspace_reader"
      x-speakeasy-component: true
    UserId:
      type: "string"
      description: "Internal Airbyte user ID"
      format: "uuid"
      x-speakeasy-component: true
    AuthProvider:
      type: "string"
      description: "Auth Provider"
      default: "airbyte"
      enum:
      - "airbyte"
      - "google_identity_platform"
      - "keycloak"
      x-speakeasy-component: true
    UserStatus:
      type: "string"
      description: "user status"
      enum:
      - "invited"
      - "registered"
      - "disabled"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SelectedFieldInfo:
      type: "object"
      description: "Path to a field/column/property in a stream to be selected. For\
        \ example, if the field to be selected is a database column called \"foo\"\
        , this will be [\"foo\"]. Use multiple path elements for nested schemas."
      properties:
        fieldPath:
          type: "array"
          items:
            type: "string"
      x-speakeasy-component: true
    StreamMapperType:
      type: "string"
      enum:
      - "hashing"
      - "field-renaming"
      - "row-filtering"
      - "encryption"
      x-speakeasy-component: true
    ConfiguredStreamMapper:
      type: "object"
      required:
      - "type"
      - "mapperConfiguration"
      properties:
        id:
          type: "string"
          format: "uuid"
        type:
          $ref: "#/components/schemas/StreamMapperType"
        mapperConfiguration:
          $ref: "#/components/schemas/MapperConfiguration"
      x-speakeasy-component: true
    MapperConfiguration:
      type: "object"
      description: "The values required to configure the mapper."
      oneOf:
      - $ref: "#/components/schemas/HashingMapperConfiguration"
      - $ref: "#/components/schemas/FieldRenamingMapperConfiguration"
      - $ref: "#/components/schemas/RowFilteringMapperConfiguration"
      - $ref: "#/components/schemas/EncryptionMapperConfiguration"
      x-speakeasy-component: true
    HashingMapperConfiguration:
      title: "Hashing"
      type: "object"
      properties:
        fieldNameSuffix:
          type: "string"
          title: "Field name suffix"
          description: "The suffix to append to the field name after hashing."
        method:
          type: "string"
          enum:
          - "MD2"
          - "MD5"
          - "SHA-1"
          - "SHA-224"
          - "SHA-256"
          - "SHA-384"
          - "SHA-512"
          title: "Hashing method"
          description: "The hashing algorithm to use."
        targetField:
          type: "string"
          title: "Original Field Name"
          description: "The name of the field to be hashed."
      required:
      - "fieldNameSuffix"
      - "method"
      - "targetField"
      x-speakeasy-component: true
    FieldRenamingMapperConfiguration:
      title: "Field Renaming"
      type: "object"
      properties:
        newFieldName:
          type: "string"
          title: "New Field Name"
          description: "The new name for the field after renaming."
        originalFieldName:
          type: "string"
          title: "Original Field Name"
          description: "The current name of the field to rename."
      required:
      - "newFieldName"
      - "originalFieldName"
      x-speakeasy-component: true
    RowFilteringOperationType:
      type: "string"
      enum:
      - "EQUAL"
      - "NOT"
      x-speakeasy-component: true
    RowFilteringOperationEqual:
      type: "object"
      title: "EQUAL"
      required:
      - "comparisonValue"
      - "fieldName"
      - "type"
      properties:
        comparisonValue:
          type: "string"
          title: "Comparison Value"
          description: "The value to compare the field against."
        fieldName:
          type: "string"
          title: "Field Name"
          description: "The name of the field to apply the operation on."
        type:
          $ref: "#/components/schemas/RowFilteringOperationType"
      x-speakeasy-component: true
    RowFilteringOperationNot:
      type: "object"
      title: "NOT"
      required:
      - "conditions"
      - "type"
      properties:
        conditions:
          title: "Sub-Conditions (NOT)"
          description: "Conditions to evaluate with the NOT operator."
          minItems: 1
          type: "array"
          items:
            $ref: "#/components/schemas/RowFilteringOperation"
        type:
          $ref: "#/components/schemas/RowFilteringOperationType"
      x-speakeasy-component: true
    RowFilteringOperation:
      type: "object"
      oneOf:
      - $ref: "#/components/schemas/RowFilteringOperationEqual"
      - $ref: "#/components/schemas/RowFilteringOperationNot"
      discriminator:
        propertyName: "type"
        mapping:
          EQUAL: "#/components/schemas/RowFilteringOperationEqual"
          NOT: "#/components/schemas/RowFilteringOperationNot"
      x-speakeasy-component: true
      x-airbyte-circular-ref: true
    RowFilteringMapperConfiguration:
      title: "Row Filtering"
      type: "object"
      properties:
        conditions:
          $ref: "#/components/schemas/RowFilteringOperation"
      required:
      - "conditions"
      x-speakeasy-component: true
    EncryptionMapperAlgorithm:
      type: "string"
      enum:
      - "RSA"
      - "AES"
      x-speakeasy-component: true
    EncryptionMapperConfiguration:
      title: "Encryption"
      type: "object"
      oneOf:
      - $ref: "#/components/schemas/EncryptionMapperRSAConfiguration"
      - $ref: "#/components/schemas/EncryptionMapperAESConfiguration"
      discriminator:
        propertyName: "algorithm"
        mapping:
          RSA: "#/components/schemas/EncryptionMapperRSAConfiguration"
          AES: "#/components/schemas/EncryptionMapperAESConfiguration"
      x-speakeasy-component: true
    EncryptionMapperRSAConfiguration:
      title: "Encryption - RSA"
      type: "object"
      properties:
        algorithm:
          $ref: "#/components/schemas/EncryptionMapperAlgorithm"
        fieldNameSuffix:
          type: "string"
        publicKey:
          type: "string"
        targetField:
          type: "string"
      required:
      - "algorithm"
      - "publicKey"
      - "targetField"
      - "fieldNameSuffix"
      x-speakeasy-component: true
    EncryptionMapperAESConfiguration:
      title: "Encryption - AES"
      type: "object"
      properties:
        algorithm:
          $ref: "#/components/schemas/EncryptionMapperAlgorithm"
        fieldNameSuffix:
          type: "string"
        key:
          type: "string"
          x-speakeasy-param-sensitive: true
        mode:
          type: "string"
          enum:
          - "CBC"
          - "CFB"
          - "OFB"
          - "CTR"
          - "GCM"
          - "ECB"
        padding:
          type: "string"
          enum:
          - "NoPadding"
          - "PKCS5Padding"
        targetField:
          type: "string"
      required:
      - "algorithm"
      - "key"
      - "mode"
      - "padding"
      - "targetField"
      - "fieldNameSuffix"
      x-speakeasy-component: true
    SelectedFields:
      description: "Paths to the fields that will be included in the configured catalog."
      type: "array"
      items:
        $ref: "#/components/schemas/SelectedFieldInfo"
      x-speakeasy-component: true
    ScopedResourceRequirements:
      x-speakeasy-component: true
      description: "actor or actor definition specific resource requirements. if default\
        \ is set, these are the requirements that should be set for ALL jobs run for\
        \ this actor definition. it is overriden by the job type specific configurations.\
        \ if not set, the platform will use defaults. these values will be overriden\
        \ by configuration at the connection level."
      type: "object"
      additionalProperties: false
      properties:
        default:
          $ref: "#/components/schemas/ResourceRequirements"
        jobSpecific:
          type: "array"
          items:
            $ref: "#/components/schemas/JobTypeResourceLimit"
    ActorDefinitionId:
      description: "A unique identifier for an actor definition."
      type: "string"
      format: "uuid"
      x-speakeasy-component: true
    JobTypeResourceLimit:
      x-speakeasy-component: true
      description: "sets resource requirements for a specific job type for an actor\
        \ or actor definition. these values override the default, if both are set."
      type: "object"
      additionalProperties: false
      required:
      - "jobType"
      - "resourceRequirements"
      properties:
        jobType:
          $ref: "#/components/schemas/JobType"
        resourceRequirements:
          $ref: "#/components/schemas/ResourceRequirements"
    JobType:
      x-speakeasy-component: true
      description: "enum that describes the different types of jobs that the platform\
        \ runs."
      type: "string"
      enum:
      - "get_spec"
      - "check_connection"
      - "discover_schema"
      - "sync"
      - "reset_connection"
      - "connection_updater"
      - "replicate"
    ResourceRequirements:
      x-speakeasy-component: true
      description: "optional resource requirements to run workers (blank for unbounded\
        \ allocations)"
      type: "object"
      properties:
        cpu_request:
          type: "string"
        cpu_limit:
          type: "string"
        memory_request:
          type: "string"
        memory_limit:
          type: "string"
        ephemeral_storage_request:
          type: "string"
        ephemeral_storage_limit:
          type: "string"
    OAuthConfiguration:
      description: "The values required to configure OAuth flows. The schema for this\
        \ must match the `OAuthConfigSpecification.oauthUserInputFromConnectorConfigSpecification`\
        \ schema."
      x-speakeasy-component: true
    OAuthInputConfiguration:
      $ref: "#/components/schemas/OAuthConfiguration"
      x-speakeasy-component: true
    NonBreakingChangesPreference:
      enum:
      - "ignore"
      - "disable"
      - "propagate_columns"
      - "propagate_fully"
      type: "string"
      x-speakeasy-component: true
    ApplicationCreate:
      required:
      - "name"
      type: "object"
      properties:
        name:
          type: "string"
      x-speakeasy-component: true
    ApplicationReadList:
      required:
      - "applications"
      type: "object"
      properties:
        applications:
          type: "array"
          items:
            $ref: "#/components/schemas/ApplicationRead"
      x-speakeasy-component: true
    ApplicationRead:
      required:
      - "id"
      - "name"
      - "clientId"
      - "clientSecret"
      - "createdAt"
      type: "object"
      properties:
        id:
          type: "string"
        name:
          type: "string"
        clientId:
          type: "string"
        clientSecret:
          type: "string"
        createdAt:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    ApplicationTokenRequestWithGrant:
      required:
      - "client_id"
      - "client_secret"
      - "grant_type"
      type: "object"
      properties:
        client_id:
          type: "string"
        client_secret:
          type: "string"
        grant-type:
          enum:
          - "client_credentials"
      x-speakeasy-component: true
    PublicAccessTokenResponse:
      required:
      - "access_token"
      - "token_type"
      - "expires_in"
      type: "object"
      properties:
        access_token:
          type: "string"
        token_type:
          enum:
          - "Bearer"
        expires_in:
          type: "integer"
          format: "int64"
      x-speakeasy-component: true
    RedirectUrlResponse:
      title: "Root Type for RedirectUrlResponse"
      description: ""
      type: "object"
      properties:
        redirectUrl:
          format: "url"
          type: "string"
      example:
        redirectUrl: "https://example.com"
      x-speakeasy-component: true
    JobResponse:
      title: "Root Type for JobResponse"
      description: "Provides details of a single job."
      required:
      - "jobId"
      - "status"
      - "jobType"
      - "startTime"
      - "connectionId"
      type: "object"
      properties:
        jobId:
          format: "int64"
          type: "integer"
        status:
          $ref: "#/components/schemas/JobStatusEnum"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
        startTime:
          type: "string"
        connectionId:
          format: "UUID"
          type: "string"
        lastUpdatedAt:
          type: "string"
        duration:
          description: "Duration of a sync in ISO_8601 format"
          type: "string"
        bytesSynced:
          format: "int64"
          type: "integer"
        rowsSynced:
          format: "int64"
          type: "integer"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        status: "running"
        jobType: "sync"
        startTime: "2023-03-25T01:30:50Z"
        duration: "PT8H6M12S"
      x-speakeasy-component: true
    JobsResponse:
      title: "Root Type for JobsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/JobResponse"
      example:
        next: "https://api.airbyte.com/v1/jobs?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/jobs?limit=5&offset=0"
        data:
        - id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          status: "running"
          jobType: "sync"
          startTime: "2023-03-25T01:30:50Z"
      x-speakeasy-component: true
    ConnectionCreateRequest:
      required:
      - "sourceId"
      - "destinationId"
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        sourceId:
          format: "uuid"
          type: "string"
        destinationId:
          format: "uuid"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          deprecated: true
          x-speakeasy-deprecation-message: "We no longer support modifying dataResidency\
            \ on Community and Enterprise connections. All connections will use the\
            \ dataResidency of their associated workspace."
          type: "string"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
          description: "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description: "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
          default: ""
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/Tag"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    ConnectionPatchRequest:
      type: "object"
      properties:
        name:
          description: "Optional name of the connection"
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
        dataResidency:
          deprecated: true
          x-speakeasy-deprecation-message: "We no longer support modifying dataResidency\
            \ on Community and Enterprise connections. All connections will use the\
            \ dataResidency of their associated workspace."
          type: "string"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnumNoDefault"
        namespaceFormat:
          type: "string"
          description: "Used when namespaceDefinition is 'custom_format'. If blank\
            \ then behaves like namespaceDefinition = 'destination'. If \"${SOURCE_NAMESPACE}\"\
            \ then behaves like namespaceDefinition = 'source'."
          default: null
          example: "${SOURCE_NAMESPACE}"
        prefix:
          type: "string"
          description: "Prefix that will be prepended to the name of each stream when\
            \ it is written to the destination (ex. “airbyte_” causes “projects” =>\
            \ “airbyte_projects”)."
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnumNoDefault"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/Tag"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    JobCreateRequest:
      title: "Root Type for JobCreate"
      description: "Creates a new Job from the configuration provided in the request\
        \ body."
      required:
      - "jobType"
      - "connectionId"
      type: "object"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        jobType:
          $ref: "#/components/schemas/JobTypeEnum"
      example:
        connectionId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        jobType: "sync"
      x-speakeasy-component: true
    JobStatusEnum:
      enum:
      - "pending"
      - "running"
      - "incomplete"
      - "failed"
      - "succeeded"
      - "cancelled"
      type: "string"
      x-speakeasy-component: true
    JobTypeEnum:
      description: "Enum that describes the different types of jobs that the platform\
        \ runs."
      enum:
      - "sync"
      - "reset"
      - "refresh"
      - "clear"
      type: "string"
      x-speakeasy-component: true
    SourceCreateRequest:
      required:
      - "name"
      - "workspaceId"
      - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the source e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description: "The UUID of the connector definition. One of configuration.sourceType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePutRequest:
      required:
      - "name"
      - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    SourcePatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
          example: "My source"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        secretId:
          description: "Optional secretID obtained through the  OAuth redirect flow."
          type: "string"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Source"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    TagCreateRequest:
      required:
      - "name"
      - "color"
      - "workspaceId"
      type: "object"
      properties:
        name:
          type: "string"
        color:
          type: "string"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
      x-speakeasy-entity: "Tag"
      x-speakeasy-component: true
    TagPatchRequest:
      required:
      - "name"
      - "color"
      type: "object"
      properties:
        name:
          type: "string"
        color:
          type: "string"
      x-speakeasy-entity: "Tag"
      x-speakeasy-component: true
    OrganizationOAuthCredentialsRequest:
      title: "Root Type for OrganizationOAuthCredentials"
      description: "POST body for creating/updating organization level OAuth credentials"
      required:
      - "actorType"
      - "name"
      - "configuration"
      type: "object"
      properties:
        actorType:
          $ref: "#/components/schemas/ActorTypeEnum"
        name:
          type: "string"
          description: "The name of the source i.e. google-ads"
        configuration:
          $ref: "#/components/schemas/OAuthCredentialsConfiguration"
      x-speakeasy-component: true
    ConnectionResponse:
      title: "Root Type for ConnectionResponse"
      description: "Provides details of a single connection."
      type: "object"
      required:
      - "connectionId"
      - "name"
      - "sourceId"
      - "destinationId"
      - "workspaceId"
      - "status"
      - "schedule"
      - "configurations"
      - "createdAt"
      - "tags"
      properties:
        connectionId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceId:
          format: "UUID"
          type: "string"
        destinationId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        status:
          $ref: "#/components/schemas/ConnectionStatusEnum"
        schedule:
          $ref: "#/components/schemas/ConnectionScheduleResponse"
        nonBreakingSchemaUpdatesBehavior:
          $ref: "#/components/schemas/NonBreakingSchemaUpdatesBehaviorEnum"
        namespaceDefinition:
          $ref: "#/components/schemas/NamespaceDefinitionEnum"
        namespaceFormat:
          type: "string"
        prefix:
          type: "string"
        configurations:
          $ref: "#/components/schemas/StreamConfigurations"
        createdAt:
          format: "int64"
          type: "integer"
        tags:
          type: "array"
          items:
            $ref: "#/components/schemas/Tag"
      x-speakeasy-entity: "Connection"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    AirbyteApiConnectionSchedule:
      description: "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
      - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeEnum"
        cronExpression:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeEnum:
      type: "string"
      enum:
      - "manual"
      - "cron"
      x-speakeasy-component: true
    ConnectionScheduleResponse:
      description: "schedule for when the the connection should run, per the schedule\
        \ type"
      type: "object"
      required:
      - "scheduleType"
      properties:
        scheduleType:
          $ref: "#/components/schemas/ScheduleTypeWithBasicEnum"
        cronExpression:
          type: "string"
        basicTiming:
          type: "string"
      x-speakeasy-component: true
    ScheduleTypeWithBasicEnum:
      type: "string"
      enum:
      - "manual"
      - "cron"
      - "basic"
      x-speakeasy-component: true
    ConnectionStatusEnum:
      type: "string"
      enum:
      - "active"
      - "inactive"
      - "deprecated"
      x-speakeasy-component: true
    NamespaceDefinitionEnum:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
      - "source"
      - "destination"
      - "custom_format"
      default: "destination"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnum:
      type: "string"
      description: "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
      - "ignore"
      - "disable_connection"
      - "propagate_columns"
      - "propagate_fully"
      default: "ignore"
      x-speakeasy-component: true
    NamespaceDefinitionEnumNoDefault:
      type: "string"
      description: "Define the location where the data will be stored in the destination"
      enum:
      - "source"
      - "destination"
      - "custom_format"
      x-speakeasy-component: true
    NonBreakingSchemaUpdatesBehaviorEnumNoDefault:
      type: "string"
      description: "Set how Airbyte handles syncs when it detects a non-breaking schema\
        \ change in the source"
      enum:
      - "ignore"
      - "disable_connection"
      - "propagate_columns"
      - "propagate_fully"
      x-speakeasy-component: true
    DestinationResponse:
      title: "Root Type for DestinationResponse"
      description: "Provides details of a single destination."
      type: "object"
      required:
      - "destinationId"
      - "name"
      - "destinationType"
      - "definitionId"
      - "workspaceId"
      - "configuration"
      - "createdAt"
      properties:
        destinationId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        destinationType:
          type: "string"
        definitionId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        createdAt:
          format: "int64"
          type: "integer"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      example:
        destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        destinationType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
        definitionId: "321d9b60-11d1-44cb-8c92-c246d53bf98e"
      x-speakeasy-component: true
    SourceResponse:
      title: "Root Type for SourceResponse"
      description: "Provides details of a single source."
      type: "object"
      required:
      - "sourceId"
      - "name"
      - "sourceType"
      - "workspaceId"
      - "configuration"
      - "definitionId"
      - "createdAt"
      properties:
        sourceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        sourceType:
          type: "string"
        definitionId:
          format: "UUID"
          type: "string"
        workspaceId:
          format: "UUID"
          type: "string"
        configuration:
          $ref: "#/components/schemas/SourceConfiguration"
        createdAt:
          format: "int64"
          type: "integer"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      example:
        sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team Postgres"
        sourceType: "postgres"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
        definitionId: "321d9b60-11d1-44cb-8c92-c246d53bf98e"
      x-speakeasy-component: true
    ConnectorDefinitionResponse:
      title: "Root Type for ConnectorDefinitionResponse"
      description: "Provides details of a single connector definition."
      type: "object"
      required:
      - "id"
      - "connectorDefinitionType"
      - "name"
      - "version"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        connectorDefinitionType:
          $ref: "#/components/schemas/ConnectorType"
        version:
          type: "string"
      example:
        id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Postgres"
        connectorDefinnitionType: "source"
        version: "0.2.0"
      x-speakeasy-component: true
    ConnectorType:
      type: "string"
      enum:
      - "source"
      - "destination"
      x-speakeasy-component: true
    TagResponse:
      title: "Root Type for TagResponse"
      description: "Provides details of a single tag."
      type: "object"
      required:
      - "tagId"
      - "name"
      - "color"
      - "workspaceId"
      properties:
        tagId:
          $ref: "#/components/schemas/TagId"
        name:
          type: "string"
        color:
          description: "A hexadecimal color value"
          type: "string"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
      example:
        tagId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        name: "Analytics Team"
        color: "FF5733"
        workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationCreateRequest:
      required:
      - "name"
      - "workspaceId"
      - "configuration"
      type: "object"
      properties:
        name:
          description: "Name of the destination e.g. dev-mysql-instance."
          type: "string"
        definitionId:
          description: "The UUID of the connector definition. One of configuration.destinationType\
            \ or definitionId must be provided."
          format: "uuid"
          type: "string"
        workspaceId:
          format: "uuid"
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DestinationPutRequest:
      required:
      - "name"
      - "configuration"
      type: "object"
      properties:
        name:
          type: "string"
        configuration:
          $ref: "#/components/schemas/DestinationConfiguration"
        resourceAllocation:
          $ref: "#/components/schemas/ScopedResourceRequirements"
      x-implements: "io.airbyte.api.common.ConfigurableActor"
      x-speakeasy-entity: "Destination"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceCreateRequest:
      required:
      - "name"
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
        organizationId:
          description: "ID of organization to add workspace to."
          format: "uuid"
          type: "string"
        notifications:
          $ref: "#/components/schemas/NotificationsConfig"
        regionId:
          type: "string"
          format: "uuid"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceUpdateRequest:
      type: "object"
      properties:
        name:
          description: "Name of the workspace"
          type: "string"
        notifications:
          $ref: "#/components/schemas/NotificationsConfig"
        regionId:
          type: "string"
          format: "uuid"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WorkspaceResponse:
      title: "Root Type for WorkspaceResponse"
      description: "Provides details of a single workspace."
      type: "object"
      required:
      - "workspaceId"
      - "name"
      - "dataResidency"
      - "notifications"
      properties:
        workspaceId:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        dataResidency:
          type: "string"
        notifications:
          $ref: "#/components/schemas/NotificationsConfig"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    NotificationsConfig:
      description: "Configures workspace notifications."
      type: "object"
      properties:
        failure:
          $ref: "#/components/schemas/NotificationConfig"
        success:
          $ref: "#/components/schemas/NotificationConfig"
        connectionUpdate:
          $ref: "#/components/schemas/NotificationConfig"
        connectionUpdateActionRequired:
          $ref: "#/components/schemas/NotificationConfig"
        syncDisabled:
          $ref: "#/components/schemas/NotificationConfig"
        syncDisabledWarning:
          $ref: "#/components/schemas/NotificationConfig"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    NotificationConfig:
      description: "Configures a notification."
      type: "object"
      properties:
        email:
          $ref: "#/components/schemas/EmailNotificationConfig"
        webhook:
          $ref: "#/components/schemas/WebhookNotificationConfig"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    WebhookNotificationConfig:
      description: "Configures a webhook notification."
      type: "object"
      properties:
        enabled:
          type: "boolean"
        url:
          type: "string"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    EmailNotificationConfig:
      description: "Configures an email notification."
      type: "object"
      properties:
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Workspace"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UserResponse:
      title: "Root Type for UserResponse"
      description: "Provides details of a single user in an organization."
      type: "object"
      required:
      - "id"
      - "name"
      - "email"
      properties:
        name:
          description: "Name of the user"
          type: "string"
        id:
          $ref: "#/components/schemas/UserId"
        email:
          type: "string"
          format: "email"
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    UsersResponse:
      title: "Root Type for UsersResponse"
      description: "List/Array of multiple users in an organization"
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/UserResponse"
      x-speakeasy-component: true
      x-speakeasy-entity: "User"
      x-speakeasy-param-suppress-computed-diff: true
    PermissionCreateRequest:
      required:
      - "permissionType"
      - "userId"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PublicPermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionUpdateRequest:
      required:
      - "permissionType"
      type: "object"
      properties:
        permissionType:
          $ref: "#/components/schemas/PermissionType"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionResponse:
      title: "Root Type for PermissionResponse"
      description: "Provides details of a single permission."
      type: "object"
      required:
      - "permissionId"
      - "permissionType"
      - "userId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        workspaceId:
          $ref: "#/components/schemas/WorkspaceId"
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionScope:
      description: "Scope of a single permission, e.g. workspace, organization"
      type: "string"
      enum:
      - "workspace"
      - "organization"
      - "none"
      x-speakeasy-component: true
    PermissionResponseRead:
      title: "Root type for PermissionResponseRead"
      description: "Reformat PermissionResponse with permission scope"
      type: "object"
      required:
      - "permissionId"
      - "permissionType"
      - "userId"
      - "scope"
      - "scopeId"
      properties:
        permissionId:
          type: "string"
          format: "uuid"
        permissionType:
          $ref: "#/components/schemas/PermissionType"
        userId:
          $ref: "#/components/schemas/UserId"
        scopeId:
          type: "string"
          format: "uuid"
        scope:
          $ref: "#/components/schemas/PermissionScope"
      x-speakeasy-entity: "Permission"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    PermissionsResponse:
      title: "Root Type for PermissionsResponse"
      description: "List/Array of multiple permissions"
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/PermissionResponseRead"
      x-speakeasy-component: true
    OrganizationResponse:
      title: "Root Type for OrganizationResponse"
      description: "Provides details of a single organization for a user."
      type: "object"
      required:
      - "organizationId"
      - "organizationName"
      - "email"
      properties:
        organizationId:
          $ref: "#/components/schemas/OrganizationId"
        organizationName:
          type: "string"
        email:
          type: "string"
          format: "email"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    OrganizationsResponse:
      title: "Root Type for OrganizationsResponse"
      description: "List/Array of multiple organizations."
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/OrganizationResponse"
      x-speakeasy-component: true
    ConnectionsResponse:
      title: "Root Type for ConnectionsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionResponse"
          default: []
      example:
        next: "https://api.airbyte.com/v1/connections?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/connections?limit=5&offset=0"
        data:
        - name: "test-connection"
        - connection_id: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
        - sourceId: "49237019-645d-47d4-b45b-5eddf97775ce"
        - destinationId: "al312fs-0ab1-4f72-9ed7-0b8fc27c5826"
        - schedule:
            scheduleType: "manual"
        - status: "active"
      x-speakeasy-component: true
    SourcesResponse:
      title: "Root Type for SourcesResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/SourceResponse"
      example:
        next: "https://api.airbyte.com/v1/sources?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/sources?limit=5&offset=0"
        data:
          sourceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          sourceType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    DestinationsResponse:
      title: "Root Type for DestinationsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DestinationResponse"
      example:
        next: "https://api.airbyte.com/v1/destinations?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/destinations?limit=5&offset=0"
        data:
          destinationId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Analytics Team Postgres"
          destinationType: "postgres"
          workspaceId: "871d9b60-11d1-44cb-8c92-c246d53bf87e"
      x-speakeasy-component: true
    ConnectorDefinitionsResponse:
      title: "Root Type for DefinitionsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectorDefinitionResponse"
      x-speakeasy-component: true
    CreateDeclarativeSourceDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "workspaceId"
      - "name"
      - "manifest"
      properties:
        name:
          type: "string"
        manifest:
          $ref: "#/components/schemas/DeclarativeManifest"
    UpdateDeclarativeSourceDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "manifest"
      properties:
        manifest:
          $ref: "#/components/schemas/DeclarativeManifest"
    DeclarativeSourceDefinitionsResponse:
      title: "Root Type for DeclarativeSourceDefinitionsResponse"
      description: ""
      x-speakeasy-component: true
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DeclarativeSourceDefinitionResponse"
    DeclarativeSourceDefinitionResponse:
      type: "object"
      x-speakeasy-component: true
      required:
      - "id"
      - "name"
      - "manifest"
      - "version"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        manifest:
          $ref: "#/components/schemas/DeclarativeManifest"
        version:
          x-speakeasy-terraform-ignore: true
          $ref: "#/components/schemas/ManifestVersion"
    CreateDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "name"
      - "dockerRepository"
      - "dockerImageTag"
      properties:
        name:
          type: "string"
        dockerRepository:
          type: "string"
        dockerImageTag:
          type: "string"
        documentationUrl:
          type: "string"
          format: "uri"
    UpdateDefinitionRequest:
      type: "object"
      x-speakeasy-component: true
      required:
      - "name"
      - "dockerImageTag"
      properties:
        name:
          type: "string"
        dockerImageTag:
          type: "string"
    DefinitionsResponse:
      title: "Root Type for DefinitionsResponse"
      description: ""
      x-speakeasy-component: true
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DefinitionResponse"
    DefinitionResponse:
      title: "Root Type for DefinitionResponse"
      description: "Provides details of a single connector definition."
      type: "object"
      x-speakeasy-component: true
      required:
      - "id"
      - "name"
      - "dockerRepository"
      - "dockerImageTag"
      properties:
        id:
          format: "UUID"
          type: "string"
        name:
          type: "string"
        dockerRepository:
          type: "string"
        dockerImageTag:
          type: "string"
        documentationUrl:
          type: "string"
    WorkspacesResponse:
      title: "Root Type for WorkspacesResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        previous:
          type: "string"
        next:
          type: "string"
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/WorkspaceResponse"
      example:
        next: "https://api.airbyte.com/v1/workspaces?limit=5&offset=10"
        previous: "https://api.airbyte.com/v1/workspaces?limit=5&offset=0"
        data:
          workspaceId: "18dccc91-0ab1-4f72-9ed7-0b8fc27c5826"
          name: "Acme Company"
          dataResidency: "auto"
      x-speakeasy-component: true
    TagsResponse:
      title: "Root Type for TagsResponse"
      description: ""
      required:
      - "data"
      type: "object"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/TagResponse"
      x-speakeasy-component: true
    StreamConfiguration:
      description: "Configurations for a single stream."
      type: "object"
      required:
      - "name"
      properties:
        name:
          type: "string"
        namespace:
          type: "string"
          description: "Namespace of the stream."
        syncMode:
          $ref: "#/components/schemas/ConnectionSyncModeEnum"
        cursorField:
          description: "Path to the field that will be used to determine if a record\
            \ is new or modified since the last sync. This field is REQUIRED if `sync_mode`\
            \ is `incremental` unless there is a default."
          type: "array"
          items:
            type: "string"
        primaryKey:
          description: "Paths to the fields that will be used as primary key. This\
            \ field is REQUIRED if `destination_sync_mode` is `*_dedup` unless it\
            \ is already supplied by the source schema."
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        includeFiles:
          description: "Whether to move raw files from the source to the destination\
            \ during the sync."
          type: "boolean"
        destinationObjectName:
          description: "The name of the destination object that this stream will be\
            \ written to, used for data activation destinations."
          type: "string"
        selectedFields:
          description: "By default (if not provided in the request) all fields will\
            \ be synced. Otherwise, only the fields in this list will be synced."
          $ref: "#/components/schemas/SelectedFields"
        mappers:
          description: "Mappers that should be applied to the stream before writing\
            \ to the destination."
          type: "array"
          items:
            $ref: "#/components/schemas/ConfiguredStreamMapper"
      x-speakeasy-component: true
    StreamConfigurations:
      description: "A list of configured stream options for a connection."
      type: "object"
      properties:
        streams:
          type: "array"
          format: "set"
          items:
            $ref: "#/components/schemas/StreamConfiguration"
      x-speakeasy-component: true
    StreamPropertiesResponse:
      description: "A list of stream properties."
      type: "array"
      items:
        $ref: "#/components/schemas/StreamProperties"
      x-speakeasy-component: true
    StreamProperties:
      description: "The stream properties associated with a connection."
      type: "object"
      properties:
        streamName:
          type: "string"
        syncModes:
          type: "array"
          items:
            $ref: "#/components/schemas/ConnectionSyncModeEnum"
        streamnamespace:
          type: "string"
        defaultCursorField:
          type: "array"
          items:
            type: "string"
        sourceDefinedCursorField:
          type: "boolean"
        sourceDefinedPrimaryKey:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
        propertyFields:
          type: "array"
          items:
            type: "array"
            items:
              type: "string"
      x-speakeasy-component: true
    ConnectionSyncModeEnum:
      enum:
      - "full_refresh_overwrite"
      - "full_refresh_overwrite_deduped"
      - "full_refresh_append"
      - "full_refresh_update"
      - "full_refresh_soft_delete"
      - "incremental_append"
      - "incremental_deduped_history"
      - "incremental_update"
      - "incremental_soft_delete"
      x-speakeasy-component: true
    ActorTypeEnum:
      description: "Whether you're setting this override for a source or destination"
      enum:
      - "source"
      - "destination"
      x-speakeasy-component: true
    RegionCreateRequest:
      type: "object"
      required:
      - "name"
      - "organizationId"
      properties:
        name:
          type: "string"
        organizationId:
          type: "string"
          format: "uuid"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Region"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    RegionPatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Region"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    RegionResponse:
      type: "object"
      required:
      - "regionId"
      - "name"
      - "organizationId"
      - "enabled"
      - "createdAt"
      - "updatedAt"
      properties:
        regionId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        organizationId:
          type: "string"
          format: "uuid"
        enabled:
          type: "boolean"
        createdAt:
          type: "string"
        updatedAt:
          type: "string"
      x-speakeasy-entity: "Region"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    RegionsResponse:
      type: "object"
      required:
      - "data"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/RegionResponse"
      x-speakeasy-component: true
    DataplaneCreateRequest:
      type: "object"
      required:
      - "regionId"
      - "name"
      properties:
        regionId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Dataplane"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DataplanePatchRequest:
      type: "object"
      properties:
        name:
          type: "string"
        enabled:
          type: "boolean"
      x-speakeasy-entity: "Dataplane"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DataplaneResponse:
      type: "object"
      required:
      - "dataplaneId"
      - "name"
      - "regionId"
      - "enabled"
      - "createdAt"
      - "updatedAt"
      properties:
        dataplaneId:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        regionId:
          type: "string"
          format: "uuid"
        enabled:
          type: "boolean"
        createdAt:
          type: "string"
        updatedAt:
          type: "string"
      x-speakeasy-entity: "Dataplane"
      x-speakeasy-param-suppress-computed-diff: true
      x-speakeasy-component: true
    DataplanesResponse:
      type: "object"
      required:
      - "data"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/DataplaneResponse"
      x-speakeasy-component: true
    ConfigTemplateListResponse:
      type: "object"
      required:
      - "data"
      properties:
        data:
          type: "array"
          items:
            $ref: "#/components/schemas/ConfigTemplateListItem"
      x-speakeasy-component: true
    ConfigTemplateListItem:
      type: "object"
      required:
      - "id"
      - "name"
      - "icon"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        icon:
          type: "string"
      x-speakeasy-component: true
    ConfigTemplatePublicRead:
      type: "object"
      required:
      - "id"
      - "name"
      - "icon"
      - "sourceDefinitionId"
      - "configTemplateSpec"
      - "partialDefaultConfig"
      properties:
        id:
          type: "string"
          format: "uuid"
        name:
          type: "string"
          description: "Name of the associated actor definition"
        icon:
          type: "string"
          description: "url to icon in connector asset (svg) registry"
        sourceDefinitionId:
          type: "string"
          format: "uuid"
        configTemplateSpec:
          $ref: "#/components/schemas/SourceDefinitionSpecification"
        partialDefaultConfig:
          type: "object"
      x-speakeasy-component: true
    ConfigTemplateCreateRequestBody:
      type: "object"
      required:
      - "actorDefinitionId"
      - "partialDefaultConfig"
      - "organizationId"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        actorDefinitionId:
          $ref: "#/components/schemas/ActorDefinitionId"
        partialDefaultConfig:
          $ref: "#/components/schemas/SourceConfiguration"
        partialUserConfigSpec:
          $ref: "#/components/schemas/SourceConfiguration"
      x-speakeasy-component: true
    ConfigTemplateCreateResponse:
      type: "object"
      required:
      - "id"
      properties:
        id:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    ConfigTemplateUpdateRequestBody:
      type: "object"
      required:
      - "organizationId"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        partialDefaultConfig:
          $ref: "#/components/schemas/SourceConfiguration"
        partialUserConfigSpec:
          $ref: "#/components/schemas/SourceConfiguration"
      x-speakeasy-component: true
    ConfigTemplateUpdateResponse:
      type: "object"
      required:
      - "id"
      properties:
        id:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedWidgetRequest:
      type: "object"
      required:
      - "allowedOrigin"
      - "externalUserId"
      - "organizationId"
      properties:
        allowedOrigin:
          type: "string"
        externalUserId:
          type: "string"
        organizationId:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedWidgetResponse:
      type: "object"
      required:
      - "token"
      properties:
        token:
          type: "string"
      x-speakeasy-component: true
    ConnectionTemplateCreateRequestBody:
      type: "object"
      required:
      - "destinationConfiguration"
      - "organizationId"
      - "destinationName"
      - "destinationActorDefinitionId"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        destinationName:
          type: "string"
        destinationConfiguration:
          $ref: "#/components/schemas/DestinationConfiguration"
        destinationActorDefinitionId:
          $ref: "#/components/schemas/ActorDefinitionId"
        namespaceDefinitionType:
          $ref: "#/components/schemas/NamespaceDefinitionType"
          description: "The namespace definition type for the connection. This is\
            \ used to determine how the namespace is defined for the connection. If\
            \ none is provided, the namespace will be set to ${WORKSPACE_NAME}."
        namespaceFormat:
          type: "string"
          default: null
        prefix:
          type: "string"
        schedule:
          $ref: "#/components/schemas/AirbyteApiConnectionSchedule"
          description: "The schedule for connections. If none is provided, syncs will\
            \ run every hour."
        resourceRequirements:
          $ref: "#/components/schemas/ResourceRequirements"
        nonBreakingChangesPreference:
          $ref: "#/components/schemas/NonBreakingChangesPreference"
        syncOnCreate:
          type: "boolean"
          default: true
      x-speakeasy-component: true
    ConnectionTemplateCreateResponse:
      type: "object"
      required:
      - "id"
      properties:
        id:
          type: "string"
          format: "uuid"
      x-speakeasy-component: true
    EmbeddedOrganizationsList:
      required:
      - "organizations"
      properties:
        organizations:
          type: "array"
          items:
            $ref: "#/components/schemas/EmbeddedOrganizationListItem"
      x-speakeasy-component: true
    EmbeddedOrganizationListItem:
      type: "object"
      required:
      - "organizationId"
      - "organizationName"
      - "permission"
      properties:
        organizationId:
          type: "string"
          format: "uuid"
        organizationName:
          type: "string"
        permission:
          $ref: "#/components/schemas/PermissionType"
      x-speakeasy-component: true

    SourceConfiguration:
      description: The values required to configure the source.
      example: { user: "charles" }

    DestinationConfiguration:
      description: The values required to configure the destination.
      example: { user: "charles" }
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: []
