@use "scss/variables";
@use "scss/colors";

.row {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-xs;
  border: variables.$border-thin solid colors.$grey-300;
  padding: variables.$spacing-md;
  min-width: variables.$width-modal-md;

  input {
    font-size: variables.$font-size-md;
    width: fit-content;

    ::placeholder {
      font-size: variables.$font-size-md;
    }
  }

  &__content {
    flex: 1;
  }

  &__contentItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: variables.$spacing-xs;
    align-items: flex-start;
    min-height: variables.$form-input-height;

    &--input {
      width: variables.$width-extra-wide-menu;
    }
  }
}

.controlButton {
  padding: 7px 8px;
  line-height: 1.2;
  white-space: nowrap;
}

// will change library component behavior in https://github.com/airbytehq/airbyte-internal-issues/issues/11277
// for now setting this as a one off
.disabled.disabled {
  cursor: default;
}
