@use "scss/colors";
@use "scss/mixins";
@use "scss/variables";

.button {
  @include mixins.shadow;

  background: colors.$primary;
  border-radius: variables.$border-radius-lg;
  border: none;
  padding: variables.$spacing-xl variables.$spacing-xl;
  width: 100%;
}
