@use "scss/variables";
@use "scss/colors";

.container {
  display: inline-flex;
  align-items: center;
}

.jsonPreview {
  // No overflow or max-height.
  // The parent modalContent will handle scrolling
  word-break: break-word;
  white-space: pre-wrap;
}

.toggleContainer {
  border: 1px solid colors.$grey-200;
  border-radius: variables.$border-radius-sm;
  padding: variables.$spacing-xs;
  cursor: pointer;
}

// The switch is just for presentation only, so disable all interactions with it.
// A wrapping div was needed to fully isolate the Switch from the toggle container.
.switchWrapper {
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
