@use "scss/colors";
@use "scss/variables";

.removeButton {
  padding-top: variables.$spacing-md;
}

.addButtonContainer {
  padding-bottom: variables.$spacing-xl;
}

.listBoxError {
  & button {
    border: 1px solid colors.$red-200;
  }
}
