@use "scss/colors";
@use "scss/variables";

.container {
  height: 18px;
  width: 18px;
  cursor: pointer;
  background: colors.$foreground;
  color: colors.$foreground;
  border: 1px solid colors.$grey-200;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: variables.$spacing-xs;
  flex-shrink: 0;

  &.checked {
    border-color: colors.$blue;
  }

  &.checked::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: colors.$blue;
    border-radius: 50%;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.input {
  position: absolute;
  visibility: hidden;
}
