@use "scss/mixins";

.error {
  flex: 1;
}

.breakingChangeButton {
  align-self: center;
}

.internalErrorMessage {
  font-family: monospace;
  max-height: calc(
    100vh - var(--message-children-top-distance, 336px) - var(--message-children-bottom-distance, 25px)
  ); // 336 offset + 25 for bottom padding

  overflow-y: auto;
}

.buttonLikeLink {
  @include mixins.link-text;
}
