@use "scss/variables";

.container {
  grid-area: connection-page-content;
  overflow-y: auto;
  display: flex;
  gap: variables.$spacing-md;
  flex-direction: column;
  padding: variables.$spacing-xl;
}
