@use "scss/colors";
@use "scss/variables";

.container {
  display: flex;
  align-items: center;
  gap: variables.$spacing-sm;
}

.label {
  font-size: variables.$font-size-md;
  line-height: 1.3;
  font-weight: 400;
  color: colors.$grey-400;
  display: inline-block;
  text-align: left;

  &:not(.disabled) {
    cursor: pointer;
  }
}
