{{- if .Values.workloadLauncher.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-workload-launcher
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
    {{- if .Values.workloadLauncher.extraLabels }}
    {{ toYaml (mergeOverwrite .Values.workloadLauncher.extraLabels .Values.global.extraLabels) | nindent 4 }}
    {{- end }}
  annotations:
    {{ toYaml .Values.workloadLauncher.annotations | nindent 4 }}
spec:
  replicas: {{ .Values.workloadLauncher.replicaCount }}
  selector:
    matchLabels:
      {{- include "airbyte.selectorLabels" . | nindent 6 }}
      {{- if .Values.workloadLauncher.extraSelectorLabels }}
      {{ toYaml (mergeOverwrite .Values.workloadLauncher.extraSelectorLabels .Values.global.extraSelectorLabels) | nindent 6 }}
      {{- end }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "airbyte.selectorLabels" . | nindent 8 }}
        {{- if .Values.workloadLauncher.extraSelectorLabels }}
        {{ toYaml (mergeOverwrite .Values.workloadLauncher.extraSelectorLabels .Values.global.extraSelectorLabels) | nindent 8 }}
        {{- end }}
        {{- if .Values.workloadLauncher.podLabels}}
          {{- include "airbyte.tplvalues.render" (dict "value" .Values.workloadLauncher.podLabels "context" $) | nindent 8 }}
        {{- end }}
      {{- if .Values.workloadLauncher.podAnnotations }}
      annotations:
        {{- include "airbyte.tplvalues.render" (dict "value" .Values.workloadLauncher.podAnnotations "context" $) | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ default .Values.global.serviceAccountName .Values.workloadLauncher.serviceAccountName }}
      automountServiceAccountToken: true
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
          {{- printf "- name: %s" .name | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- if .Values.workloadLauncher.nodeSelector }}
      nodeSelector: {{- include "airbyte.tplvalues.render" (dict "value" .Values.workloadLauncher.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.workloadLauncher.tolerations }}
      tolerations: {{- include "airbyte.tplvalues.render" (dict "value" .Values.workloadLauncher.tolerations "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.workloadLauncher.affinity }}
      affinity: {{- include "airbyte.tplvalues.render" (dict "value" .Values.workloadLauncher.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.workloadLauncher.extraInitContainers }}
      initContainers:
      {{- toYaml .Values.workloadLauncher.extraInitContainers | nindent 6 }}
      {{- end }}
      containers:
      - name: airbyte-workload-launcher-container
        image: {{ include "imageUrl" (list .Values.workloadLauncher.image $) }}
        imagePullPolicy: "{{ .Values.workloadLauncher.image.pullPolicy }}"
        env:
        {{- if .Values.workloadLauncher.debug.enabled }}
        - name: JAVA_TOOL_OPTIONS
          value: "-Xdebug -agentlib:jdwp=transport=dt_socket,address=0.0.0.0:{{ .Values.workloadLauncher.debug.remoteDebugPort }},server=y,suspend=n"
        {{- end}}

        {{- include "airbyte.cluster.envs" . | nindent 8 }}
        {{- include "airbyte.common.envs" . | nindent 8 }}
        {{- include "airbyte.database.envs" . | nindent 8 }}
        {{- include "airbyte.database.migrations.envs" . | nindent 8 }}
        {{- include "airbyte.jobs.envs" . | nindent 8 }}
        {{- include "airbyte.jobs.errors.envs" . | nindent 8 }}
        {{- include "airbyte.jobs.scheduling.envs" . | nindent 8 }}
        {{- include "airbyte.logging.envs" . | nindent 8 }}
        {{- include "airbyte.metrics.envs" . | nindent 8 }}
        {{- include "airbyte.micronaut.envs" . | nindent 8 }}
        {{- include "airbyte.storage.envs" . | nindent 8 }}
        {{- include "airbyte.secretsManager.envs" . | nindent 8 }}
        {{- include "airbyte.temporal.envs" . | nindent 8 }}
        {{- include "airbyte.temporal.worker.envs" . | nindent 8 }}
        {{- include "airbyte.tracking.envs" . | nindent 8 }}
        {{- include "airbyte.worker.envs" . | nindent 8 }}
        {{- include "airbyte.workloadApiServer.envs" . | nindent 8 }}
        {{- include "airbyte.workloads.envs" . | nindent 8 }}
        {{- include "airbyte.workloads.queues.envs" . | nindent 8 }}
        {{- include "airbyte.workloads.resources.envs" . | nindent 8 }}
        {{- include "airbyte.workloadLauncher.envs" . | nindent 8 }}
        {{- include "airbyte.workloadLauncher.dataPlane.envs" . | nindent 8 }}
        {{- include "airbyte.workloadLauncher.images.envs" . | nindent 8 }}

        {{- if .Values.global.datadog.enabled }}
        - name: DD_SERVICE 
          value: {{ include "airbyte.componentNameWithAirbytePrefix" . }}
        {{- include "airbyte.datadog.envs" . | nindent 8 }}
        {{- include "airbyte.otel.envs" . | nindent 8 }}
        {{- end}}

        {{- if (eq .Values.global.edition "enterprise") }}
        {{- include "airbyte.enterprise.envs" . | nindent 8 }}
        {{- end }}

        {{- if (eq .Values.global.edition "cloud") }}
        {{- include "airbyte.featureFlags.envs" . | nindent 8 }}
        {{- include "airbyte.temporal.cloud.envs" . | nindent 8 }}
        {{- include "airbyte.temporal.cloud.credentials.envs" . | nindent 8 }}
        {{- end }}

        # Values from secret
        {{- if .Values.workloadLauncher.secrets }}
        {{- range $k, $v := .Values.workloadLauncher.secrets }}
        - name: {{ $k }}
          valueFrom:
            secretKeyRef:
              name: workload-launcher-secrets
              key: {{ $k }}
        {{- end }}
        {{- end }}

        # Values from env
        {{- if or .Values.workloadLauncher.env_vars .Values.global.env_vars }}
        {{- range $k, $v := mergeOverwrite .Values.workloadLauncher.env_vars .Values.global.env_vars }}
        - name: {{ $k }}
          value: {{ $v | quote }}
        {{- end }}
        {{- end }}

        # Values from extraEnv for more compability(if you want to use external secret source or other stuff)
        {{- if .Values.workloadLauncher.extraEnv }}
        {{- toYaml .Values.workloadLauncher.extraEnv | nindent 8 }}
        {{- end }}

        {{- if .Values.workloadLauncher.livenessProbe.enabled }}
        livenessProbe:
          httpGet:
            path: /health/liveness
            port: management
          initialDelaySeconds: {{ .Values.workloadLauncher.livenessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.workloadLauncher.livenessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.workloadLauncher.livenessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.workloadLauncher.livenessProbe.successThreshold }}
          failureThreshold: {{ .Values.workloadLauncher.livenessProbe.failureThreshold }}
        {{- end }}
        {{- if .Values.workloadLauncher.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /health/readiness
            port: management
          initialDelaySeconds: {{ .Values.workloadLauncher.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.workloadLauncher.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.workloadLauncher.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.workloadLauncher.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.workloadLauncher.readinessProbe.failureThreshold }}
        {{- end }}
        ports:
        - name: heartbeat
          containerPort: 8016 # for heartbeat server
          protocol: TCP
        - name: management
          containerPort: {{ .Values.workloadLauncher.management.port }}
          protocol: TCP
        {{- if .Values.workloadLauncher.debug.enabled }}
        - name: debug
          containerPort: {{ .Values.workloadLauncher.debug.remoteDebugPort }}
          protocol: TCP
        {{- end }}
        {{- if .Values.workloadLauncher.resources }}
        resources: {{- toYaml .Values.workloadLauncher.resources | nindent 10 }}
        {{- end }}
        {{- if .Values.workloadLauncher.containerSecurityContext }}
        securityContext: {{- toYaml .Values.workloadLauncher.containerSecurityContext | nindent 10 }}
        {{- end }}
        volumeMounts:
        {{- if eq (include "airbyte.storage.type" .) "gcs" }}
        - name: gcs-log-creds-volume
          mountPath: {{ include "airbyte.storage.gcs.credentialsJsonPath" . | dir }}
          readOnly: true
        {{- else if eq (lower (include "airbyte.storage.type" .)) "local" }}
        - name: airbyte-storage
          mountPath: /storage
        {{- end }}
        {{- if eq (include "airbyte.cluster.type" .) "data-plane" }}
        - name: dataplane-creds-volume
          mountPath: {{ include "airbyte.workloads.containerOrchestrator.dataPlane.secretMountPath" . | dir }}
          readOnly: true
        {{- end }}
        {{- if .Values.workloadLauncher.extraVolumeMounts }}
{{- toYaml .Values.workloadLauncher.extraVolumeMounts | nindent 8 }}
        {{- end }}
        {{- if .Values.global.extraVolumeMounts }}
{{- toYaml .Values.global.extraVolumeMounts | nindent 8 }}
        {{- end }}
      {{- if .Values.workloadLauncher.extraContainers }}
      {{ toYaml .Values.workloadLauncher.extraContainers | nindent 6 }}
      {{- end }}
      {{- if .Values.global.extraContainers }}
      {{ toYaml .Values.global.extraContainers | nindent 6 }}
      {{- end }}
      securityContext: {{- toYaml .Values.workloadLauncher.podSecurityContext | nindent 8 }}
      volumes:
      {{- if eq (include "airbyte.storage.type" .) "gcs" }}
      - name: gcs-log-creds-volume
        secret:
          secretName: {{ include "airbyte.storage.secretName" . }}
          items:
            - key: {{ include "airbyte.storage.gcs.credentialsJson.secretKey" . }}
              path: "gcp.json"
      {{- else if eq (lower (include "airbyte.storage.type" .)) "local" }}
      - name: airbyte-storage
        persistentVolumeClaim:
          claimName: airbyte-storage-pvc
      {{- end }}
      {{- if eq (include "airbyte.cluster.type" .) "data-plane" }}
      - name: dataplane-creds-volume
        secret:
          secretName: {{ include "airbyte.workloads.containerOrchestrator.dataPlane.secretName" . }}
          items:
            - key: {{ include "airbyte.workloads.containerOrchestrator.dataPlane.secretKey" . }}
              path: "sa.json"
      {{- end }}
      {{- if .Values.workloadLauncher.extraVolumes }}
{{- toYaml .Values.workloadLauncher.extraVolumes | nindent 6 }}
      {{- end }}
      {{- if .Values.global.extraVolumes }}
{{- toYaml .Values.global.extraVolumes | nindent 6 }}
      {{- end }}
{{- end }}
