@use "scss/variables";

.page {
  container-type: inline-size;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: variables.$spacing-lg;

  @container (max-width: 900px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @container (max-width: 650px) {
    grid-template-columns: minmax(0, 1fr);
  }
}
