@use "scss/variables";
@use "scss/colors";

.listboxContainer {
  max-width: 300px;
}

.controlButton {
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-sm;
  border: variables.$border-thin solid colors.$grey-300;
  min-height: auto;
  height: variables.$button-height-xs;
}

.controlButtonLabel {
  width: calc(100% - variables.$spacing-lg);

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }
}

.periodOptionsMenu {
  white-space: nowrap;
}

.connectorOptionsMenu {
  display: block;
  overflow: auto;
  width: 300px;
  max-height: variables.$height-long-listbox-options-list;
}
