@use "scss/variables";
@use "scss/colors";

.container {
  margin-top: variables.$spacing-lg;
  width: 100%;
}

.withBottomMargin {
  margin-bottom: variables.$spacing-lg;
}

.enrollLink {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: colors.$blue;
}
