@use "scss/variables";
@use "scss/colors";

.container {
  padding: variables.$spacing-lg variables.$spacing-xl;
  width: 100%;
  border-radius: variables.$border-radius-md;
  background-color: colors.$blue-200;
  background-image: url("./longtail-connectors.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: -50px;
}

.title {
  text-transform: uppercase;
  color: colors.$white;
}

.description {
  color: colors.$white;
}

.flexRow {
  width: 100%;
}

.enrollButton {
  margin-left: auto;
}
