@use "scss/variables";
@use "scss/colors";

.removeButton {
  border: none;
  background-color: transparent;
  color: colors.$grey;
  cursor: pointer;
  padding: 0;
  height: 10px;
  font-size: 18px;
  transition: variables.$transition;
  display: flex;
  align-items: center;

  &:hover {
    color: colors.$red;
  }

  &:disabled {
    color: colors.$grey-200;
    cursor: not-allowed;
  }
}
