@use "scss/variables";
@use "scss/colors";

.optionsMenu {
  background-color: colors.$foreground;
  border-radius: variables.$border-radius-lg;
  box-shadow: variables.$box-shadow-raised;
  padding: 0;
  margin-top: variables.$spacing-sm;
  min-width: variables.$min-width-listbox-options-list;
  max-height: variables.$height-long-listbox-options-list;
  overflow: auto;
}

.optionValue {
  padding: variables.$spacing-md variables.$spacing-lg;
  cursor: pointer;
}

.focus {
  background-color: colors.$grey-50;
  height: 100%;
  width: 100%;
}

.selected {
  background-color: colors.$blue-50;
}

.description {
  color: colors.$grey-400;
}

.optionInstructions {
  cursor: not-allowed;
  font-size: variables.$font-size-md;
  line-height: 1.2;
}

.optionLoading {
  color: colors.$grey-400;
}
