@use "scss/colors";
@use "scss/variables";

// Export colors to be used in monaco editor
:export {
  string: colors.$dark-blue;
  type: colors.$blue-500;
  number: colors.$orange-600;
  delimiter: colors.$inverse;
  keyword: colors.$green-600;
  lineNumber: colors.$grey-300;
  lineNumberActive: colors.$grey-900;
  line: colors.$grey-50;
  scrollShadow: colors.$grey-100;
  comment: colors.$grey-400;
  cursor: colors.$inverse;
  selection: colors.$dark-blue-50;
  inactiveSelection: colors.$dark-blue-40;
  paddingTop: variables.$spacing-lg;
  jinja: colors.$blue-500;
}
