@use "scss/colors";

// Export colors to be used in monaco editor
:export {
  string: colors.$dark-blue;
  type: colors.$blue-500;
  number: colors.$orange-600;
  delimiter: colors.$inverse;
  keyword: colors.$green-600;
  lineNumber: colors.$dark-blue-300;
  lineNumberActive: colors.$dark-blue;
  line: colors.$grey-100;
  scrollShadow: colors.$grey-100;
  comment: colors.$grey-400;
  cursor: colors.$inverse;
  selection: colors.$blue-100;
  inactiveSelection: colors.$blue-50;
}
