@use "scss/colors";
@use "scss/variables";

.toggleVisibilityButton {
  width: 100%;
  line-height: 1;
  color: colors.$grey-300;
  font-style: italic;
  margin: 0;
  padding: 0 1em;
  border: none;
  background: none;
  cursor: text;
}

.leftJustified {
  text-align: left;
}

.textarea {
  overflow: auto;
}

.passwordInput {
  display: none;
}

.container {
  width: 100%;
}

.icon {
  margin-right: variables.$spacing-sm;
}
