apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-airbyte-secrets
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-weight: "-1"
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- include "airbyte.auth.bootstrap.secrets" . | nindent 2 }}
  {{- include "airbyte.auth.identityProvider.secrets" . | nindent 2 }}
  {{- include "airbyte.auth.instanceAdmin.enterprise.secrets" . | nindent 2 }}
  {{- include "airbyte.aws.secrets" . | nindent 2 }}
  {{- include "airbyte.common.secrets" . | nindent 2 }}
  {{- include "airbyte.customerio.secrets" . | nindent 2 }}
  {{- include "airbyte.connectorBuilder.secrets" . | nindent 2 }}
  {{- include "airbyte.connectorRolloutWorker.secrets" . | nindent 2 }}
  {{- include "airbyte.database.secrets" . | nindent 2 }}
  {{- include "airbyte.enterprise.secrets" . | nindent 2 }}
  {{- include "airbyte.featureFlags.secrets" . | nindent 2 }}
  {{- include "airbyte.keycloak.admin.user.secrets" . | nindent 2 }}
  {{- include "airbyte.keycloak.database.secrets" . | nindent 2 }}
  {{- include "airbyte.secretsManager.secrets" . | nindent 2 }}
  {{- include "airbyte.server.secrets" . | nindent 2 }}
  {{- include "airbyte.stigg.secrets" . | nindent 2 }}
  {{- include "airbyte.storage.secrets" . | nindent 2 }}
  {{- include "airbyte.temporal.cli.secrets" . | nindent 2 }}
  {{- include "airbyte.temporal.cloud.credentials.secrets" . | nindent 2 }}
  {{- include "airbyte.workloadLauncher.dataPlane.secrets" . | nindent 2 }}

  {{- include "airbyte.extra.secrets" . | nindent 2 }}
