@use "scss/variables";
@use "scss/colors";

.cloudWorkspacesPage__container {
  max-width: 680px;
  height: 100%;
  padding: variables.$spacing-xl;
  margin: auto;
}

.cloudWorkspacesPage__logo {
  margin-bottom: variables.$spacing-2xl;
  color: colors.$dark-blue;
}

.cloudWorkspacesPage__loadingSpinner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
