@use "scss/variables";

.container {
  max-width: 680px;
  height: 100%;
  padding: variables.$spacing-xl;
  margin: 0 auto;
  text-align: center;
}

.logo {
  margin-bottom: variables.$spacing-2xl;
}

.subtitle {
  margin: variables.$spacing-xl 0 variables.$spacing-2xl;
}
