events {}

http {
    server {
        listen 8001 default_server;

        location / {
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            client_max_body_size 200M;

            auth_basic "Welcome to Airbyte";
            auth_basic_user_file /etc/nginx/.htpasswd;

            error_page 401 /etc/nginx/401.html;
            location ~ (401.html)$ {
                alias /etc/nginx/$1;
                auth_basic off;
            }

            # If no error occurs, proceed to the test block
            try_files $uri @testblock;
        }

        location @testblock {
            # Instead of proxying to the actual service, we simply return a 200
            return 200 "Auth OK\n";
        }
    }
}

