$xsmall: 20px;
$small: 35px;
$medium: 45px;
$large: 200px;

.container {
  &:not(.fixed) {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &.xsmall {
    flex-basis: $xsmall;
    min-width: $xsmall;
  }

  &.small {
    flex-basis: $small;
    min-width: $small;
  }

  &.medium {
    flex-basis: $medium;
    min-width: $medium;
  }

  &.large {
    flex-basis: $large;
    min-width: $large;
  }
}
