# if Cloud or Pro/Enterprise, render the keycloak StatefulSet template.
{{- if or (eq .Values.global.edition "cloud") (eq .Values.global.edition "pro") (eq .Values.global.edition "enterprise") }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "airbyte.fullname" . }}
  labels:
    {{- include "airbyte.labels" . | nindent 4 }}
      {{- if .Values.extraLabels }}
      {{ toYaml (mergeOverwrite .Values.extraLabels .Values.global.extraLabels) | nindent 4 }}
      {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  serviceName: {{.Release.Name }}-airbyte-keycloak-headless-svc
  podManagementPolicy: OrderedReady # embedded infinispan does not handle parallel joins well, src https://github.com/keycloak/keycloak/issues/21108#issuecomment-1599010602
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "airbyte.selectorLabels" . | nindent 6 }}
        {{- if .Values.extraLabels }}
        {{ toYaml (mergeOverwrite .Values.extraSelectorLabels .Values.global.extraSelectorLabels) | nindent 4 }}
        {{- end }}
  template:
    metadata:
      labels:
        {{- include "airbyte.selectorLabels" . | nindent 8 }}
          {{- if .Values.extraSelectorLabels }}
          {{ toYaml (mergeOverwrite .Values.extraSelectorLabels .Values.global.extraSelectorLabels) | nindent 8 }}
          {{- end }}
          {{- if .Values.podLabels }}
          {{- include "airbyte.tplvalues.render" (dict "value" .Values.podLabels "context" $) | nindent 8 }}
          {{- end }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- include "airbyte.tplvalues.render" (dict "value" .Values.podAnnotations "context" $) | nindent 8 }}
      {{- end }}
    spec:
      serviceAccountName: {{ default .Values.global.serviceAccountName .Values.serviceAccountName }}
      {{- if .Values.nodeSelector }}
      nodeSelector: {{- include "airbyte.tplvalues.render" (dict "value" .Values.nodeSelector "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations: {{- include "airbyte.tplvalues.render" (dict "value" .Values.tolerations "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.affinity }}
      affinity: {{- include "airbyte.tplvalues.render" (dict "value" .Values.affinity "context" $) | nindent 8 }}
      {{- end }}
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.global.imagePullSecrets }}
          {{- printf "- name: %s" .name | nindent 8 }}
        {{- end }}
      {{- end }}
      initContainers:
        {{- if and (or (eq .Values.global.edition "community") (eq .Values.global.edition "pro") (eq .Values.global.edition "enterprise")) (ne .Values.bypassInit true)}}
        # This init container will only executed if the deployment mode is "oss" and the bypassInit is not true.
        - name: init-db
          image: {{ include "imageUrl" (list .Values.initContainers.initDb.image $) }}
          command: [ "sh", "-c" ]
          args:
            - >
              PGPASSWORD=$DATABASE_PASSWORD psql -h $DATABASE_HOST -p $DATABASE_PORT -U $DATABASE_USER -d $DATABASE_DB -c "CREATE SCHEMA IF NOT EXISTS keycloak";
          env:
            {{- include "airbyte.database.envs" . | nindent 12 }}

          securityContext: 
            {{- toYaml .Values.initContainerSecurityContext | nindent 14 }}
        {{- end }}
        {{- if .Values.extraInitContainers }}
        {{- toYaml .Values.extraInitContainers | nindent 8 }}
        {{- end }}
      containers:
        - name: airbyte-keycloak
          image: {{ include "imageUrl" (list .Values.image $)}}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            {{- if or (eq .Values.global.edition "community") (eq .Values.global.edition "pro") (eq .Values.global.edition "enterprise") }}
            - name: KEYCLOAK_ADMIN_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secretName | default (printf "%s-airbyte-secrets" .Release.Name) }}
                  key: KEYCLOAK_ADMIN_USER
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.global.secretName | default (printf "%s-airbyte-secrets" .Release.Name) }}
                  key: KEYCLOAK_ADMIN_PASSWORD
            - name: KEYCLOAK_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-airbyte-env
                  key: KEYCLOAK_PORT
            - name: JAVA_OPTS_APPEND
              valueFrom:
                configMapKeyRef:
                  name: {{ .Release.Name }}-airbyte-env
                  key: KEYCLOAK_JAVA_OPTS_APPEND
            {{- include "airbyte.keycloak.database.envs" . | nindent 12 }}
            {{- end }} # end if oss

            {{- if .Values.extraEnv }}
            {{ .Values.extraEnv | toYaml | nindent 12 }}
            {{- end }}

            # Values from secret
            {{- if .Values.secrets }}
            {{- range $k, $v := .Values.secrets }}
            - name: {{ $k }}
              valueFrom:
                secretKeyRef:
                  name: keycloak-secrets
                  key: {{ $k }}
            {{- end }}
            {{- end }}

            # Values from env
            {{- if .Values.env_vars }}
            {{- range $k, $v := mergeOverwrite .Values.env_vars .Values.global.env_vars }}
            - name: {{ $k }}
              value: {{ $v | quote }}
            {{- end }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
            - containerPort: 7800
          {{- if .Values.containerSecurityContext }}
          securityContext: {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: keycloak-storage
              mountPath: /opt/keycloak/data/infinispan
          {{- if .Values.extraVolumeMounts }}
          {{ toYaml .Values.extraVolumeMounts | nindent 10 }}
          {{- end }}
          {{- if .Values.resources }}
          resources: {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
          {{- if .Values.livenessProbe.enabled }}
          livenessProbe:
            httpGet:
              path: /auth/health/live
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.livenessProbe.successThreshold }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.readinessProbe.enabled }}
          readinessProbe:
            httpGet:
              path: /auth/health/ready
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
            successThreshold: {{ .Values.readinessProbe.successThreshold }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
          {{- end }}
          {{- if .Values.startupProbe.enabled }}
          startupProbe:
            httpGet:
              path: /auth/health/started
              port: {{ .Values.service.port }}
            initialDelaySeconds: {{ .Values.startupProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.startupProbe.periodSeconds }}
            timeoutSeconds: {{ .Values.startupProbe.timeoutSeconds }}
            successThreshold: {{ .Values.startupProbe.successThreshold }}
            failureThreshold: {{ .Values.startupProbe.failureThreshold }}
          {{- end }}
      {{- if .Values.extraContainers }}
      {{ toYaml .Values.extraContainers | nindent 8 }}
      {{- end }}
      {{- if .Values.global.extraContainers }}
      {{ toYaml .Values.global.extraContainers | nindent 8 }}
      {{- end }}
      securityContext: {{- toYaml .Values.podSecurityContext | nindent 10 }}
      volumes:
      {{- if .Values.extraVolumes }}
      {{ toYaml .Values.extraVolumes | nindent 8 }}
      {{- end }}
  volumeClaimTemplates:
  - metadata:
      name: keycloak-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
{{- end }}
